{% extends 'base/base.html' %}
{% block content %}
{% load static %}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Unit
                <div class="page-title-subheading">You can view all created units here

                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target="#createBanner" id="test" onclick="cleardata1()">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="lnr-picture"></i>
                    </span>
                    Create unit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                {% if allunits|length == 0 %}

                <div class="text-center">No data found!</div>

                {% else %}
                <tr>
                    <th>No.</th>
                    <th>unit</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>

                </tr>

            </thead>
            <tbody>
                {% for i in allunits %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.unit}}</td>

                    
                    </td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn" data-toggle="modal"
                            data-target="#editBanner" value="{{i.id}}" id="edit-banner"
                            onclick="UpdateStatus('{{i.id}}')">Edit</button></td>
                    <td><button class="btn btn-danger text-light btn-wide btn-sm mt-2"
                            onclick="deletebanner('{{i.id}}')" data-toggle="modal"
                            data-target="#delete_unit">Delete</button></td>

                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</div>


<style>
    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }
</style>
<div class="modal fade custom-modal" id="createBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Unit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'unit' %}" method="POST"  id='id_unit'>
                    {% csrf_token %}


                    <div class="container">
                        <div class="position-relative form-group">
                            <label for="Tax name" class="custom-label">Unit name</label>
                            <input name="unitname" id="unitName" placeholder="Enter unit name(Example:per person,per day..etc)" type="text"
                                class="form-control custom-input " required>
                        </div>
                    </div>
            </div>
            <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3">Create</button>
            </form>
        </div>
    </div>
</div>
</div>


<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="editBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit unit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'edit-unit' %}" method="POST" id="newbanneredit">
                    {% csrf_token %}
                    <div class=" position-relative form-group">
                        <label for="editTaxName" class="custom-label">Unit</label>
                        <input name="edittaxname" id="edittaxname" placeholder="" type="text"
                            class="form-control custom-input " value="">
                    </div>
                    <input type="hidden" value="" id="edit-id-unit" name="edit-id-unit">

                    <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        >Update</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>

    $('#submit-banner').on('change', function () {
        var myurl = document.getElementById("uploaded-file").getElementsByTagName("item-img-output")[0].src;
    });

    function UpdateStatus(id) {

        $('#edit-id-unit').val(id)
        $.ajax({
            type: "GET",
            url: '/vendor/get-unit',
            data: { data1: id },
            success: function (responsedata) {
                document.getElementById('edittaxname').value = responsedata
            }
        })

    }

    $(document).ready(function () {
        $("#test").click(function () {
        });
        $("#edit-banner").click(function () {
        })



    });

</script>
<script>
    function deletebanner(id) {
        document.getElementById("deleteunit").value = id;
    }

</script>
<!-- Delete category Modal -->
<div class="modal fade custom-modal" id="delete_unit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Unit</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'delete-unit' %}" method="POST">
                    {% csrf_token %}

                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label" id="newid">Are you sure do you want to
                            delete?</label>
                    </div>
                    <input type="hidden" name="delete-unit" id="deleteunit" value="">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2"
                        id="delete_pack">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="imagepop">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">View image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <img id="popimage" alt="image text" width="100%" height="100%"></img>
            </div>
        </div>
    </div>
</div>

{% endblock content %}