{% extends 'base/base.html' %}
{% block content %}
{% load static %}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Tax
                <div class="page-title-subheading">You can view all created Taxes here

                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target="#createBanner" id="test" onclick="cleardata1()">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="lnr-picture"></i>
                    </span>
                    Create Tax
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>

                {% if tax|length == 0 %}

                <div class="text-center">No data found!</div>

                {% else %}
                <tr>
                    <th>No.</th>
                    <th>Tax Name</th>
                    <th>In kerala / Out kerala</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>

                </tr>

            </thead>
            <tbody>
                {% for i in tax %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.tax_name}}</td>

                    <div class="form-check">
                        {% if i.flag == True %}
                        <td>Outside kerala</td>

                        {% else %}
                        <td>Inside kerala</td>
                        {% endif %}
                        <label class="form-check-label" for="flexCheckChecked">

                        </label>
                    </div>
                    </td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn" data-toggle="modal"
                            data-target="#editBanner" value="{{i.id}}" id="edit-banner"
                            onclick="UpdateStatus('{{i.id}}')">Edit</button></td>
                    <td><button class="btn btn-danger text-light btn-wide btn-sm mt-2"
                            onclick="deletebanner('{{i.id}}')" data-toggle="modal"
                            data-target="#delete_tax">Delete</button></td>

                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</div>


<style>
    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }
</style>
<div class="modal fade custom-modal" id="createBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Tax</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'create-tax' %}" method="POST" enctype="multipart/form-data" id='newtax'>
                    {% csrf_token %}


                    <div class="container">
                        <div class="position-relative form-group">
                            <label for="Tax name" class="custom-label">Tax Name</label>
                            <input name="taxname" id="taxName" placeholder="Enter Tax name" type="text"
                                class="form-control custom-input " required>
                        </div>
                        <div class="position-relative form-group">
                            <label for="Percentage" class="custom-label">Percentage</label>
                            <input name="Percentage" id="Percentage" placeholder="Enter Percentage" type="text"
                                class="form-control custom-input " required>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flag" name='radio'>
                            <label class="form-check-label" for="flexCheckChecked">
                                Outside kerala
                            </label>
                        </div>
                    </div>
            </div>


            <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                onclick="validate('#taxName','#Percentage','#flag','#newtax')">Create</button>
            </form>
        </div>
    </div>
</div>
</div>


<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="editBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Tax</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'tax-edit' %}" method="POST" id="newbanneredit">
                    {% csrf_token %}
                    <div class=" position-relative form-group">
                        <label for="editTaxName" class="custom-label">Tax Name</label>
                        <input name="edittaxname" id="edittaxname" placeholder="" type="text"
                            class="form-control custom-input " value="">
                    </div>
                    <div class=" position-relative form-group">
                        <label for="editBannerName" class="custom-label">Percentage</label>
                        <input name="editpercentage" id="editpercentage" placeholder="" type="text"
                            class="form-control custom-input " value="">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="editflag" name='editradio'>
                        <label class="form-check-label" for="flexCheckChecked">
                            Outside kerala
                        </label>
                    </div>
                    <input type="hidden" value="" id="edit-id-tax" name="edit-id-tax">

                    <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        onclick="validate('#edittaxname','#editpercentage','#editflag','#newbanneredit')">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"></script>  -->


<script>

    $('#submit-banner').on('change', function () {
        var myurl = document.getElementById("uploaded-file").getElementsByTagName("item-img-output")[0].src;
        alert(url)

        // const toDataURL = url => fetch(url)
        //     .then(response => response.blob())
        //     .then(blob => new Promise((resolve, reject) => {
        //         const reader = new FileReader()
        //         reader.onloadend = () => resolve(reader.result)
        //         reader.onerror = reject
        //         reader.readAsDataURL(blob)
        //     }))



        // function dataURLtoFile(dataurl, filename) {
        //     var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        //         bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        //     while (n--) {
        //         u8arr[n] = bstr.charCodeAt(n);
        //     }
        //     return new File([u8arr], filename, { type: mime });
        // }



        // toDataURL(url)
        //     .then(dataUrl => {
        //         console.log('Here is Base64 Url', dataUrl)
        //         var fileData = dataURLtoFile(dataUrl, "imageName.jpg");
        //         console.log("Here is JavaScript File Object", fileData)
        //         fileArr.push(fileData)
        //     })
    });

    function UpdateStatus(id) {
        // $('#editflag').prop('checked', false);
        $('#edit-id-tax').val(id)
        $.ajax({
            type: "GET",
            url: '/get/tax',
            data: { data1: id },
            success: function (responsedata) {
                console.log(responsedata,"................v.................responsedata")
                console.log(responsedata['flag'], 'flag')
                document.getElementById('editpercentage').value = ''
                document.getElementById('edittaxname').value = ''
                document.getElementById('editpercentage').value = responsedata['percentage']
                document.getElementById("edittaxname").value = responsedata['name']
                if (responsedata['flag'] == true) {
                    document.getElementById("editflag").value = 1
                    $('#editflag').prop('checked', true);
                }
                else if (responsedata['flag'] == false) {
                    document.getElementById("editflag").value = 0
                    $('#editflag').prop('checked', false);
                }
                // document.getElementById("edit-image-banner").src = responsedata['image']
            }
        })
    }

    $(document).ready(function () {



        $("#test").click(function () {


        });

        //     $(".btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light").click(function () {
        //         alert('hiiii')
        //         $(".modal-backdrop fade show").remove();
        //     });


        $("#edit-banner").click(function () {

        })



    });

    // $('form[id="banner"]').validate({
    //     rules: {
    //         name: 'required',
    //         expiry: 'required',
    //         file: 'required',
    //     },
    //     message: {
    //         name: 'This field is required',
    //         expiry: 'This field is required',
    //         file: 'required',
    //     },
    //     submitHandler: function(form) {
    //         form.submit();
    //     }
    // });

</script>
<script>
    function deletebanner(id) {

        document.getElementById("deletetax").value = id;


    }

</script>
<!-- Delete category Modal -->
<div class="modal fade custom-modal" id="delete_tax">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Tax</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'tax-delete' %}" method="POST">
                    {% csrf_token %}

                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label" id="newid">Are you sure do you want to
                            delete?</label>
                    </div>
                    <input type="hidden" name="delete_tax" id="deletetax" value="">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2"
                        id="delete_pack">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="imagepop">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">View image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <img id="popimage" alt="image text" width="100%" height="100%"></img>
            </div>

        </div>
    </div>
</div>

<script>
    const checkit = []
    function imgaepop(url) {
        // console.log("hiiiiiiiiiiiiii")
        console.log(url)
        $('#popimage').attr("src", url);

    }
    function imgaeformat(value_get) {
        var y = $(value_get)[0].files[0].name
        var newvalue = y.split('.')
        var get_last = newvalue[newvalue.length - 1]
        return get_last
    }


    function trimfield(str) {
        return str.replace(/^\s+|\s+$/g, '',);
    }
    function validate(first, second, third, fourth) {
        event.preventDefault();
        var Percentage_reg = /[+-]?([0-9]*[.])?[0-9]+/;
        // var pick = imgaeformat(second)

        var alphanumers = /^[^-\s][a-zA-Z0-9_\s-]+$/;
        var obj1 = $(first);
        var obj2 = $(second);
        var obj3 = $(third);

        if (trimfield(obj1.val()) == '') {
            console.log("hi")

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);

            obj1.focus();
            return false;


        }

        else if (!alphanumers.test(obj1.val())) {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
            $(".error-messages").text("Only alphabets and numbers allowed ").fadeIn().fadeOut(2444);

            obj1.focus();
            return false;

        }


        else if (trimfield(obj2.val()) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);
            obj2.focus();
            return false;
        }

        else if (!Percentage_reg.test(obj2.val())) {

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
            $(".error-messages").text("Only numbers allowed ").fadeIn().fadeOut(2444);
            obj2.focus();
            return false;
        }

        else {



            $(fourth).submit();
        }

    }




    function cleardata1() {
        document.getElementById("newtax").reset();
        $('#flag').prop('checked', false);
        $("#flag").val(0);

    }
    $("#flag").click(function () {
        var w = $("#flag").attr('checked');
        if ($("#flag").val() == 1) {
            $("#flag").val(0);
            $("#flag").attr('checked', false)


        }
        else if ($("#flag").val() == 0) {
            $("#flag").val(1);
            $("#flag").attr('checked', true)

        }



    })

    $("#editflag").click(function () {
        var w = $("#flag").attr('checked');
        if ($("#editflag").val() == 1) {
            $("#editflag").val(0);
            // $("#editflag").attr('checked', false)


        }
        else if ($("#editflag").val() == 0) {
            $("#editflag").val(1);
            // $("#editflag").attr('checked', true)

        }



    })

</script>

{% endblock content %}