{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<style>
    .img-edit {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>ADS
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">

            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                {% if adds|length != 0 %}
                <tr>
                    <th>No.</th>
                    <th>Product</th>
                    <th>Ads</th>
                </tr>

            </thead>
            <tbody>
                {% for i in products %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.product_name}}</td>

                    <td>{% for attr in i.add_image %} <img src="{{attr.image.url}}" class="img-edit" alt=""
                            id='edit-image{{attr.id}}' onclick="viewadd('#edit-image{{attr.id}}')">
                        {% if attr.is_approved == True %}
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        {% endif %}{% endfor %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <br>
                <br>
                <br>
                <div class="text-center">No data found!</div>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>




<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade mt-5" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" id="modal_add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>

            </div>

            <div class="modal-body">
                <img src="" id="imagepreview" style="width: 400px; height: 264px;">
                <form action="{% url 'add-reject' %}" method="POST" id="theForm" onsubmit="rejectsubmit()">
                    {% csrf_token %}

                    <input type="hidden" id=hidden-image>

                    <div class="form-group d-none" id='kk'>
                        <label for="exampleFormControlTextarea2">Reject reason</label>
                        <textarea class="form-control rounded-0"  id="exampleFormControlTextarea2" maxlength="50"
                            required></textarea>
                        <span class="error" style="color: red">
                            <p id="password_error"></p>
                        </span>
                        <input type="submit" value="Submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="text-left w-100">
                    <button type="button" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        data-dismiss="modal" onclick="approve()" id="approveid">Approve</button>
                    <button type="button" class="btn btn-hover-shine btn-danger text-light btn-wide btn-sm mt-3"
                        onclick="reject()" id="rejectid">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"></script>  -->

<script>
    function viewadd(id) {
        $("#rejectid").prop("disabled", false);
        $("#approveid").prop("disabled", false);
        $("#kk").removeClass("d-block");



        $('#imagepreview').attr('src', $(id).attr('src'));
        $('#hidden-image').attr('value', id);
        $('#imagemodal').modal('show');
        var newid = id.split('#edit-image')

    }
    function reject() {
        $('#exampleFormControlTextarea2').val('');
        document.getElementById('password_error').innerHTML = '';

        $("#kk").toggleClass("d-block");
        $("#rejectid").attr("disabled", "disabled");
        $("#approveid").attr("disabled", "disabled");



    }


    function approve() {
        var id = document.getElementById('hidden-image').value;
        $.ajax({
            type: "POST",
            url: '/add/approve',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {
                varid: id,
            },
            success: function () {
                location.reload();

            }
        });
        $(document).ajaxStop(function(){
             window.location.reload();
        });
    }
    $("#modal_add").on("hidden.bs.modal", function () {
        $(".modal-body").html("");
    });

    $('#exampleFormControlTextarea2').on('input', function () {
        var x = $(this).val()

        if (x === '') {
            document.getElementById('password_error').innerHTML = 'Required';
            var bt = document.getElementById('addsubmit');
            bt.disabled = true;

        }

        if (x !== '') {
            document.getElementById('password_error').innerHTML = '';
            var bt = document.getElementById('addsubmit');
            bt.disabled = false;



            $('#addsubmit').attr("data-dismiss", "modal");

        }
        if (x.length > 49) {
            document.getElementById('password_error').innerHTML = 'Maximum 50 characters allowed';


        }
    });
    function rejectreason(id) {
        $('#exampleFormControlTextarea2').val('');
        document.getElementById('password_error').innerHTML = '';





    }
    let button = document.querySelector("#addsubmit");
    button.disabled = true;


    function rejectsubmit() {
        var id = document.getElementById('hidden-image').value;
        text1 = document.getElementById('exampleFormControlTextarea2').value
        $.ajax({
            type: "POST",
            url: '/add/list',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {
                varid: id,
                text: text1

            },
            success: function () {
                location.reload();
            }
        })

    }
</script>



{% endblock content %}