{% extends 'base/base.html' %}
 {% block content %}
 {% load static %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row payment-details-div mt-0 pt-2">
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-3">Personal Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">First Name <span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{admin.first_name}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Last Name<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{admin.last_name}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Email<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{admin.email}}</p>
                    </div>
                </div>


            </div>
            
</div>
{% endblock content %}