{% load static %}

<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/fav.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="celebrations/static/assets/images/ajax-loader.gif">
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/assets/images/favicon/apple-icon-180x180.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login | MorWagon</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="MorWagon a complete e-commerce platform">


    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"
        rel="stylesheet">
    <link rel='stylesheet' href='https://foliotek.github.io/Croppie/croppie.css'>
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow login-container">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-7">
                        <div class="position-relative h-100 d-flex justify-content-center align-items-center"
                            tabindex="-1">
                            <div class="login-bg-div h-100 w-100"></div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-5">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div>
                                <div class="app-logo"></div>
                            </div>

                            <h4 class="mb-0">
                                <span class="d-block pb-2">Welcome back,</span>
                                <span class="sub-text">Please sign in to your account.</span>

                            </h4>
                            {% include 'base/alert.html' %}
                            <div class="divider row"></div>
                            <div>

                                {% if error %}
                                <div class="alert alert-danger">{{error}}</div>
                                {% endif %}


                                <!-- <form class=""> -->
                                <form action="{% url 'admin-login' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group"><label for="exampleEmail"
                                                    class="">Email</label><input name="email" id="exampleEmail"
                                                    placeholder="Email here..." type="text" class="form-control 
                                                    autocomplete=" off">
                                                <div class="invalid-feedback">



                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group"><label for="examplePassword"
                                                    class="">Password</label><input name="password" id="examplePassword"
                                                    placeholder="Password here..." type="password" class="form-control 
                                                    autocomplete=" off">
                                                <div class="invalid-feedback">



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div> -->
                                    <div class="d-flex mt-2">
                                        <div class="w-100">
                                            <a href="javascript:void(0);"><button type="submit"
                                                    class="btn btn-primary btn-lg theme-dark-btn"> Login</button></a>
                                            <!-- <a href="javascript:void(0);" class="btn-lg btn btn-link float-right">Reset Password</a> -->
                                            <a href="{% url 'forget-email' %}" class="forgot-link">Forgot password ?</a>
                                        </div>
                                    </div>
                                    <div class="divider row"></div>
                                    <div class="pt-2 signup-link">
                                        <p>Not a member ? <a href="{% url 'vendor_register' %}">Signup</a></p>
                                    </div>

                                </form>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>