{% extends 'base/base.html' %}
 {% block content %}
 {% load static %}
 <div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Customer Complaints
                <div class="page-title-subheading">You can view all reports here
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block ">
                <div class="alert alert-danger w-100" class="error p-2" for="tag" style="display: none" id="lmt-error" role="alert">
                    lmt error
                  </div>
                  <p id="approval-error"  class="error p-2" style="display: none" for="tag">waiting for admin's approval</p>
                  <div class="alert alert-danger w-100" class="error p-2" for="tag" style="display: none" id="exp-error" role="alert">
                    exp error
                  </div>

            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-shadow mt-2 no-filter">
    <div class="card-body">
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            
          <thead>
            <tr>
                <th>No</th>
                <th>Vendor</th>
                <th>Reason</th>
                <th>Description</th>
                <th>Suspend</th>
                <th>Delete</th>
                <th>Flag</th>
                <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            {% for i in report_vendor %}

            <tr >
                <td>{{ forloop.counter|stringformat:"02d" }}</td>
                  <td>{{i.first_name}}{{i.vendor.first_name}}</td>
                  <td>{{i.user_report.all.0.get_reason_display}}{{i.get_reason_display}}</td>
                  <td>{{i.user_report.all.0.description}}{{i.description}}
                    {%if i.count > 1 %}
                    <div>
                        <button type="button" class="btn btn-secondary expand-btn exploder{{i.id}} mt-3">
                            <i class="fa fa-plus"></i>{{i.count|add:"-1"}}
                          </button>
                    </div> 
                    {%endif %}
                  </td>
                  <td><a href="suspend_report_admin/{{i.user_report.all.0.id}}{{i.id}}"><button class="btn btn-hover-shine btn-focus btn-wide btn-sm table-btn">Suspend</button></a></td>
                  <td><a href="delete_report_admin/{{i.user_report.all.0.id}}{{i.id}}"><button class="btn btn-hover-shine btn-focus btn-wide btn-sm table-btn">Delete</button></a></td> 
                  {% if i.flag %}
                  <td>Flagged</td>
                  {% else %}
                  <td>Not flagged</td>
                  {% endif %}
            </tr>
            <!-- <tr class="explode hide{{i.id}}">
                <td class="d-none">dummy</td>
                <td class="d-none">dummy</td>
                <td class="d-none">dummy</td>
                <td class="d-none">dummy</td>
                <td class="d-none">dummy</td>
                <td class="d-none">dummy</td>
                <td colspan="7" style="background: #CCC; display: none;">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th>Reason</th>
                          <th>Description</th>
                          <th>Delete</th>
                          <th>Flag</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for j in i.user_report.all %}
                        {% if forloop.counter > 1 %}
                        <tr>
                          <td>{{j.get_reason_display }}</td>
                          <td>{{j.description}}</td>
                          <td><a href="delete_report_admin/{{j.id}}"><button class="btn btn-hover-shine btn-focus btn-wide btn-sm table-btn">Delete</button></a></td> 
                          {% if i.flag_count > 0 %}
                     
                          <td> flaged</td>
                          {%else%}
                          <td>Not flaged</td>
                          {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
                 </td>
              </tr> -->
              <script>
                  $(".exploder{{i.id}}").click(function(){
                    
                  $(this).toggleClass("btn-success btn-danger");
                    
                  //   $(this).children("span").toggleClass("glyphicon-search glyphicon-zoom-out");  
                    
                  $(this).closest("tr").next("tr").toggleClass("hide{{i.id}}");
                    
                  if($(this).closest("tr").next("tr").hasClass("hide{{i.id}}")){
                    $(this).closest("tr").next("tr").children("td").slideUp();
                  }
                  else{
                    $(this).closest("tr").next("tr").children("td").slideDown(350);
                  }
                });
                </script>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
</div>


<!-- -------------------------------------delete--modal------------------------------------------------------------------------------- -->
<div class="modal fade custom-modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Service</h4>
            </div>
           <div class="modal-body">
            <div class="position-relative form-group">
                <label for="editCategoryName" class="custom-label">Are you sure want to delete?</label>
            </div>
                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label"></label>
                    </div>
                    <input type="hidden" name="accept-id" id="vendor_accept_id" value=''>
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                        <a id="a_conform" href=""><button type="button" class="btn btn-success text-light btn-wide btn-sm mt-2" id="conform" value="" >Confirm</button></a>
                        <input type="hidden" id="id_accept_hidden" name="accept_hidden">
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->

<script>
$(".delete_service").on('click', function(){
    servicedelete=$(this).val();
$("#a_conform").attr({ href: servicedelete});
}) 
</script>


{% endblock content %}