{% extends 'base/base.html' %}
{% block content %}
{% load static %}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Banner
                <div class="page-title-subheading">You can view all created banner with type here and create new banner
                    by clicking Create Banner button
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target="#createBanner" id="test" onclick="cleardata1()">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="lnr-picture"></i>
                    </span>
                    Create Banner
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>

                {% if banner|length == 0 %}

                <div class="text-center">No data found!</div>

                {% else %}
                <tr>
                    <th>No.</th>
                    <th>Banner Name</th>
                    <th>Category </th>
                    <th>Banner Type</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>
                    <th class="nosort-th">View</th>
                </tr>

            </thead>
            <tbody>
                {% for i in banner %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.category.category_name}}</td>
                    <input type="hidden" id="custId" name="" value="{{i.id}}">
                    <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn" data-toggle="modal"
                            data-target="#editBanner" value="{{i.id}}" id="edit-banner"
                            onclick="UpdateStatus('{{i.id}}')">Edit</button></td>
                    <td><button class="btn btn-danger text-light btn-wide btn-sm mt-2"
                            onclick="deletebanner('{{i.id}}')" data-toggle="modal"
                            data-target="#delete_banner">Delete</button></td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imagepop"
                            onclick="imgaepop('{{i.image.url}}')"> Image view</button>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</div>


<style>
    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }
</style>
<div class="modal fade custom-modal" id="createBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Banner</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'banner' %}" method="POST" enctype="multipart/form-data" id='newbanner'>
                    {% csrf_token %}


                    <div class="container">
                        <div class="position-relative form-group">
                            <label for="bannerName" class="custom-label">Banner Name</label>
                            <input name="name" id="bannerName" placeholder="Enter Banner name" type="text"
                                class="form-control custom-input " required>
                        </div>

                        <!-- <div class="col"> -->
                    
                            <!-- <label class="col-sm-12 col-form-label custom-label">Category<span class="text-danger">*</span> </label> -->
                            <div class="position-relative"></div>
                            <label class="custom-label">Category<span class="text-danger">*</span> </label>
                            <div class="w-100 pd-3">
                                <select class="custom-select w-100 " onchange="formValidation()" id=id_category name="category" >
                                    <option value="" >select</option>
                                    {% for i in CategoryList %}
                                    <option value="{{i.id}}" {% if i.pk == EditList.category.id %} selected {% endif %}> {{i.category_name}}</option>
                                    {% endfor %}
                                </select>
                                <p id="category-error" style="display: none" class="error p-2" for="tag">error category</p>
                            </div>
                        </div>


                        <input type="hidden" value="" id="hidden-image" name="hidden-image">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="cabinet center-block">
                                    <figure>

                                        <img src="" class="gambar img-responsive img-thumbnail" id="item-img-output" />
                                        <figcaption><i class="fa fa-camera"></i></figcaption>
                                    </figure>
                                    <input type="file" id='banner_file'
                                        onclick=" bannerimage('#item-img-output','#hidden-image','#banner_file')"
                                        class="item-img file center-block" name="file_photo" />
                                </label>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        onclick="validate('#bannerName','#banner_file','#newbanner','#id_category')">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="editBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Banner</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'banner-edit' %}" method="POST" id="newbanneredit">
                    {% csrf_token %}
                    <div class=" position-relative form-group">
                        <label for="editBannerName" class="custom-label">Banner Name</label>
                        <input name="editBannerName" id="editBannerName" placeholder="" type="text"
                            class="form-control custom-input " value="">
                    </div>
                    <div class="position-relative">
                    
                        <label class="custom-label">Category<span class="text-danger">*</span> </label>
                        <div class="w-100 pd-3">
                            <select class="custom-select w-100 " id=editBannerCategory name="editBannerCategory" >
                                <option value="" >select</option>
                                {% for i in CategoryList %}
                                <option value="{{i.id}}"> {{i.category_name}}</option>
                                {% endfor %}
                            </select>
                            <p id="category-error" style="display: none" class="error p-2" for="tag">error category</p>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleFile" class="w-100">Banner Image</label>
                        <img src="" class="img-fluid" alt="" id='edit-image-banner'>
                    </div>
                    <input type="hidden" value="" id="hidden-imageedit" name="hidden-imageedit">
                    <input type="hidden" value="" id="edit-id-banner" name="edit-id-banner">
                    <div class="position-relative form-group">
                        <label for="exampleFile" class="w-100">change image</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="cabinet center-block">
                                    <figure>

                                        <img src="" class="gambar img-responsive img-thumbnail"
                                            id="item-img-outputedit" />
                                        <figcaption><i class="fa fa-camera"></i></figcaption>
                                    </figure>
                                    <input type="file" id='edit_image_file'
                                        onclick=" bannerimage('#item-img-outputedit','#hidden-imageedit','#edit_image_file')"
                                        class="item-img file center-block" name="file_photo" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        onclick="validateupdate('#editBannerName','#edit_image_file','#newbanneredit','#editBannerCategory')">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- crop inside modal -->
<div class="modal fade custom-modal" id="cropImagePop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                </h4>
            </div>
            <div class="modal-body">
                <div id="upload-demo" class="center-block"></div>
            </div>
            <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"></script>  -->


<script>

    $('#submit-banner').on('change', function () {
        var myurl = document.getElementById("uploaded-file").getElementsByTagName("item-img-output")[0].src;
        alert(url)

        // const toDataURL = url => fetch(url)
        //     .then(response => response.blob())
        //     .then(blob => new Promise((resolve, reject) => {
        //         const reader = new FileReader()
        //         reader.onloadend = () => resolve(reader.result)
        //         reader.onerror = reject
        //         reader.readAsDataURL(blob)
        //     }))



        // function dataURLtoFile(dataurl, filename) {
        //     var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        //         bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        //     while (n--) {
        //         u8arr[n] = bstr.charCodeAt(n);
        //     }
        //     return new File([u8arr], filename, { type: mime });
        // }



        // toDataURL(url)
        //     .then(dataUrl => {
        //         console.log('Here is Base64 Url', dataUrl)
        //         var fileData = dataURLtoFile(dataUrl, "imageName.jpg");
        //         console.log("Here is JavaScript File Object", fileData)
        //         fileArr.push(fileData)
        //     })
    });

    function UpdateStatus(id) {




        var var1 = document.getElementById("custId").value;
        $.ajax({

            type: "GET",
            url: 'banner',

            data: { data1: id },

            success: function (responsedata) {
                console.log(responsedata['name'])
                document.getElementById('editBannerName').value = ''
                document.getElementById('edit-id-banner').value = ''
                document.getElementById('editBannerCategory').value = ''
                document.getElementById('edit-id-banner').value = responsedata['id']
                document.getElementById("editBannerName").value = responsedata['name']
                document.getElementById('editBannerCategory').value = responsedata['category_id']
                document.getElementById("edit-image-banner").src = responsedata['image']
                



            }
        })

    }

    $(document).ready(function () {



        $("#test").click(function () {


        });

        //     $(".btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light").click(function () {
        //         alert('hiiii')
        //         $(".modal-backdrop fade show").remove();
        //     });


        $("#edit-banner").click(function () {

        })



    });

    // $('form[id="banner"]').validate({
    //     rules: {
    //         name: 'required',
    //         expiry: 'required',
    //         file: 'required',
    //     },
    //     message: {
    //         name: 'This field is required',
    //         expiry: 'This field is required',
    //         file: 'required',
    //     },
    //     submitHandler: function(form) {
    //         form.submit();
    //     }
    // });

</script>
<script>
    function deletebanner(id) {

        document.getElementById("deletebanner").value = id;


    }

</script>
<!-- Delete category Modal -->
<div class="modal fade custom-modal" id="delete_banner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Banner</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'banner-delete' %}" method="POST">
                    {% csrf_token %}

                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label" id="newid">Are you sure do you want to
                            delete?</label>
                    </div>
                    <input type="hidden" name="id" id="deletebanner" value="">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2"
                        id="delete_pack">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="imagepop">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">View image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <img id="popimage" alt="image text" width="100%" height="100%"></img>
            </div>

        </div>
    </div>
</div>

<script>
    const checkit = []
    function imgaepop(url) {
        // console.log("hiiiiiiiiiiiiii")
        console.log(url)
        $('#popimage').attr("src", url);

    }
    function imgaeformat(value_get) {
        var y = $(value_get)[0].files[0].name
        var newvalue = y.split('.')
        var get_last = newvalue[newvalue.length - 1]
        return get_last
    }


    function trimfield(str) {
        return str.replace(/^\s+|\s+$/g, '',);
    }
    function validate(first, second, third, fourth) {
        event.preventDefault();
        var myarray = ['jpg', 'png', 'jpeg'];
        // var pick = imgaeformat(second)

        var alphanumers = /^[^-\s][a-zA-Z0-9_\s-]+$/;
        var obj1 = $(first);
        var obj2 = $(second);
        var obj4 = $(fourth);

        if (trimfield(obj1.val()) == '') {
            console.log("hi")

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);

            obj1.focus();
            return false;


        }


        else if (!alphanumers.test(obj1.val())) {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
            $(".error-messages").text("Only alphabets and numbers allowed ").fadeIn().fadeOut(2444);

            obj1.focus();
            return false;

        }


        else if (trimfield(obj2.val()) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);
            obj2.focus();
            return false;
        }
        else if (trimfield(obj2.val()) !== '' && !myarray.includes(imgaeformat(second))) {

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
            $(".error-messages").text("Only 'jpg', 'png', 'jpeg' files are allowed ").fadeIn().fadeOut(2444);
            obj2.focus();
            return false;
        }
        else if (trimfield(obj4.val()) == '') {
            console.log("hi")

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(fourth);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);

            obj4.focus();
            return false;


        }

        else {



            $(third).submit();
        }

    }

    function validateupdate(first, second, third, fourth) {
        event.preventDefault();
        var myarray = ['jpg', 'png', 'jpeg'];
        // var pick = imgaeformat(second)

        var alphanumers = /^[^-\s][a-zA-Z0-9_\s-]+$/;
        var obj1 = $(first);
        var obj2 = $(second);
        var obj4 = $(fourth);
        if (trimfield(obj1.val()) == '') {
            console.log("hi")

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);

            obj1.focus();
            return false;


        }

        else if (!alphanumers.test(obj1.val())) {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
            $(".error-messages").text("Only alphabets and numbers allowed ").fadeIn().fadeOut(2444);

            obj1.focus();
            return false;

        }
        else if (trimfield(obj2.val()) !== '' && !myarray.includes(imgaeformat(second))) {

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
            $(".error-messages").text("Only 'jpg', 'png', 'jpeg' files are allowed ").fadeIn().fadeOut(2444);
            obj2.focus();
            return false;

        }

        else if (trimfield(obj4.val()) == '') {
            console.log("hi")

            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(fourth);
            $(".error-messages").text("Required").fadeIn().fadeOut(2444);

            obj4.focus();
            return false;


        }
        else
            $(third).submit();
    }


    function cleardata1() {
        $("#bannerName").val(null);
        // document.getElementById("category-name").value = " "
        document.getElementById("item-img-output").src = "https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg"

    }
    console.log(checkit, 'kkkkkkkkkkkkkk')
</script>

{% endblock content %}