{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% include "base/alert.html" %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Vendors</div>
                        <div class="widget-subheading"></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{vendors_count }}

                            </span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-royal">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Customers</div>
                        <div class="widget-subheading"></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ customers_count }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-night-sky">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Ads</div>
                        <div class="widget-subheading"></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ adds_count }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="main-card mb-3 card table-card no-filter col-md-12">
            <div class="card-body">
                <h5 class="card-title">Popular Searches</h5>
                <div class="table-responsive">
                    <table class="table table-hover w-100 table-striped table-bordered custom-table">
                        <thead>

                            <tr>
                                <th>No.</th>
                                <th>Service Name</th>
                                <th>Category</th>
                                <th>Sub Category</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for i in poplr %}


                            <tr>
                                <td> {{ forloop.counter }}</td>
                                <td>{{i.product_name}}</td>
                                <td>{{i.category.category_name}}</td>
                                <td>{{i.subcategory.subcategory_name}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="main-card mb-3 card table-card no-filter col-md-12">
            <div class="card-body">
                <h5 class="card-title">Trending services</h5>
                <div class="table-responsive">
                    <table class="table table-hover w-100 table-striped table-bordered custom-table">
                        <thead>
                            <tr>
                                <th>No.</th>

                                <th>Service Name</th>
                                <th>Category</th>
                                <th>Sub Category</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for i in trndng_pdts %}

                            <tr>
                                <td> {{ forloop.counter }}</td>

                                <td>{{i.product_name}}</td>
                                <td>{{i.category.category_name}}</td>
                                <td>{{i.subcategory.subcategory_name}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="main-card mb-3 card table-card no-filter col-md-12">
            <div class="card-body">
                <h5 class="card-title">Best services</h5>
                <div class="table-responsive">
                    <table class="table table-hover w-100 table-striped table-bordered custom-table">
                        <thead>
                            <tr>
                                <th>No.</th>

                                <th>Service Name</th>
                                <th>Category</th>
                                <th>Sub Category</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for i in best_service %}

                            <tr>
                                <td> {{ forloop.counter }}</td>

                                <td>{{i.product_name}}</td>
                                <td>{{i.category.category_name}}</td>
                                <td>{{i.subcategory.subcategory_name}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 mb-5">
        <canvas id="dashboardSalesChart" height="400"></canvas>
    </div>

</div>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
{% endblock content %}