{% extends 'base/base.html' %}
 {% block content %}
 <style>
     .error{
  color:red;
}

label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

/* Resize images */
.img-thumbnail {
    width: 370px;
    height: 370px;
}

</style>

<input type="hidden" value="{{EditId}}" id="editId">

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            {% if hide_id == 0 %}
            <div id="create">Create Services
                <div class="page-title-subheading">You can Create your service by filling the form below
                </div>
            </div>
            {% else %}
            <div id="edit">Edit Services
                <div class="page-title-subheading">You can Edit your service by filling the form below
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <center><span id="errMsg"  style="color:red;font-size:13px;">{{errMsg}}</span></center>
        <!-- <form class="m-3 " name="productform"  method="POST" id="productform" enctype="multipart/form-data" novalidate="novalidate">{% csrf_token %} -->
            <div class="position-relative row form-group">
                <div class="col">
                   <input type="hidden" value="{{csrf_token}}" name="csrf" id="csrf"/>
                    <label class="col-sm-12 col-form-label custom-label">Service Name<span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <input type="text" onkeyup="formValidation()"  name="pdtName" class="form-control custom-input" placeholder="Enter service name" id=id_pdtName value="{{EditList.product_name}}" >
                        <p id="pdtName-error" style="display: none" class="error p-2" for="tag">error id_pdtName</p>
                    </div>
                </div>
                <div class="col">
                    <label class="col-sm-12 col-form-label custom-label">Location<span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <!-- -------------------------------------------------------------------------------------------------------- -->
                        <div class="pac-card" id="pac-card">
                          </div>
                          <div id="pac-container">
                            <input type="text" onchange="formValidation()" onpaste="return false;" ondrop="return false;"  value="{{EditList.location}}" name="location" id="pac-input" class="form-control custom-input">
                            <p id="location-error" style="display: none" class="error p-2" for="tag">error location</p> 
                        </div>
                        <div id="map"></div>
                        <div id="infowindow-content">
                          <span id="place-name" class="title"></span><br />
                          <span id="place-address"></span>
                          <input type="hidden" name="lat" id="lat" value="{{EditList.lat}}">
                          <input  type="hidden" name="lng" id="lng" value="{{EditList.lng}}">
                          
                        </div>
                        <!-- ------------------------------------------------------------------------------------------------------------------- -->
                    </div>
                </div>
            </div>
            <div class="position-relative row form-group">
                <div class="col">
                    
                    <label class="col-sm-12 col-form-label custom-label">Category<span class="text-danger">*</span> </label>
                    <div class="col-sm-12">
                        <select class="custom-select" onchange="formValidation()" id=id_category name="category" >
                            <option value="" >select</option>
                            {% for i in CategoryList %}
                            <option value="{{i.id}}" {% if i.pk == EditList.category.id %} selected {% endif %}> {{i.category_name}}</option>
                            {% endfor %}
                        </select>
                        <p id="category-error" style="display: none" class="error p-2" for="tag">error category</p>
                    </div>
                </div>
                <div class="col">
                    
                    <label class="col-sm-12 col-form-label custom-label"> Sub-Category <span class="text-danger">*</span></label>
                    
                    <div class="col-sm-12">
                        <select class="custom-select" id=id_subcategory name="subcategory" onchange="formValidation()">
                            <!-- <option value="" >select</option>SubCategoryList -->
                            <!-- <option value="{{EditList.subcategory.id}}">{{EditList.subcategory.subcategory_name}}</option> -->
                            {% for i in SubCategoryList %}
                            <option value="{{i.id}}" {% if i.pk == EditList.subcategory.id %} selected {% endif %}> {{i.subcategory_name}}</option>
                            {% endfor %}
                        </select>
                        <p id="subcategory-error" style="display: none" class="error p-2" for="tag">error subcategory</p>
                    </div>
                </div>
            </div>

            <div class="position-relative row form-group">
                <div class="col">
                       
                    <label class="col-sm-12 col-form-label custom-label">Opening Time<span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <input id="opening_time" required name="time" type="text"  class="form-control timepicker opening_time" onchange="formValidation()" placeholder="Time" autocomplete="off" value="{{Otime}}">
                        <p id="openTime-error" style="display: none" class="error p-2" for="tag">error id_openTime</p>
                    </div>
                </div>

                <div class="col">
                       
                    <label class="col-sm-12 col-form-label custom-label">Closing Time<span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <input id="closing_time" required name="time" type="text" class="form-control timepicker closing_time" onchange="formValidation()" placeholder="Time" autocomplete="off" value="{{Ctime}}">
                        <p id="closeTime-error" style="display: none" class="error p-2" for="tag">error id_closeTime</p>
                    </div>
                </div>
                </div>

                <div class="position-relative row form-group">
                    <div class="col">
                           
                        <label class="col-sm-12 col-form-label custom-label">phone number<span class="text-danger">*</span></label>
                        <div class="col-sm-12">
                            <input type="text" onkeyup="formValidation()" onpaste="return false;" onkeypress='validate1(event)'  name="phonenmbr" class="form-control custom-input" placeholder="Enter phone number" id=id_phonenmbr value="{{EditList.phone}}" >
                            <p id="phonenmbr-error" style="display: none" class="error p-2" for="tag">error id_phonenmbr</p>
                        </div>
                    </div>
                    <div class="col">
                           
                        <label class="col-sm-12 col-form-label custom-label">Address<span class="text-danger">*</span></label>
                        <div class="col-sm-12">
                            <textarea onkeyup="formValidation()"  name="address" class="form-control custom-input"  
                             placeholder="Enter address" id=id_address  >{{EditList.address}}</textarea>
                            <p id="address-error" style="display: none" class="error p-2" for="tag">error id_address</p>
                        </div>
                    </div>
                    </div>

                    <div class="position-relative row form-group" hidden>
                        <div class="col-md-12" >
                               
                            <label class="col-sm-12 col-form-label custom-label details-title">Menu</label>
                            <div class="row mx-0">
                                <div class="radio col-md-2">
                                    <label><input type="radio" id="menuradio"
                                            name="menuradio" value="0" class="menuradio" >&nbsp; Yes</label>
                                </div>
                                <div class="radio col-md-2">
                                    <label><input type="radio" id="menuradio2"
                                            name="menuradio" value="1" class="menuradio" checked>&nbsp; No</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" onkeyup="formValidation()" id="textmenu"  name="textmenu" class="form-control custom-input" placeholder="Enter textmenu" id=id_textmenu value="{{EditList.menu}}" >
                                    <p id="textmenu-error" style="display: none" class="error p-2" for="tag">error id_textmenu</p>
                                </div>
                            </div>
                        </div>
    
    
                        <!-- <div class="col">
                            <div class="col-sm-12">
                                <input type="text" onkeyup="formValidation()" id="textmenu"  name="textmenu" class="form-control custom-input" placeholder="Enter textmenu" id=id_textmenu value="{{EditList.menu}}" >
                                <p id="textmenu-error" style="display: none" class="error p-2" for="tag">error id_textmenu</p>
                            </div>
                        </div> -->
                        </div>
                        <div class="position-relative row form-group" hidden>
                            <div class="col-md-12">
                                <label class="col-sm-12 col-form-label custom-label details-title">Appointment</label>
                                <div class="row mx-0">
                                    <div class="radio col-md-2">
                                        <label><input type="radio" id="appointmtntradio"
                                                name="appointmtntradio" class="appointmtntradio" value="0">&nbsp; Yes</label>
                                    </div>
                                    <div class="radio col-md-2">
                                        <label><input type="radio" id="appointmtntradio2"
                                                name="appointmtntradio"  class="appointmtntradio" value="1" checked>&nbsp; No</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" onkeyup="formValidation()" id="textappointment"  name="textappointment" class="form-control custom-input" placeholder="Enter appointment" id=id_textappointment value="{{EditList.appointment}}" >
                                        <p id="textappointment-error" style="display: none" class="error p-2" for="tag">error id_textappointment</p>
                                    </div>
                                </div>
                            </div>
        
        
                            <!-- <div class="col">
                                   
                                <label class="col-sm-12 col-form-label custom-label">Appointment<span class="text-danger">*</span></label>
                                <div class="col-sm-12">
                                    <input type="text" onkeyup="formValidation()" id="textappointment"  name="textappointment" class="form-control custom-input" placeholder="Enter appointment" id=id_textappointment value="{{EditList.appointment}}" >
                                    <p id="textappointment-error" style="display: none" class="error p-2" for="tag">error id_textappointment</p>
                                </div>
                            </div> -->
                            </div>

                            <div class="price-unit-div">
                                <p class="details-title">Price and Unit </p>
                                <div class="row" >
                                    <div class="col-12" id="main">
                                    
                                    </div>
                                    
                                    
                                </div>
                                
                                
                            </div>

            <!-- -----------------------------------------------CK Editor------------------------------------------------------------- -->
           
            <div class="position-relative row form-group">
                <div class="col">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                    </div>
                    <div class="col-12">
                        
                        <label class="col-sm-12 col-form-label custom-label">Description<span class="text-danger">*</span></label>
                        <div class="card">
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- <input type="text" maxlength="20" class="limitedTxt" name="content" id="cke"> -->
                                            <textarea name="content" class="limitedTxt" id="cke" required >{{EditList.description}} </textarea>
                                            <p id="description-error" style="display: none" class="error p-2" for="tag">error description</p>
                                            <input name="contentWordCount" type="hidden" value="250" />
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                
<!------------------------------------------------------------------------------------------------------------------------------------------------------>

<div class="position-relative row form-group">
    <div class="col">
    <!-- <div class="container-fluid mt-4"> -->
        <div class="row mx-0 mt-3">
    <label class="col-sm-12 col-form-label custom-label">Select Thumbnail <span class="text-danger">*</span></label>
           

                                    <div class="col-xs-12">
                                        <label class="cabinet center-block">
                                            
                                            <div>
                                                <img src="{{EditList.image.url}}"  id="outputedit" />
                                                
                                              <img src="" class="gambar img-responsive img-thumbnail" id="item-img-outputedit" />
                                              <input type="hidden" value="{{EditList.id}}"  id="edit-imageedit" name="edit-imageedit">
                                                  <input type="hidden" value=""  id="hidden-imageedit" name="hidden-imageedit">  
                                              <!-- <img src="" class="gambar img-responsive img-thumbnail" id="item-img-output" /> -->
                                              <!-- <figcaption><i class="fa fa-camera"></i></figcaption> -->
                                              <div class="text-left">
                                        <p id="image-error" style="display: none" class="error p-2" for="tag">error image</p>

                                              </div>
                                            </div>
                                        <input type="file" class="item-img file center-block" id="id_image" name="file_photo" onclick=" imageedit('#item-img-outputedit','#hidden-imageedit','#id_image')"/>

                                            <!-- <input type="file" onchange="validation()" class="item-img file center-block" id="id_image" name="file_photo" onclick=" imageedit('#item-img-outputedit','#hidden-imageedit')"/> -->
                                        </label>
                                    </div>
                                </div>
                                <span id="err_image" class="text-danger"></span>
    <!-- </div> -->
    <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
          </div>
          <div class="modal-body">
          <div id="upload-demo" class="center-block"></div>
    </div>
           <div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
</div>
          </div>
        </div>
      </div>
      </div>

      </div>

    <!-- ------------------------------------------------------------------------------------- -->
	<div class="form-group"> 
        <button type="submit" class="btn btn-primary" name="submit" id="submit" onclick=formSubmissionAdmin()>Submit</button>              
    </div>

    </div>      

    </div>

{% load static %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'assets/js/pdtDetails.js' %}"></script>

<!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places&v=weekly&channel=2"
      async
    ></script> -->
<!-- ---------------------------------------crop----------------------------------------------------------------------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css"></link>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    
    <script src="{% static 'assets/js/crop.js' %}"></script>
    <script src="{% static 'assets/js/validation.js' %}"></script>
    <!-- ----------------------------------------------------crop--------------------------------------------------------------- -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- ------------------------------------------------------------ -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Boostrap timepicker cdn -->
<link href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<!-- <script src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script> -->
<script src="{% static 'assets/js/timepicker.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
<!-- -------------------------------------------places api-------------------------------------------------------------------- -->
<script>
     $('.opening_time').timepicker({
        minuteStep: 1,
        defaultTime:false
    });
    </script>
    
    <script>
    $('.closing_time').timepicker({
        minuteStep: 1,
        defaultTime:false
    });
</script>

<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF-SLZgOZEFLB0O8iBWbGUV1AYefPiwAw&callback=initMap&libraries=places&v=weekly&channel=2"async></script>

<!-- -----------------------------------------for form cloning old----------------------------------------------------------------------------- -->

<style>
    .property-fields__row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      align-items: flex-end;
      width: auto;
      margin: 0 -5px 10px;
    }
    .property-fields__row > .line-item-property__field {
      -webkit-flex: 1 1 33%;
      -moz-flex: 1 1 33%;
      -ms-flex: 1 1 33%;
      -o-flex: 1 1 33%;
      flex: 1 1 33%;
      padding-left: 5px;
    }
    .property-fields__row > .line-item-property__field.line-item-property__year {
      -webkit-flex: 1 1 20%;
      -moz-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
      -o-flex: 1 1 20%;
      flex: 1 1 20%;
    }
    .property-fields__row > .line-item-property__field input {
      margin: 0;
      width: 90%;
    }
</style>
<style>

    label.error {
        margin-right: 3%;
        float: right;
        font-size: 0.9rem;
        line-height: 1.25;
        padding-top: 4px;
        color: red;
    }
</style>
<script>
    function formSubmissionAdmin() { 
            is_valid=formValidation()
         if (is_valid==0){
                var textmenu;
                var textappointment;
                var form_clone= JSON.stringify(repeatArray);
                var service_name=$('#id_pdtName').val();
                var _location =$('#pac-input').val();
                var lat=$('#lat').val();
                var lng=$('#lng').val();
                var category1=$('#id_category').val();
                var subcategory=$('#id_subcategory').val();
                var opening_time=$('#opening_time').val();
                var closing_time=$('#closing_time').val();
                var phonenmbr=$('#id_phonenmbr').val();
                var address=$('#id_address').val();
                textmenu=$('#textmenu').val();
                csrf = $('#csrf').val();
                textappointment=$('#textappointment').val();
                var cke_description=CKEDITOR.instances['cke'].getData();
                var img=$('#hidden-imageedit').val();
                var editid= $('#editId').val();
                data2={ 
                        'unit_lst':form_clone,
                        'service_name':service_name,
                        '_location':_location,
                        'lat':lat,
                        'lng':lng,
                        'category1':category1,
                        'subcategory':subcategory,
                        'opening_time':opening_time,
                        'closing_time':closing_time,
                        'phonenmbr':phonenmbr,
                        'address':address,
                        'textmenu':textmenu,
                        'textappointment':textappointment,
                        'cke_description':cke_description,
                        'img':img,
                        'editid':editid,
                        }                    
                $.ajax({
                    method: "POST",
                    url: `/edit/save/services/${editid}`,
                    headers: { 'X-CSRFToken': csrf },
                    data: data2,
                    success: function(data)
                    {
                        
                    Swal.fire(
                        'Edited successfully ',
                      ).then(function() {
                        window.location = `/service/requests`;
                    });

                    }
                    })
            }
            else{
                console.log("else....................")
            }
        }
</script>
{% endblock content %}