{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Service Edit Approval Request

                <div class="page-title-subheading">You can view all edited service request and edit rejected service
                    list here
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 p-0">
    <div class="mb-3 card">
        <div class="card-body p-0">
            <ul class="tabs-animated-shadow nav-justified tabs-animated nav custom-animated-tab">
                <li class="nav-item">
                    <a role="tab" class="nav-link active" id="new" data-toggle="tab" onclick="selectid(1)"
                        href="#tab-new">
                        <span class="nav-text">Service edit Requests</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a role="tab" class="nav-link" id="rejected" data-toggle="tab" onclick="selectid(2)"
                        href="#tab-rejected">
                        <span class="nav-text">Rejected edit Service</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-new" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn"
                                data-toggle="modal" data-target="#filterModal">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table"
                                id="request_id">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Service Name</th>
                                        <th>Category</th>
                                        <th>Subcategory</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>image</th>
                                        <th class="nosort-th">View</th>
                                        <th class="nosort-th">Accept</th>
                                        <th class="nosort-th">Reject</th>
                                    </tr>
                                </thead>
                                <tbody id="new_request">

                                    {% for i in update %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.category.category_name}}</td>
                                        <td>{{i.subcategory.subcategory_name}}</td>
                                        <td>{{i.vendor.first_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                                        <td><a href="{% url 'product-view' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        <td><a href="{% url 'serviceeditaqpprove' i.id %}"><button
                                                    class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn">Accept</button></a>
                                        </td>
                                        <td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn"
                                                data-toggle="modal" data-target="#rejectModal"
                                                onclick="rejectreason('{{i.id}}')">Reject</button></td>
                                    </tr>

                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-rejected" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn"
                                data-toggle="modal" data-target="#filterModal">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table"
                                id="reject_id">
                                <thead id="new_reject">
                                    <tr>
                                    <tr>
                                        <th>No.</th>
                                        <th>Service Name</th>
                                        <th>Category</th>
                                        <th>Subcategory</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>image</th>
                                        <th class="nosort-th">View</th>
                                        <th> Reject reason</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for i in rejected %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.category.category_name}}</td>
                                        <td>{{i.subcategory.subcategory_name}}</td>
                                        <td>{{i.vendor.first_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                                        <td><a href="{% url 'product-view' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        <td>{{i.update_reject_reason}}</td>

                                    </tr>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal
<div class="modal fade custom-modal" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

             Modal Header 
<div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->

<!-- Modal body -->
<!-- <div class="modal-body"> -->
<!-- <div class="row">
                        <div class="position-relative form-group col-md-6">
                            <label for="fromDate" class="custom-label">From Date</label>
                            <input name="fromDate" id="fromDate" placeholder="Select From Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker">
                        </div>
                        <div class="position-relative form-group col-md-6">
                            <label for="toDate" class="custom-label">To Date</label>
                            <input name="toDate" id="toDate" placeholder="Select To Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker">
                        </div>
                    </div>
                    <button type="button" id="update_pdt_filter_btn"
                        class="btn btn-hover-shine theme-dark-btn text-light btn-md mt-2 btn-sm btn-wide"
                        data-dismiss="modal">Filter</button>
            </div>
        </div>
    </div> -->
<!-- </div> -->

<!-- Reject Modal -->
<div class="modal fade custom-modal reject-modal" id="rejectModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-danger text-light">
                <h4 class="modal-title">Reject Reason</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="position-relative form-group col-md-12">
                            <label for="rejectReason" class="custom-label">Reason</label>
                            <textarea name="rejectReason" id="rejectReason" cols="10"
                                class="form-control custom-input w-100" placeholder="Enter Reason" required></textarea>
                        </div>
                    </div>
                    <input type="hidden" value="" name="rejectId" id="reject" />
                    <button type="submit"
                        class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button>
                    <!-- <button type="submit" class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide"
                    data-dismiss="modal">Reject</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function rejectreason(id) {
        document.getElementById("reject").value = id


    }
</script>

<script>
    function selectid(id) {
        document.getElementById("id_selected").value = id
    }

    $("#update_pdt_filter_btn").click(function () {
        alert("ooooooo")
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();
        var id_hidden = document.getElementById("id_selected").value;
        $.ajax({
            type: 'POST',
            url: '/UpdateServiceFilter/',
            data: { fromDate: fromDate, toDate: toDate, id_hidden: id_hidden },
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            success: function (data) {
                var ln = data['id'].length

                if (id_hidden == 1) {
                    $('#request_id').find("tr:gt(1)").remove();
                    for (k = 0; k < ln; k++) {
                        alert(data['id'][k]['product_name'])
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        // $('#new_request').append(`<tr class="child"><td>${k+1}</td></tr>`);

                        $('#new_request').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class" >View</button></a></td></tr>`);

                    }

                }
                if (id_hidden == 2) {
                    $('#reject_id').find("tr:gt(0)").remove();
                    for (k = 0; k < ln; k++) {
                        alert("2222222222222")
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_reject').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class">View</button></a></td><td><a href="/service/requests/approve?id=${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn">Accept</button></a></td><td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn" data-toggle="modal" data-target="#rejectModal" onclick="rejectreason('${data['id'][k]['id']}')">Reject</button></td></tr>`);

                    }

                }
                // if (id_hidden ==3){
                //     $('#id_rejected').find("tr:gt(1)").remove();
                //     for (k = 0; k < ln; k++) {
                //         var date_f= data['id'][k]['created_on'].split('T')[0];
                //         $('#new_rejected').append(`<tr class="child"><td>${k+1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class"  >View</button></a></td></tr>`);
                //     }

                // }



            }


        });

    });
</script>

<input type="hidden" id="id_selected" value=1>

{% endblock content %}