{% extends 'base/base.html' %}
 {% block content %}
 {% load static %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>{{vendor.first_name}}
                <div class="page-title-subheading">Package :<span class="font-weight-bold">{{vendor.packages.package_name}}</span> | Validity :{{vendor.packages.months}} months<span class="font-weight-bold"></span></div>
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <form method="POST" action="{% url 'edit_vendor_admin' vendor.id %}" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row payment-details-div mt-0 pt-2">
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-3">Personal Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">First Name <span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.first_name}}</p> -->
                        <input name="first_name" value="{{vendor.first_name}}" id="fname" placeholder="Enter first name" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Last Name<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <input name="last_name" value="{{vendor.last_name}}" id="lname" placeholder="Enter last name" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Email<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <input name="email" value="{{vendor.email}}" id="email" placeholder="Enter email" type="email" class="form-control custom-input" onchange="getEmail(this)" readonly>
                    </div>
                </div>
                <!-- <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Mobile<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <input name="mobile" value="{{vendor.mobile_number}}" id="mobile" placeholder="Enter mobile number" type="number" class="form-control custom-input" onchange="getMobile(this)" readonly>
                    </div>
                </div> -->
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Whatsapp number<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <input name="whatsapp" value="{{vendor.whatsapp_number}}" id="whatsapp" placeholder="Enter whatsapp number" type="number" class="form-control custom-input" onchange="getWhatsappnumber()" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom  mt-3">Store Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Store name <span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.store_name}}</p> -->
                        <input name="store_name" value="{{vendor.store_name}}" id="storename" placeholder="Enter name" type="text" class="form-control custom-input" required>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">GST Number <span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.store_name}}</p> -->
                        <input name="gst_number" value="{{vendor.gst_number}}" id="gst_number" placeholder="Enter GST number" type="text" class="form-control custom-input">
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Location<span class="float-right d-none d-md-block">:</span></label>
                    <input type="hidden" id="latitude" value="{{vendor.latitude}}" name="latitude" />
                    <input type="hidden" id="longitude" value="{{vendor.logitude}}" name="longitude"/>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.location}}</p> -->
                        <input name="location" value="{{vendor.location}}" id="locations" placeholder="Enter location" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Logo image<span class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <!-- <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.logo_image}}</button> -->
                        <input name="logo_image" id="logo_image" value="" placeholder="upload logo image" type="file" class="form-control-file custom-file-upload">
                        <!-- <input type="file" name="logo_image" id="logo_image" class="form-control-file custom-file-upload" autocomplete="off"> -->
                        <a href="/media/{{vendor.logo_image}}">{{vendor.logo_image}}</a>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Thumbnail<span class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <!-- <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.thumbnail}}</button> -->
                        <input name="thumbnail" id="thumbnail" value="" placeholder="thumbnail" type="file" class="form-control-file custom-file-upload">
                        <a href="/media/{{vendor.thumbnail}}">{{vendor.thumbnail}}</a>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Caption<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.caption}}</p> -->
                        <input name="caption" value="{{vendor.caption}}" id="caption" placeholder="Enter caption" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Description<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.Description}}</p> -->
                        <textarea rows="5" name="Description" value="" id="Description" placeholder="Enter Description" class="form-control custom-input" required>{{vendor.Description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-4">Address Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Address line 1 <span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <textarea name="address1" id="addr1" rows="1" class="form-control custom-input" placeholder="Address line 1" required>{{vendor.address1}}</textarea>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Address line 2<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data"> {{vendor.address2}}</p> -->
                        <textarea name="address2" id="addr2" rows="1" class="form-control custom-input" placeholder="Address line 2" required >{{vendor.address2}}</textarea>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Town<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data"> {{vendor.town}}</p> -->
                        <input name="town" value="{{vendor.town}}" id="town" placeholder="Enter town" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">District<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data"> {{vendor.district}}</p> -->
                        <input name="district" value="{{vendor.district}}" id="district" placeholder="Enter district" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">State<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data"> {{vendor.state}}</p> -->
                        <input name="state" value="{{vendor.state}}" id="state" placeholder="Enter state" type="text" class="form-control custom-input" required>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Pincode<span class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <!-- <p class="info-data">{{vendor.pincode}}</p> -->
                        <input name="pincode" value="{{vendor.pincode}}" id="pincode" placeholder="Enter pincode" type="text" class="form-control custom-input" required>

                    </div>
                </div>
            </div>



            <div class="col-md-6 personal-div">
            <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-4">Documents</h6>

                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Incorporation certificate <span class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <input type="file" name="incorp_cirtificate" id="incorp_cirtificate" class="form-control-file custom-file-upload" autocomplete="off">
                        <a href="/media/{{vendor.incorporation_certificate}}">{{vendor.incorporation_certificate}}</a>
                        
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">GST <span class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <!-- <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.GST}}</button> -->
                        <input type="file" name="gst" id="gst" class="form-control-file custom-file-upload" autocomplete="off">
                        <a href="/media/{{vendor.GST}}">{{vendor.GST}}</a>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">PAN Card <span class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <!-- <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.pancard}}</button> -->
                        <input type="file" name="pancard" id="pancard" class="form-control-file custom-file-upload" autocomplete="off">
                        <a href="/media/{{vendor.pancard}}">{{vendor.pancard}}</a>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Address Proof <span class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <!-- <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.address_proof}}</button> -->
                        <input type="file" name="address_proof" id="address_proof" class="form-control-file custom-file-upload" autocomplete="off">
                        <a href="/media/{{vendor.address_proof}}">{{vendor.address_proof}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3 my-3">
        <button class="btn btn-primary px-4 btn-sm" type="submit">Update</button>
        </div>

    </form>
    </div>

</div>



<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF-SLZgOZEFLB0O8iBWbGUV1AYefPiwAw&callback=initMap&libraries=places&v=weekly&channel=2"
async></script>
<script>
   // window.onload=initMap();

       // This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&libraries=places">


function initMap() {
   const center = { lat: 50.064192, lng: -130.605469 };
// Create a bounding box with sides ~10km away from the center point
const defaultBounds = {
 north: center.lat + 0.1,
 south: center.lat - 0.1,
 east: center.lng + 0.1,
 west: center.lng - 0.1,
};
const input = document.getElementById("locations");
const state = document.getElementById("state");
const district = document.getElementById("district");
const town = document.getElementById("town");


// var autocomplete = new google.maps.places.Autocomplete(locations);
// var place = autocomplete.getPlace();
// var lat = new google.maps.places.Autocomplete(input);


const options = {
 types: ['(cities)'],
 componentRestrictions: {country: "in"}
};
const autocomplete = new google.maps.places.Autocomplete(input, options);
// var place = autocomplete.getPlace();
// var lat = new google.maps.places.Autocomplete("latitude");
// alert(lat)
const sts = new google.maps.places.Autocomplete(state, options);
const dis = new google.maps.places.Autocomplete(district, options);
const tw = new google.maps.places.Autocomplete(town, options);
// const lt = new google.maps.places.Autocomplete(lati, options);

autocomplete.addListener('place_changed', function() {
     var place = autocomplete.getPlace();
     var latitude = place.geometry.location.lat();
     var longitude = place.geometry.location.lng();
     document.getElementById('latitude').value = latitude;
     document.getElementById('longitude').value = longitude;
   });

}
</script>


</script>

{% endblock content %}