{% extends 'base/base.html' %}
{% block content %}


<style>
    .error {
        color: red;
    }

    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }

    figure figcaption {
        position: absolute;
        bottom: 0;
        color: #fff;
        width: 100%;
        padding-left: 9px;
        padding-bottom: 5px;
        text-shadow: 0 0 10px #000;
    }

    /* Resize images */
    .img-thumbnail {
        width: 370px;
        height: 370px;
    }
</style>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            {% if hide_id == 0 %}
            <div id="create">Create Services
                <div class="page-title-subheading">You can Create your service by filling the form below
                </div>
            </div>
            {% else %}
            <div id="edit">Edit Services
                <div class="page-title-subheading">You can Edit your service by filling the form below
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <center><span id="errMsg" style="color:red;font-size:13px;">{{errMsg}}</span></center>
        <form class="m-3 " name="productform" method="POST" id="productform" novalidate="novalidate">
            {% csrf_token %}
            <div class="position-relative row form-group">
                <div class="col">

                    <label class="col-sm-12 col-form-label custom-label">Service Name<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <input type="text" onkeyup="formValidation()" name="pdtName" class="form-control custom-input"
                            placeholder="Enter service name" id=id_pdtName value="{{EditList.product_name}}">
                        <p id="pdtName-error" style="display: none" class="error p-2" for="tag">error id_pdtName</p>
                    </div>
                </div>
                <div class="col">

                    <label class="col-sm-12 col-form-label custom-label">Location<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <!-- -------------------------------------------------------------------------------------------------------- -->
                        <div class="pac-card" id="pac-card">
                        </div>
                        <div id="pac-container">
                            <input type="text" onchange="formValidation()" value="{{EditList.location}}" name="location"
                                id="pac-input" class="form-control custom-input">
                            <p id="location-error" style="display: none" class="error p-2" for="tag">error location</p>
                        </div>
                        <div id="map"></div>
                        <div id="infowindow-content">
                            <span id="place-name" class="title"></span><br />
                            <span id="place-address"></span>
                            <input type="hidden" name="lat" id="lat" value="{{EditList.lat}}">
                            <input type="hidden" name="lng" id="lng" value="{{EditList.lng}}">

                        </div>
                        <!-- ------------------------------------------------------------------------------------------------------------------- -->
                    </div>
                </div>
            </div>
            <div class="position-relative row form-group">
                <div class="col">

                    <label class="col-sm-12 col-form-label custom-label">Category<span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-12">
                        <select class="custom-select" onchange="formValidation()" id=id_category name="category">
                            <option value=""></option>
                            {% for i in CategoryList %}
                            {
                            % set testing = {{i.id}}
                            }
                            {
                            % set another = EditList.subcategory.id %
                            }
                            <option value={{i.id}} {% ifequal testing another %} selected="selected" id=categoryselect>
                                {{i.category_name}} {% endifequal %}</option>


                            {% endfor %}
                        </select>
                        <p id="category-error" style="display: none" class="error p-2" for="tag">error category</p>
                    </div>
                </div>
                <div class="col">

                    <label class="col-sm-12 col-form-label custom-label"> Sub-Category <span
                            class="text-danger">*</span></label>

                    <div class="col-sm-12">
                        <select class="custom-select" id=id_subcategory1 name="subcategory" onchange="formValidation()">
                        </select>
                        <p id="subcategory-error" style="display: none" class="error p-2" for="tag">error subcategory
                        </p>
                    </div>
                </div>
            </div>


            <div class="position-relative row form-group">
                <div class="col">

                    <label class="col-sm-12 col-form-label custom-label">Enter price<span
                            class="text-danger">*</span></label>

                    <div class="col-sm-12">
                        <input type="text" onkeypress="return validprice(event)" oninput="formValidation()"
                            class="form-control custom-input" placeholder="Enter price" name="price" id="id_price"
                            value="{{EditList.price}}" />
                        <p id="price-error" style="display: none" class="error p-2" for="tag">error price</p>
                    </div>
                </div>
                <div class="col">

                    <label class="col-sm-12 col-form-label custom-label">Unit<span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <select class="custom-select" name="unit" id="id_unit">
                            <option value="2" {% ifequal EditList.unit 2 %} selected {% endifequal %}>Per hour</option>
                            <option value="1" {% ifequal EditList.unit 1 %} selected {% endifequal %}>Per day</option>
                        </select>
                        <p id="unit-error" style="display: none" class="error p-2" for="tag">error unit</p>
                    </div>
                </div>
            </div>

            <!-- -----------------------------------------------CK Editor------------------------------------------------------------- -->

            <div class="position-relative row form-group">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                        </div>
                        <div class="col-12">

                            <label class="col-sm-12 col-form-label custom-label">Description<span
                                    class="text-danger">*</span></label>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- <input type="text" maxlength="20" class="limitedTxt" name="content" id="cke"> -->
                                            <textarea name="content" class="limitedTxt" id="cke"
                                                required>{{EditList.description}} </textarea>
                                            <p id="description-error" style="display: none" class="error p-2" for="tag">
                                                error description</p>
                                            <input name="contentWordCount" type="hidden" value="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- --------------------------------------------------------------------------------------------------------- -->


            <!-- <div class="container-fluid mt-4">
                <div class="row">
                    <label class="col-sm-12 col-form-label custom-label">Select Thumbnail <span
                            class="text-danger">*</span></label> -->


            <!-- <div class="col-xs-12">
                        <label class="cabinet center-block">

                            <div>
                                <img src="{{EditList.image.url}}" id="outputedit" />

                                <img src="" class="gambar img-responsive img-thumbnail" id="item-img-outputedit" />
                                <input type="hidden" value="{{EditList.id}}" id="edit-imageedit" name="edit-imageedit">
                                <input type="hidden" value="" id="hidden-imageedit" name="hidden-imageedit"> -->
            <!-- <img src="" class="gambar img-responsive img-thumbnail" id="item-img-output" /> -->
            <!-- <figcaption><i class="fa fa-camera"></i></figcaption> -->
            <!-- <div class="text-left">
                                    <p id="image-error" style="display: none" class="error p-2" for="tag">error image
                                    </p>

                                </div> -->
            <!-- </div>
                            <input type="file" class="item-img file center-block" id="id_image" name="file_photo"
                                onclick=" imageedit('#item-img-outputedit','#hidden-imageedit','#id_image')" /> -->

            <!-- <input type="file" onchange="validation()" class="item-img file center-block" id="id_image" name="file_photo" onclick=" imageedit('#item-img-outputedit','#hidden-imageedit')"/> -->
            <!-- </label>
                    </div>
                </div>
                <span id="err_image" class="text-danger"></span>
            </div>
            <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">
                                <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div id="upload-demo" class="center-block"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- ------------------------------------------------------------------------------------- -->
            <input type="hidden" value="{{EditList.id}}" name='p_id'>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="submit" id="submit"
                    onclick="return formValidation()">Submit</button>
                <!-- <input class="btn btn-primary" type="submit" name="submit" id="submit" onclick="return formValidation()"> -->
            </div>
        </form>

    </div>

</div>

{% load static %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'assets/js/pdtDetails.js' %}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places&v=weekly&channel=2"
    async></script>
<!-- ---------------------------------------crop----------------------------------------------------------------------- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css">
</link>

<script src="{% static 'assets/js/crop.js' %}"></script>
<script src="{% static 'assets/js/validation.js' %}"></script>
<!-- ----------------------------------------------------crop--------------------------------------------------------------- -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- ------------------------------------------------------------ -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js'></script>




<!-- -------------------------------------------places api-------------------------------------------------------------------- -->


<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF-SLZgOZEFLB0O8iBWbGUV1AYefPiwAw&callback=initMap&libraries=places&v=weekly&channel=2"
    async></script>
<script>
    function initMap() {
        const center = { lat: 50.064192, lng: -130.605469 };

        const defaultBounds = {
            north: center.lat + 0.1,
            south: center.lat - 0.1,
            east: center.lng + 0.1,
            west: center.lng - 0.1,
        };
        const input = document.getElementById("pac-input");


        const options = {
            types: ['(cities)'],
            componentRestrictions: { country: "in" }
        };
        const autocomplete = new google.maps.places.Autocomplete(input, options);

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            document.getElementById('lat').value = latitude;
            document.getElementById('lng').value = longitude;
        });
    }
</script>

<!------------------------------------------------same product name check----------------------------------------------------------- -->
<script>
    $("#id_pdtName").change(function () {
        var name = $(this).val();
        $.ajax({
            method: "GET",
            url: "/vendor/NameCheck",
            data: {
                'nme': name,
            },
            success: function (data) {

                if (data['status'] == 200) {
                    dispErrMessage("errMsg", "Name already exist", 2000);
                    $("#id_pdtName").val('');
                }
            }

        })

    });

</script>

<!-- ---------------------------------------------------ckeditor------------------------------------------------------------------- -->
<script>
    CKEDITOR.replace('content',
    // {height: 1000,
    // plugins: 'italic,underline',
    // removePlugins: 'save,newpage,flash,about,iframe,bold'
    // }
    // config.removeButtons = 'Cut,Copy,Paste,Undo,Redo,Italic',
// config.toolbar = [
//     { name: 'basicstyles', items: [ 'Italic' ] }
// ]
    );
</script>

<!-- ---------------------------------------------------validation------------------------------------------------------------------------ -->
<script type="text/javascript">

    $(function () {
        CKEDITOR.instances['cke'].on('contentDom', function () {
            this.document.on('keyup', function (event) {
                formValidation();
            });
        });
    });
    function formValidation() {
        let pdtName = $('#id_pdtName').val();
        let imageURL = $('#hidden-imageedit').val();
        let location = $('#pac-input').val();
        let category = $('#id_category').val();
        let price = $('#id_price').val();
        let unit = $('#id_unit').val();
        let description = CKEDITOR.instances['cke'].getData();
        let img_val = $('#edit-imageedit').val();
        let is_valid = true;
        // let unit = $('#id_unit').val();

        if (pdtName === "") {
            $('#pdtName-error').css("display", "block");
            $('#pdtName-error').text("Enter the valid service name");
            is_valid = false;
        } else {
            $('#pdtName-error').css("display", "none");
        }

        if (imageURL === "" && img_val === "") {
            $('#image-error').css("display", "block");
            $('#image-error').text(" please select thumbnail image");
            is_valid = false;
        } else {
            $('#image-error').css("display", "none");
        }

        if (price === "") {
            $('#price-error').css("display", "block");
            $('#price-error').text("Enter valid price");
            is_valid = false;
        } else {
            $('#price-error').css("display", "none");
        }
        if (unit === "") {
            $('#unit-error').css("display", "block");
            $('#unit-error').text("Enter valid unit");
            is_valid = false;
        } else {
            $('#unit-error').css("display", "none");
        }
        if (category === "") {
            $('#category-error').css("display", "block");
            $('#category-error').text("Enter valid category");
            is_valid = false;
        } else {
            $('#category-error').css("display", "none");
        }
        if (location === "") {
            $('#location-error').css("display", "block");
            $('#location-error').text("Enter valid location");
            is_valid = false;
        } else {
            $('#location-error').css("display", "none");
        }
        if (description === "") {
            $('#description-error').css("display", "block");
            $('#description-error').text("Enter description");
            is_valid = false;
        } else {
            if (description.replace(/<[^>]*>/gi, '').length - 1 > 1200) {
                $('#description-error').css("display", "block");
                $('#description-error').text("Description too long(max.200 characters)");
                is_valid = false;
            } else {
                $('#description-error').css("display", "none");
            }
        }

        return is_valid;
    }
    $("#id_category").change(function () {
        var subcat = '{{EditList.subcategory.id}}'


        $('#id_subcategory1').empty()
        var category_id = $(this).val()
        $.ajax({
            type: "GET",
            url: '/get/category/details',
            data: { varid: category_id },
            success: function (resp) {
                var option = ''

                $.each(resp, function (key, val) {
                    var pk = val.pk;
                    var name = val.fields['subcategory_name'];
                    if (subcat == pk) {
                        option += `<option value="${pk}" selected="selected" >${name}</option>`

                    }
                    else {
                        option += `<option value="${pk}">${name}</option>`

                    }

                });

                $('#id_subcategory1').append(option)

            }
        })
    });
    $(window).load(function () {
        // alert("jjjjjjjjjjjjjjjjjj")
        ID = $(id_category).val()
        var subcat = '{{EditList.subcategory.id}}'
        $.ajax({
            type: "GET",
            url: '/get/category/details',
            data: { varid: ID },
            success: function (resp) {

                var option = ''

                $.each(resp, function (key, val) {
                    var pk = val.pk;
                    var name = val.fields['subcategory_name'];
                    if (subcat == pk) {
                        option += `<option value="${pk}" selected="selected" >${name}</option>`

                    }
                    else {
                        option += `<option value="${pk}">${name}</option>`

                    }

                });

                $('#id_subcategory1').append(option)

            }
        })

    });
</script>
<style>
    label.error {
        margin-right: 3%;
        float: right;
        font-size: 0.9rem;
        line-height: 1.25;
        padding-top: 4px;
        color: red;
    }
</style>

{% endblock content %}