{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .iconDiv {
        font-size: 2.5rem;
        align-self: center;
        display: flex;

    }

    .iconDiv i {
        color: #d7dde8;
        transition: 0.5s;
    }

    .iconDiv i:hover {
        color: #063a9bbd;
    }

    .bg-hover {
        border-radius: 8px;
    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Notifications
                <div class="page-title-subheading">You can view all notifications here</div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block ">

            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-3 offset-md-9 text-right">
        <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn" data-toggle="modal"
            data-target="#filterModal">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button>
    </div>
</div> -->

<div class="row">
    {% for i in notification %}
    <div class="col-md-6">
        <div class="card bg-hover my-3 w-100 notification-card">
            <a href="{{i.ulr_typ}}" onclick="changenotification('{{i.id}}')">
                <div class="card-body  py-3">
                    <div class="row no-gutters">
                        <div class="col-1 p-0 m-0 iconDiv">
                            <i class="icon icon-anim-pulse ion-android-notifications"></i>

                        </div>
                        <div class="col-md-7">
                            <h4 class="title">{{i.title}}</h4>
                            <p class="mb-0 title"> {{i.message}}</p>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <div class="text-muted mt-4">{{i.recieved_date|date:"Y-m-d" }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </a>
    </div>
    {% endfor %}
</div>



<!-- Filter Modal -->
<div class="modal fade custom-modal" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="position-relative form-group col-md-6">
                            <label for="fromDate" class="custom-label">From Date</label>
                            <input name="fromDate" id="fromDate" placeholder="Select From Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker">
                        </div>
                        <div class="position-relative form-group col-md-6">
                            <label for="toDate" class="custom-label">To Date</label>
                            <input name="toDate" id="toDate" placeholder="Select To Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker">
                        </div>
                    </div>
                    <button type="button"
                        class="btn btn-hover-shine theme-dark-btn text-light btn-md mt-2 btn-sm btn-wide"
                        data-dismiss="modal">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function changenotification(id) {
        console.log("done")

        $.ajax({

            type: "GET",
            url: '/editnotification',
            data: { varid: id },
            success: function (resp) {
                console.log(resp)


            }
        });

    }
</script>

{% endblock content %}