{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Package Details
                <div class="page-title-subheading">You can view details of created Package here
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="position-relative row form-group">
            <label for="packageName" class="col-sm-3 col-form-label custom-label">Package Name <span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.package_name }}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="price" class="col-sm-3 col-form-label custom-label">Price<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.price }}</p>
            </div>
        </div>

        <div class="position-relative row form-group">
            <label for="l_limit" class="col-sm-3 col-form-label custom-label">Product Listing Limit<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.product_listign_limit}}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="l_limit" class="col-sm-3 col-form-label custom-label">Duration(months)<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.months}}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="img_limit" class="col-sm-3 col-form-label custom-label">Display Image Limit<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.dispaly_image_limit }}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="l_limit" class="col-sm-3 col-form-label custom-label">Ad Limit<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.add_limit }}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="l_limit" class="col-sm-3 col-form-label custom-label">Video Limit<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{ package.video_limit}}</p>
            </div>
        </div>
        <div class="position-relative row form-group"><label for="benefits"
                class="col-sm-3 col-form-label">Benefits<span class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data font-weight-normal">{{package.benifits|safe}}</p>
            </div>
        </div>

    </div>
</div>



{% endblock content %}