{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Packages
                <div class="page-title-subheading">You can view all created packages here and create new packages by
                    clicking Create Package button
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <a href="/package/create">
                    <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                        data-toggle="modal" data-target="#createCategory">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-cube fa-w-20"></i>
                        </span>
                        Create Package
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                <tr>

                    {% if package|length == 0 %}
                    <div class="text-center">No data found!</div>
                    {% else %}
                    <th>No.</th>
                    <th>Package</th>
                    <th>Pricing</th>
                    <th class="nosort-th">View</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for i in package %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ i.package_name }}</td>
                    <td>{{ i.price }}</td>
                    <td><a href="{% url 'package-view' i.id %}"><button class="btn btn-info btn-wide btn-sm table-btn"
                                data-toggle="modal" data-target="#editCategory">View</button></a></td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn"
                                id="myBtn{{ i.id }}">Edit</button></td>


                                <div id="myModal{{ i.id }}" class="modaledit{{i.id}}">
                                    <div class="modal-dialog modal-content1 modal-content">
                                      <span class="close{{i.id}}">&times;</span>
                                      <p>This package may have been taken by any of the vendors. Are you sure to edit the <b> {{i.package_name|title}}</b> package? </p>
                                      <a href="{% url 'package-edit' i.id %}"><button class="btn ri-btn btn-danger btn-wide btn-sm table-btn"
                                        data-toggle="modal" data-target="#editCategory">Edit</button></a>
                                    </div>
                                  </div>
                                  <style>
                                      .ri-btn{
                                            left: 85%;
                                      }
                                    .modaledit{{i.id}} {
                                    display: none; 
                                    position: fixed;
                                    z-index: 2; 
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgb(0,0,0);
                                    background-color: rgba(0,0,0,0.4);
                                    }
                                    .modal-content1 {
                                    background-color: #fefefe;
                                    margin: 15% auto;
                                    padding: 20px;
                                    border: 1px solid #888;
                                    width: 80%; 
                                    }
                                    .close{{i.id}} {
                                    color: #aaa;
                                    float: right;
                                    font-size: 28px;
                                    font-weight: bold;
                                    }
                                    .close{{i.id}}:hover,
                                    .close{{i.id}}:focus {
                                    color: black;
                                    text-decoration: none;
                                    cursor: pointer;
                                    }
                                </style>
                                <script>
                                    var modal{{i.id}} = document.getElementById("myModal{{ i.id }}");
                                    var btn{{i.id}} = document.getElementById("myBtn{{ i.id }}");
                                    var span{{i.id}} = document.getElementsByClassName("close{{ i.id }}")[0];
                                    btn{{i.id}}.onclick = function() {
                                    modal{{i.id}}.style.display = "block";
                                    }
                                    span{{i.id}}.onclick = function() {
                                    modal{{i.id}}.style.display = "none";
                                    }
                                    window.onclick = function(event) {
                                    if (event.target == modal{{i.id}}) {
                                        modal{{i.id}}.style.display = "none";
                                    }
                                    }
                                </script>
                    <td><button class="btn btn-danger btn-wide btn-sm table-btn" onclick="packageDelete('{{i.id}}')"
                            data-toggle="modal" data-target="#deletePackage">Delete</button></td>
                </tr>
                
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        
    </div>
</div>


<script>
    packageDelete = (id) => {
        document.getElementById('package_delete_id').value = id;
        $.ajax({
            type: "GET",
            url: '/check/package',
            data: { varid: id },
            success: function (resp) {
                console.log(resp)
                if (resp['new'] == 'expired') {
                    $('#delete_pack').hide();
                    document.getElementById("newid").innerHTML = ' This package is currently under use'
                }
                if (resp['new'] == 'pending') {
                    $('#delete_pack').show();
                    document.getElementById("newid").innerHTML = 'Are you sure do you want to delete?'
                }
            }
        });
    }
</script>
<!-- Delete category Modal -->
<div class="modal fade custom-modal" id="deletePackage">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Package</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label" id="newid">Are you sure do you want to
                            delete?</label>
                    </div>
                    <input type="hidden" name="id" id="package_delete_id">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2"
                        id="delete_pack">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

</script>


{% endblock content %}