{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            {% if package == None%}
            <div>Create Package
                <div class="page-title-subheading">You can Create Package your custom package by filling the form below
                </div>
            </div>
            {% else %}
            <div>Edit Package
                <div class="page-title-subheading">You can Edit Package here
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>


<div class="main-card mb-3 card">

    <div class="card-body">
        <form class="m-3" method="POST" name="package" id='package'>
            {% csrf_token %}

            <div class="position-relative row form-group">
                <label for="packageName" class="col-sm-3 col-form-label custom-label">Package Name <span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="package" id="packageName" placeholder="Enter package name" type="text"
                        value="{{package.package_name}}" class="form-control custom-input " required>
                    <!-- <div class="invalid-feedback">
                        @error('package')

                        @enderror
                    </div> -->
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="price" class="col-sm-3 col-form-label custom-label">Price<span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="price" id="price" placeholder="Enter price" type="text" value="{{package.price}}"
                        class="form-control custom-input " required>
                    <!-- <div class="invalid-feedback">
                        @error('price')

                        @enderror
                    </div> -->
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="l_limit" class="col-sm-3 col-form-label custom-label">Service Listing Limit<span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="listing_limit" id="l_limit" placeholder="Enter limit" type="text"
                        value="{{package.product_listign_limit}}" class="form-control custom-input " required>
                    <!-- <div class="invalid-feedback">
                        @error('listing_limit')

                        @enderror
                    </div> -->
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="img_limit" class="col-sm-3 col-form-label custom-label">Display Image Limit<span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="image_limit" id="img_limit" placeholder="Enter limit" type="text"
                        value="{{package.dispaly_image_limit}}" class="form-control custom-input ">
                    <!-- <div class="invalid-feedback">
                        @error('image_limit')

                        @enderror
                    </div> -->
                </div>
            </div>
            <div class="position-relative row form-group"><label for="benefits"
                    class="col-sm-3 col-form-label">Benefits<span class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <textarea name="benifits" id="benefits" class="form-control custom-input "
                        placeholder="Enter Benefits" required maxlength="10">{{package.benifits}}</textarea>
                    <input type="hidden" id="newii">
                    <!-- <div class="invalid-feedback">
                        @error('benifits')

                        @enderror
                    </div> -->
                </div>

            </div>
            <div class="position-relative row form-group">
                <label for="price" class="col-sm-3 col-form-label custom-label">Duration(months)<span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="duration" id="duration" placeholder="Enter months" type="text"
                        value="{{package.months}}" class="form-control custom-input " required>
                    <!-- <div class="invalid-feedback">
                        @error('price')

                        @enderror
                    </div> -->
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="price" class="col-sm-3 col-form-label custom-label">Ad Limit<span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="addlimit" id="addlimit" placeholder="Enter Ad Limit" type="text"
                        value="{{package.add_limit}}" class="form-control custom-input " required>
                    <!-- <div class="invalid-feedback">
                        @error('price')

                        @enderror
                    </div> -->
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="price" class="col-sm-3 col-form-label custom-label">Video Limit<span
                        class="float-right d-none d-md-block">:</span></label>
                <div class="col-sm-9">
                    <input name="videolimit" id="videolimit" placeholder="Enter Video Limit" type="text"
                        value="{{package.video_limit}}" class="form-control custom-input " required>
                    <!-- <div class="invalid-feedback">
                        @error('price')

                        @enderror
                    </div> -->
                </div>
            </div>

            {% if package == None %}
            <div class="position-relative row form-check">
                <div class="col-sm-9 offset-sm-3 pl-0">
                    <button type="submit" class="btn btn-secondary theme-dark-btn btn-wide mt-3"
                        onclick="validate()">Create</button>
                </div>
            </div>
            {% else %}
            <div class="position-relative row form-check">
                <div class="col-sm-9 offset-sm-3 pl-0">
                    <button type="submit" onclick="validate()"
                        class="btn btn-secondary theme-dark-btn btn-wide mt-3">Update</button>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js'></script>
<script src="./script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>


<script type="text/javascript">




</script>
<script>
    $(document).ready(function () {
        $('#packageName').on('change', function () {
            var init_value = $(this).val();
            console.log(init_value)
            $.ajax({
                type: 'GET',
                url: '/package/create',
                data: {
                    'data': init_value

                },
                cache: false,
                success: function (result) {
                    if (result.status == 200) {
                        $('.error-messages').remove();
                        $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#packageName");
                        $(".error-messages").text("This package already exists").fadeIn().fadeOut(2444);
                        document.getElementById("packageName").value = '';
                    }
                }
            });

        });


        $('#price').on('change', function () {

            var init_value = $(this).val();
            if (isNaN(init_value)) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#price");
                $(".error-messages").text("Please enter a number").fadeIn().fadeOut(2444);


                document.getElementById("price").value = '';
            }
            if (init_value < 0) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#price");
                $(".error-messages").text("Price must not be a negtive number").fadeIn().fadeOut(2444);
                document.getElementById("price").value = '';
            }
            if (init_value > 400000) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#price");
                $(".error-messages").text("Limit exceeded").fadeIn().fadeOut(2444);
                document.getElementById("price").value = '';
            }



        });
        $('#l_limit').on('change', function () {

            var init_value = $(this).val();
            if (isNaN(init_value)) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#l_limit");
                $(".error-messages").text("Not a valid number").fadeIn().fadeOut(2444);
                document.getElementById("l_limit").value = '';
            }
            if (init_value < 0) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#l_limit");
                $(".error-messages").text("Product listing  must not be a negtive number").fadeIn().fadeOut(2444);
                document.getElementById("l_limit").value = '';
            }
            if (init_value > 100) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#l_limit");
                $(".error-messages").text("Value exceeded").fadeIn().fadeOut(2444);
                document.getElementById("l_limit").value = '';

            }

        });

        $('#img_limit').on('change', function () {

            var init_value = $(this).val();
            if (isNaN(init_value)) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#img_limit");
                $(".error-messages").text("Not a valid number").fadeIn().fadeOut(2444);
                document.getElementById("img_limit").value = '';
            }
            if (init_value < 1) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#img_limit");
                $(".error-messages").text("Image listing  must not be a negtive number").fadeIn().fadeOut(2444);
                document.getElementById("img_limit").value = '';

            }
            if (init_value > 100) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#img_limit");
                $(".error-messages").text("Value exceeded").fadeIn().fadeOut(2444);
                document.getElementById("img_limit").value = '';
            }

        });
        $('#addlimit').on('change', function () {

            var init_value = $(this).val();
            if (isNaN(init_value)) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#addlimit");
                $(".error-messages").text("Not a valid number").fadeIn().fadeOut(2444);
                document.getElementById("addlimit").value = '';
            }
            if (init_value < 0) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#addlimit");
                $(".error-messages").text("Add listing must  not be a negtive number ").fadeIn().fadeOut(2444);
                document.getElementById("addlimit").value = '';

            }
            if (init_value > 100) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#addlimit");
                $(".error-messages").text("Value exceeded").fadeIn().fadeOut(2444);
                document.getElementById("addlimit").value = '';

            }

        });
        $('#videolimit').on('change', function () {

            var init_value = $(this).val();
            if (isNaN(init_value)) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#videolimit");
                $(".error-messages").text("Not a valid number").fadeIn().fadeOut(2444);
                document.getElementById("videolimit").value = '';

            }
            if (init_value < 0) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#videolimit");
                $(".error-messages").text("Video lisiting limit must not be negtive ").fadeIn().fadeOut(2444);
                document.getElementById("videolimit").value = '';
            }
            if (init_value > 100) {

                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#videolimit");
                $(".error-messages").text("Value exceeded").fadeIn().fadeOut(2444);
                document.getElementById("videolimit").value = '';

            }

        });
        $('#duration').on('change', function () {

            var init_value = $(this).val();
            if (isNaN(init_value)) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#duration");
                $(".error-messages").text("Not a valid number").fadeIn().fadeOut(2444);
                document.getElementById("duration").value = '';
            }
            if (init_value < 0) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#duration");
                $(".error-messages").text("Duration must not be a negtive number").fadeIn().fadeOut(2444);
                document.getElementById("duration").value = '';
            }
            if (init_value > 100) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#duration");
                $(".error-messages").text("Value exceeded").fadeIn().fadeOut(2444);

                document.getElementById("duration").value = '';
            }

        });
    });
    function trimfield(str) {
        return str.replace(/^\s+|\s+$/g, '');
    }

    function validate() {
        event.preventDefault();
        var obj1 = document.getElementById('benefits');
        var obj2 = document.getElementById('packageName');
        var obj3 = document.getElementById('price');
        var obj4 = document.getElementById('l_limit');
        var obj5 = document.getElementById('img_limit');
        var obj6 = document.getElementById('duration');
        var obj7 = document.getElementById('addlimit');
        var obj8 = document.getElementById('videolimit');

        var messageLength = CKEDITOR.instances['benefits'].getData().replace(/<[^>]*>/gi, '').length;

        if (trimfield(obj2.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#packageName");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);

            obj2.focus();
            return false;
        }
        else if (trimfield(obj3.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#price");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);
            obj3.focus();
            return false;
        }
        else if (trimfield(obj4.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#l_limit");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);

            obj4.focus();
            return false;
        }
        else if (trimfield(obj5.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#img_limit");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);

            obj5.focus();
            return false;
        }
        else if (!messageLength) {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#newii");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);

            return false;
        }
        else if (messageLength - 1 > 200) {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#newii");
            $(".error-messages").text("Maximun limit exceeded").fadeIn().fadeOut(2444);

            return false;
        }
        else if (trimfield(obj6.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#duration");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);
            obj6.focus();
            return false;
        } else if (trimfield(obj7.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#addlimit");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);
            obj7.focus();
            return false;
        } else if (trimfield(obj8.value) == '') {
            $('.error-messages').remove();
            $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#videolimit");
            $(".error-messages").text("Required!").fadeIn().fadeOut(2444);
            obj8.focus();
            return false;
        }

        else {
            $('#package').submit();
        }

    }

    CKEDITOR.replace('benefits', {

        enterMode: CKEDITOR.ENTER_BR
    });

</script>
<script>
    // CKEDITOR.instances.benefits.on('change', function () {
    //     var desc = CKEDITOR.instances.benefits.getData();
    //     y = desc.replace(/<[^>]*>/gi, '')
    //     alert(y)
        // if (desc.replace(/<[^>]*>/gi, '').length - 1 > 10) {

        //     $('.error-messages').remove();
        //     $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter("#benefits");
        //     $(".error-messages").text("value exceeded").fadeIn().fadeOut(2444);
        //     return false

        // }




    // });

</script>




{% endblock content %}