{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Service Request
                <div class="page-title-subheading">You can view all service request and rejected service list here
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 p-0">
    <div class="mb-3 card">
        <div class="card-body p-0">
            <ul class="tabs-animated-shadow nav-justified tabs-animated nav custom-animated-tab">
                <li class="nav-item">
                    <a role="tab" class="nav-link" id="all" data-toggle="tab" href="#tab-all">
                        <span class="nav-text">Running Service</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a role="tab" class="nav-link active" id="new" data-toggle="tab" href="#tab-new">
                        <span class="nav-text">Service Requests</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a role="tab" class="nav-link" id="rejected" data-toggle="tab" href="#tab-rejected">
                        <span class="nav-text">Rejected Service</span>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-new" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn"
                                data-toggle="modal" data-target="#filterModal">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button>
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Service Name</th>
                                        <th>Category</th>
                                        <th>Subcategory</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>image</th>
                                        <th class="nosort-th">View</th>
                                        <th class="nosort-th">Accept</th>
                                        <th class="nosort-th">Reject</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for i in product %}
                                    {% if i.is_approved == False and i.reason == None %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.category.category_name}}</td>
                                        <td>{{i.subcategory.subcategory_name}}</td>
                                        <td>{{i.vendor.first_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                                        <td><a href="{% url 'product-view' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        <td><a href="requests/approve/?id={{i.id}}"><button
                                                    class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn">Accept</button>
                                        </td>
                                        <td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn"
                                                data-toggle="modal" data-target="#rejectModal"
                                                onclick="rejectreason('{{i.id}}')">Reject</button></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-rejected" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn"
                                data-toggle="modal" data-target="#filterModal">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button>
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>#</th>
                                        <th>Service Name</th>
                                        <th>Category</th>
                                        <th>Subcategory</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>image</th>
                                        <th class="nosort-th">View</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in product %}
                                    {% if i.is_approved == False and i.reason != None %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.category.category_name}}</td>
                                        <td>{{i.subcategory.subcategory_name}}</td>
                                        <td>{{i.vendor.first_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                                        <td><a href="{% url 'product-view' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-all" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn"
                                data-toggle="modal" data-target="#filterModal">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button>
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>#</th>
                                        <th>Service Name</th>
                                        <th>Category</th>
                                        <th>Subcategory</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>image</th>
                                        <th class="nosort-th">View</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in product %}
                                    {% if i.is_approved == True%}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.category.category_name}}</td>
                                        <td>{{i.subcategory.subcategory_name}}</td>
                                        <td>{{i.vendor.first_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                                        <td><a href="{% url 'product-view' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div class="modal fade custom-modal" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'service-request'%}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="position-relative form-group col-md-6">
                            <label for="fromDate" class="custom-label">From Date</label>
                            <input name="fromDate" id="fromDate" placeholder="Select From Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker" autocomplete="off" required>
                        </div>
                        <div class="position-relative form-group col-md-6">
                            <label for="toDate" class="custom-label">To Date</label>
                            <input name="toDate" id="toDate" placeholder="Select To Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker" autocomplete="off" required>
                        </div>
                    </div>
                    <button type="submit"
                        class="btn btn-hover-shine theme-dark-btn text-light btn-md mt-2 btn-sm btn-wide">Filter</button>
                    <!-- <button type="submit"
                        class="btn btn-hover-shine theme-dark-btn text-light btn-md mt-2 btn-sm btn-wide"
                        data-dismiss="modal">Filter</button> -->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Reject Modal -->
<div class="modal fade custom-modal reject-modal" id="rejectModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-danger text-light">
                <h4 class="modal-title">Reject Reason</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'service-approve' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="position-relative form-group col-md-12">
                            <label for="rejectReason" class="custom-label">Reason</label>
                            <textarea name="rejectReason" id="rejectReason" cols="10"
                                class="form-control custom-input w-100" placeholder="Enter Reason" required></textarea>
                        </div>
                    </div>
                    <input type="hidden" value="" name="rejectId" id="reject" />
                    <button type="submit"
                        class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button>
                    <!-- <button type="submit" class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide"
                    data-dismiss="modal">Reject</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function rejectreason(id) {
        document.getElementById("reject").value = id


    }
</script>

{% endblock content %}