{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Reviews{% for i in re %}
                {{i.id}}
                {{i.title}}
                {% endfor %}
                <div class="page-title-subheading">You can view all reviews list here
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 p-0">
    <div class="mb-3 card">
        <div class="card-body p-0">
            <ul class="tabs-animated-shadow nav-justified tabs-animated nav custom-animated-tab">
                <li class="nav-item" id='run'>
                    <a role="tab" class="nav-link active" id="all" data-toggle="tab" onclick="selectid(1)"
                        href="#tab-all">
                        <span class="nav-text" id="id_all">Approved Reviews</span>
                    </a>
                </li>
                <li class="nav-item" id='req'>
                    <a role="tab" class="nav-link" id="new" data-toggle="tab" onclick="selectid(2)" href="#tab-new">
                        <span class="nav-text" id="id_new">Pending Reviews</span>
                    </a>
                </li>
                <li class="nav-item" id='reje'>
                    <a role="tab" class="nav-link" id="rejectede" data-toggle="tab" onclick="selectid(4)"
                        href="#tab-rejectede">
                        <span class="nav-text">Rejected Reviews</span>
                    </a>
                </li>
                <li class="nav-item" id='rej'>
                    <a role="tab" class="nav-link" id="rejected" data-toggle="tab" onclick="selectid(3)"
                        href="#tab-rejected">
                        <span class="nav-text">Flagged Reviews</span>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-all" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary mb-3 float-right"
                                data-toggle="modal" data-target="#filterModal" onclick="deletedate()">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table"
                                id="id_running">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>No.</th>
                                        <th>Title</th>
                                        <th>Rating</th>
                                        <th>User</th>
                                        <th>Vendor</th>
                                        <th>Service</th>
                                        <th>Date</th>
                                        <th>View</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody id="new_running">
                                    {% for i in approved %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.title}}</td>
                                        <td>{{i.rating}}★</td>
                                        <td>{{i.user.first_name}}</td>
                                        <td>{{i.product.vendor.first_name}}</td>
                                        <td>{{i.product.product_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><a href="{% url 'review' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-new" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary mb-3 float-right"
                                data-toggle="modal" data-target="#filterModal" onclick="deletedate()">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table"
                                id="id_approve">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Tittle</th>
                                        <th>Rating</th>
                                        <th>User</th>
                                        <th>Vendor</th>
                                        <th>Service</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th class="nosort-th">View</th>
                                        <th class="nosort-th">Accept</th>
                                        <th class="nosort-th">Reject</th>
                                    </tr>
                                </thead>
                                <tbody id="new_approve">
                                    {% for i in pending %}
                                    <tr>
                                        {% if i %}
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.title}}</td>
                                        <td>{{i.rating}}★</td>
                                        <td>{{i.user.first_name}}</td>
                                        <td>{{i.product.vendor.first_name}}</td>
                                        <td>{{i.product.product_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td style="text-transform:capitalize;"><b>{{i.get_approvel_sts_display}}</b></td>
                                        <td><a href="{% url 'review' i.id %}"><button
                                            class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm">View</button></a>
                                        </td>
                                        {% if i.approvel_sts == 0 %}
                                        <td><a href="/approve/review/{{i.id}}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">Accept</button></a>
                                        </td>
                                        <td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn"
                                                data-toggle="modal" data-target="#rejectModal{{i.id}}"
                                                onclick="rejectreason{{i.id}}('{{i.id}}')">Reject</button></td>
                                        {% endif %}
                                        {% endif %}
                                    </tr>
                                    <div style="position: absolute;">
                                        <div class="modal fade custom-modal reject-modal" id="rejectModal{{i.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header bg-danger text-light">
                                                        <h4 class="modal-title">Reject Reason</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <form action="/reject/review/{{i.id}}/" method="POST">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="position-relative form-group col-md-12">
                                                                    <label for="rejectReason" class="custom-label">Reason</label>
                                                                    <textarea name="rejectReason" id="rejectReason{{i.id}}" cols="10"
                                                                        class="form-control custom-input w-100" placeholder="Enter Reason" required
                                                                        maxlength="100"></textarea>
                                                                    <span class="error" style="color: red">
                                                                        <p id="password_error{{i.id}}"></p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="" name="rejectId" id="reject{{i.id}}" />
                                                            <a href="/reject/review/{{i.id}}/">
                                                            <button type="submit"
                                                                class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button></a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            // rejectreason{{i.id}}(id)
                                            function rejectreason(id) {
                                                $('#rejectReason{{i.id}}').val('');
                                                document.getElementById('password_error{{i.id}}').innerHTML = '';
                                                document.getElementById("reject{{i.id}}").value = id
                                            }
                                            $('#rejectReason{{i.id}}').on('input', function () {
                                                var x = $(this).val()
                                                if (x.length > 99) {
                                                    document.getElementById('password_error{{i.id}}').innerHTML = 'Maximum 100 characters allowed';
                                                }
                                            });
                                            $(document).ready(function () {
                                        
                                            });
                                        </script>
                                    </div>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab-rejectede" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary mb-3 float-right"
                                data-toggle="modal" data-target="#filterModal" onclick="deletedate()">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table"
                                id="id_rejected">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>No.</th>
                                        <th>Review Title</th>
                                        <th>Rating</th>
                                        <th>User</th>
                                        <th>Vendor</th>
                                        <th>Service</th>
                                        <th>Date</th>
                                        <th class="nosort-th">View</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody id="new_rejected">

                                    {% for i in rejected %}
                                    
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.title}}</td>
                                        <td>{{i.rating}}★</td>
                                        <td>{{i.user.first_name}}</td>
                                        <td>{{i.product.vendor.first_name}}</td>
                                        <td>{{i.product.product_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><a href="{% url 'review' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        
                                    </tr>
                                    <div style="position: absolute;">
                                        <div class="modal fade custom-modal reject-modal" id="rejectModal{{i.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header bg-danger text-light">
                                                        <h4 class="modal-title">Reject Reason</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <form action="/reject/review/{{i.id}}/" method="POST">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="position-relative form-group col-md-12">
                                                                    <label for="rejectReason" class="custom-label">Reason</label>
                                                                    <textarea name="rejectReason" id="rejectReason{{i.id}}" cols="10"
                                                                        class="form-control custom-input w-100" placeholder="Enter Reason" required
                                                                        maxlength="100"></textarea>
                                                                    <span class="error" style="color: red">
                                                                        <p id="password_error{{i.id}}"></p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="" name="rejectId" id="reject{{i.id}}" />
                                                            <a href="/reject/review/{{i.id}}/">
                                                            <button type="submit"
                                                                class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button></a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            function rejectreason{{i.id}}(id) {
                                                $('#rejectReason{{i.id}}').val('');
                                                document.getElementById('password_error{{i.id}}').innerHTML = '';
                                                document.getElementById("reject{{i.id}}").value = id
                                            }
                                            $('#rejectReason{{i.id}}').on('input', function () {
                                                var x = $(this).val()
                                                if (x.length > 99) {
                                                    document.getElementById('password_error{{i.id}}').innerHTML = 'Maximum 100 characters allowed';
                                                }
                                            });
                                            $(document).ready(function () {
                                        
                                            });
                                        </script>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab-rejected" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary mb-3 float-right"
                                data-toggle="modal" data-target="#filterModal" onclick="deletedate()">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table"
                                id="id_rejected">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>No.</th>
                                        <th>Title</th>
                                        <th>Rating</th>
                                        <th>User</th>
                                        <th>Vendor</th>
                                        <th>Service</th>
                                        <th>Date</th>
                                        <th class="nosort-th">View</th>
                                        <th class="nosort-th">Reject</th>
                                        <th class="nosort-th">Suspend</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody id="new_rejected">

                                    {% for i in flagged %}
                                    
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.title}}</td>
                                        <td>{{i.rating}}★</td>
                                        <td>{{i.user.first_name}}</td>
                                        <td>{{i.product.vendor.first_name}}</td>
                                        <td>{{i.product.product_name}}</td>
                                        <td>{{i.created_on|date:"Y-m-d" }}</td>
                                        <td><a href="{% url 'review' i.id %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        <td><button class="btn btn-hover-shine btn-warning btn-wide btn-sm table-btn"
                                            data-toggle="modal" data-target="#rejectModal{{i.id}}"
                                            onclick="rejectreason2('{{i.id}}')">Reject</button></td>
                                        <td><a href="{% url 'suspend-review-vendor' i.id %}"><button
                                            class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn">Suspend Vendor</button></a>
                                        </td>
                                    </tr>
                                    <div style="position: absolute;">
                                        <div class="modal fade custom-modal reject-modal" id="rejectModal{{i.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header bg-danger text-light">
                                                        <h4 class="modal-title">Reject Reason</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <form action="/reject/review/{{i.id}}/" method="POST">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="position-relative form-group col-md-12">
                                                                    <label for="rejectReason" class="custom-label">Reason</label>
                                                                    <textarea name="rejectReason" id="rejectReason{{i.id}}" cols="10"
                                                                        class="form-control custom-input w-100" placeholder="Enter Reason" required
                                                                        maxlength="100"></textarea>
                                                                    <span class="error" style="color: red">
                                                                        <p id="password_error{{i.id}}"></p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="" name="rejectId" id="reject{{i.id}}" />
                                                            <a href="/reject/review/{{i.id}}/">
                                                            <button type="submit"
                                                                class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button></a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            function rejectreason{{i.id}}(id) {
                                                $('#rejectReason{{i.id}}').val('');
                                                document.getElementById('password_error{{i.id}}').innerHTML = '';
                                                document.getElementById("reject{{i.id}}").value = id
                                            }
                                            $('#rejectReason{{i.id}}').on('input', function () {
                                                var x = $(this).val()
                                                if (x.length > 99) {
                                                    document.getElementById('password_error{{i.id}}').innerHTML = 'Maximum 100 characters allowed';
                                                }
                                            });
                                            $(document).ready(function () {
                                        
                                            });
                                        </script>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<!-- <div class="modal fade custom-modal" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="position-relative form-group col-md-6">
                        <label for="fromDate" class="custom-label">From Date</label>
                        <input name="fromDate" id="fromDate" placeholder="Select From Date" type="text"
                            class="form-control custom-input" data-toggle="datepicker" required>
                    </div>
                    <div class="position-relative form-group col-md-6">
                        <label for="toDate" class="custom-label">To Date</label>
                        <input name="toDate" id="toDate" placeholder="Select To Date" type="text"
                            class="form-control custom-input" data-toggle="datepicker" required>
                    </div>
                </div>
                <button type="submit" id="pdt_filter_btn"
                    class="btn btn-hover-shine theme-dark-btn text-light btn-md mt-2 btn-sm btn-wide">Filter</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Reject Modal -->
<!-- <div class="modal fade custom-modal reject-modal" id="rejectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h4 class="modal-title">Reject Reason</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="position-relative form-group col-md-12">
                            <label for="rejectReason" class="custom-label">Reason</label>
                            <textarea name="rejectReason" id="rejectReason" cols="10"
                                class="form-control custom-input w-100" placeholder="Enter Reason" required
                                maxlength="100"></textarea>
                            <span class="error" style="color: red">
                                <p id="password_error"></p>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" value="" name="rejectId" id="reject" />
                    <a href="/reject/review/{{i.id}}/">
                    <button type="submit"
                        class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button></a>
                </form>
            </div>
        </div>
    </div>
</div> -->



<!-- <script>
    function rejectreason(id) {
        $('#rejectReason').val('');
        document.getElementById('password_error').innerHTML = '';
        document.getElementById("reject").value = id

    }
    $('#rejectReason').on('input', function () {
        var x = $(this).val()
        if (x.length > 99) {
            document.getElementById('password_error').innerHTML = 'Maximum 100 characters allowed';


        }
    });
    $(document).ready(function () {

    });


</script> -->


<!-- <script>
    function selectid(id) {
        document.getElementById("id_selected").value = id
    }
    $("#pdt_filter_btn").click(function () {
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();
        var id_hidden = document.getElementById("id_selected").value;


        $.ajax({
            type: 'POST',
            url: '/reviewFilter/',
            data: { fromDate: fromDate, toDate: toDate, id_hidden: id_hidden },
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            success: function (data) {
                var ln = data['id'].length

                if (id_hidden == 1) {
                    $('#id_running').find("tr:gt(1)").remove();
                    for (k = 0; k < ln; k++) {
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_running').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="/media/${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class" >View</button></a></td></tr>`);

                    }

                }
                if (id_hidden == 2) {
                    $('#id_approve').find("tr:gt(0)").remove();
                    for (k = 0; k < ln; k++) {
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_approve').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="/media/${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class">View</button></a></td><td><a href="/service/requests/approve?id=${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn">Accept</button></a></td><td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn" data-toggle="modal" data-target="#rejectModal" onclick="rejectreason('${data['id'][k]['id']}')">Reject</button></td></tr>`);

                    }

                }
                if (id_hidden == 3) {
                    $('#id_rejected').find("tr:gt(1)").remove();
                    for (k = 0; k < ln; k++) {
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_rejected').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="/media/${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class"  >View</button></a></td></tr>`);
                    }

                }



            }


        });

    });
    function editproduct(id) {
        window.location = `/vendor/edit/services/${id}`;
    }
    function suspend_revoke(id) {

        $.ajax({
            type: "GET",
            url: '/product/status',
            data: { varid: id },
            success: function (resp) {

                window.localStorage.setItem('value1', '#run');
                window.localStorage.setItem('value2', '#all');
                location.reload();

            }

        });
    }
    $(document).ready(function () {


        var x = window.localStorage.getItem("value1");
        var y = window.localStorage.getItem("value2");


        if (x && y !== 'null') {
            $("#req").removeClass("active")
            $("#new").removeClass("active")
            $(x).addClass('active');
            $(y).addClass('active show');
            $(x).attr("href", "#tab_all")
            $('#tab-new').removeClass("active")

            $('#tab-all').addClass("active")

            document.getElementById("id_selected").value = 1




        }

        localStorage.clear();

    })

</script> -->

<input type="hidden" id="id_selected" value=2>

{% endblock content %}