{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<link href="{% static 'assets/css/rating.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'assets/js/rating.js' %}"></script>
<link href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<div class="container">
    <input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value="{{review.rating}}">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mt-3">
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label">User <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        <p style="margin: auto; font-weight: bold;">{{ review.user.first_name|title }}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label">Title <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        <p style="margin: auto; font-weight: bold;">{{ review.title|title }}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label">Category <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        <p style="margin: auto; font-weight: bold;">{{ review.product.category.category_name|title }}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label">Sub category <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        <p style="margin: auto; font-weight: bold;">{{ review.product.subcategory.subcategory_name|title}}
                        </p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label" for="desc">Comments <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        {{ review.review|safe }}
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label">Status <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        <p style="margin: auto; font-weight: bold;">{{ review.get_approvel_sts_display|title }}</p>
                    </div>
                </div>
                {% if review.approvel_sts == 2 %}
                <div class="position-relative row form-group">
                    <label class="col-sm-5 col-form-label custom-label">Reject Reason <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-7 m-auto">
                        <p style="margin: auto; font-weight: bold;">{{ review.reject_reason|title }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 mt-3">
                <h6 class="font-weight-bold w-100 border-bottom">Review Images</h6>
                <div class="position-relative row form-group">
                    {% for attr in reviewimages_attribute %}
                    {% if attr.is_deleted == False %}
                    <div class="col-sm-2" style="align-self: end;">
                        <img src="{{attr.images.url}}" class="img-fluid " style="margin-bottom: 1px;margin-top: 2px"
                            alt="">
                        
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
        {% endblock %}