{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>
<style>
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    /* .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    } */

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Service Details
                <div class="page-title-subheading">You can view details of created service here
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="position-relative row form-group">
            <label for="serviceName" class="col-sm-3 col-form-label custom-label">Service Name <span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{product.product_name}}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="serviceType" class="col-sm-3 col-form-label custom-label">Catrgory name<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{product.category.category_name}}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="rate" class="col-sm-3 col-form-label custom-label">Subcategory<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{product.subcategory.subcategory_name}}</p>
            </div>
        </div>
        <!-- <div class="position-relative row form-group">
            <label for="rate" class="col-sm-3 col-form-label custom-label">Rate<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{product.price}}</p>
            </div>
        </div> -->
        <div class="position-relative row form-group">
            <label for="rate" class="col-sm-3 col-form-label custom-label">price and unit <span
                    class="float-right d-none d-md-block">:</span></label>
            <!-- <div class="col-sm-9 m-auto"> -->
<div class="charges-div">
    {% for i in SELECTUNIT %}
        <div class="charges">
            <p class="charge-title">{{i.unit.unit}} 
            <span class="amount">
                {% if i.price %}
               &#8377; {{i.price}}
               {% else %}
               &#8377; {{i.from_price}}-&#8377;{{i.to_price}}
               {% endif %}
            </span>
        </p>
        </div>
    {% endfor %}
    </div>
                <!-- {%for i in SELECTUNIT %}
                {% if i.0 == product.unit%}
                <p class="info-data">{{i.id}}hhhhhhhhh</p>
                {% endif%}
                {% endfor %} -->
            <!-- </div> -->
        </div>
        <div class="position-relative row form-group">
            <label for="desc" class="col-sm-3 col-form-label custom-label">Description<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{product.description|safe}}</p>

            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="tags" class="col-sm-3 col-form-label custom-label">Location<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data">{{product.location}}</p>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="serviceImg" class="col-sm-3 col-form-label">Service Image<span
                    class="float-right d-none d-md-block">:</span></label>
            <div class="col-sm-9 m-auto">
                <p class="info-data font-weight-normal"><img src="{{product.image.url}}" class="img-fluid img-150 mt-2"
                        alt=""></p>
            </div>
        </div>
        <!-- <div class="position-relative row form-group mt-2">
            <div class="col-sm-12">
                <a href="">
                    <button class="btn btn-hover-shine btn-md btn-wide btn-focus">Edit</button>
                </a>
            </div>
        </div> -->


    </div>
</div>
Images
<div class="main-card mb-3 card">
    <div class="card-body">
        {% if album|length == 0%}

        <div class="text-center">No Images found!</div>
        {% else %}
        {% for i in album %}
        <div class="gallery">
            <a target="_blank">
                <img id="myImg{{i.id}}" src="{{i.image.url}}" alt="Cinque Terre" width="200" height="200"
                    onclick="imagepop('myImg{{i.id}}')">
            </a>
            {% if i.is_approved == False %}
            <a href="{% url 'imageapprove' i.id %}"><button
                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">Approve</button></a>
            <!-- <a href="{% url 'imageapprove' i.id %}"></a><button
                class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">Approve</button></a> -->
            </label>
            {% else %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                <label class="form-check-label" for="flexCheckChecked">
                    Approved
                </label>
            </div>
            {% endif %}
            <!-- <div class="desc">Add a description of the image here</div> -->
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>
Videos
<div class="main-card mb-3 card">
    <div class="card-body">
        {% if videos|length == 0%}

        <div class="text-center">No videos found!</div>
        {% else %}
        {% for i in videos %}

        <div class="gallery">
            <video width="150" height="150" controls poster="{{i.thumbnail.url}}">
                <source src="{{i.Videos.url}}" type="video/mp4">
                </source>
            </video>

            {% if i.is_approved == False %}


            <a href="{% url 'video-approve' i.id %}"><button
                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">Approve</button></a>
            <!-- <a href="{% url 'imageapprove' i.id %}"></a><button
                class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">Approve</button></a> -->
            </label>
            {% else %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                <label class="form-check-label" for="flexCheckChecked">
                    Approved
                </label>
            </div>
            {% endif %}
            <!-- <div class="desc">Add a description of the image here</div> -->
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>


<!-- The Modal -->
<!-- <div id="myModal" class="modal">
    <div class="closeBtn"><button>x</button></div>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div> -->
<div id="myModal" class="modal productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closeBtn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="modal-content" id="img01">
            </div>
        </div>
    </div>
</div>
<script>
    function imagepop(id) {

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById(id);
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            modalImg.alt = this.alt;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeBtn")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

    }
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closeBtn")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

{% endblock content %}