{% extends 'base/base.html' %}
{% load static %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Category
                <div class="page-title-subheading">You can view all created categories here and create new category by
                    clicking Create Category button
                </div>
            </div>
        </div>
        <div class="page-title-actions pt-3">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target="#createCategory" onclick="cleardata1()">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-cubes fa-w-20"></i>
                    </span>
                    Create Category
                </button>
                <button type="button" class="btn-shadow btn btn-info btn btn-hover-shine ml-3" data-toggle="modal"
                    data-target=".subCatModal" onclick="cleardata2()">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-cubes fa-w-20"></i>
                    </span>
                    Create Sub Category
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                {% if category|length == 0%}

                <div class="text-center">No data found!</div>
                {% else %}
                <tr>
                    <th>No.</th>
                    <th>Category Name</th>
                    <th>Thumbnail</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for i in category %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.category_name }}</td>
                    <td><img src="{{ i.thumbnail.url }}" class="img-fluid banner-table-img" alt=""></td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn"
                            onclick="categoryEdit('{{i.id}}', '{{i.category_name}}')" data-toggle="modal"
                            data-target="#editcategorymodal">Edit</button></td>
                    <td><button class="btn btn-danger btn-wide btn-sm table-btn" onclick="categoryDelete('{{i.id}}')"
                            data-toggle="modal" data-target="#deleteCategory">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- New category creation UI -->
<div class="row">
    <div class="app-inner-layout chat-layout w-100">
        <div class="app-inner-layout__wrapper row-fluid no-gutters category-layout">
            <div class="app-inner-layout__sidebar bg-transparent card border-0">
                <div class="p-3">


                    <div
                        class="dropdown-menu nav p-0 dropdown-menu-inline dropdown-menu-rounded dropdown-menu-hover-primary">
                        <h6 tabindex="-1" class="pt-0 dropdown-header pl-0 pb-3">Main Category</h6>
                        {% for i in category %}
                        <a href="#cat-{{i.id}}" data-toggle="tab" tabindex="0"
                            class="mb-1 dropdown-item show {% if forloop.counter == 1 %}active{% endif %}"
                            aria-expanded="true">{{i.category_name}}</a>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="row mx-0 card w-100 mt-4">
                <div class="p-3">
                    <div class="mobile-app-menu-btn mb-3">
                        <button type="button" class="hamburger hamburger--elastic"><span class="hamburger-box"><span
                                    class="hamburger-inner"></span></span></button>
                    </div>
                    <div class="tab-content">
                        {% for data in category %}


                        <div class="tab-pane show {% if forloop.counter == 1 %}active{% endif %}" id="cat-{{data.id}}">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="title">{{data.category_name}}</p>
                                </div>
                                <div class="col-md-6 text-right">


                                </div>
                            </div>
                            <div class="divider mt-0"></div>
                            <div class="table-responsive">
                                <table class="mb-0 table table-bordered ">

                                    <thead>
                                        {% if data.subcategory_attribute|length == 0 %}
                                        <div> No data found </div>
                                        {% else %}
                                        <tr>
                                            <th>No.</th>
                                            <th>Sub Category</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for attr in data.subcategory_attribute %}





                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>

                                            <td>{{attr.subcategory_name}}</td>
                                            <td><button class="btn btn-focus table-btn" data-toggle="modal"
                                                    data-target="#editSubModalLabel"
                                                    onclick="editsubcategory('{{attr.id}}')" data-toggle="modal"
                                                    data-target="#createCategory">Edit</button></td>
                                            <td><a href="#"><button class="btn table-btn btn-danger" data-toggle="modal"
                                                        data-target="#subdeleteCategory"
                                                        onclick="SubcategoryDelete('{{attr.id}}')">Delete</button></a>
                                            </td>
                                        </tr>


                                        {% endfor %}


                                    </tbody>
                                    {% endif %}

                                </table>
                            </div>


                        </div>

                        {% endfor %}



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    categoryEdit = (id, category) => {
        document.getElementById('category1').value = category;
        document.getElementById('category_id').value = id;
    }

    categoryDelete = (id) => {
        document.getElementById('custId').value = ''
        document.getElementById('custId').value = id;

    }
    SubcategoryDelete = (id) => {
        document.getElementById('custId-edit').value = ''
        document.getElementById('custId-edit').value = id;

    }
</script>

<!-- Delete category Modal -->
<div class="modal fade custom-modal" id="deleteCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Category</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="position-relative form-group">
                    <label for="editCategoryName" class="custom-label" id="newid">Are you sure do you want to
                        delete?</label>
                </div>
                <!-- <form action="{% url 'delete-category' %}" method="POST" enctype="multipart/form-data"> -->
                    <input type="hidden" id="custId" name="custId" value="">
                    {% csrf_token %}

                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2" onclick="deletecategorycheck()">Delete</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>


<!-- rith delete sub category -->
<!-- Delete subcategory Modal -->
<div class="modal fade custom-modal" id="subdeleteCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Sub-Category</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="position-relative form-group">
                    <label for="editCategoryName" class="custom-label" id="newid">Are you sure do you want to
                        delete?</label>
                </div>
           
                    <input type="hidden" id="custId-edit" name="custId" value="">
                    {% csrf_token %}

                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2" onclick="deletesubcategorycheck()" >Delete</button>
               
            </div>
        </div>
    </div>
</div>


<!-- ********************************************** New cateogory modal UI *************************** -->

<style>
    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }
</style>

<div class="modal fade custom-modal" id="createCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'create-category' %}" method="POST" enctype="multipart/form-data"
                    id="create_category" name="create_category">
                    {% csrf_token %}


                    <div class="container">
                        <div class="position-relative form-group">
                            <label for="category" class="custom-label">Category Name</label>
                            <input name="name" id="category-name" placeholder="Enter category name" type="text"
                                class="form-control custom-input " onchange="checkchange(this,'/checkback')">
                        </div>
                        <input type="hidden" value="" id="hidden-category-id" name="hidden-category">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="cabinet center-block">
                                    <figure>

                                        <img src="" class="gambar img-responsive img-thumbnail"
                                            id="item-img-outputcategory" />
                                        <figcaption><i class="fa fa-camera"></i></figcaption>
                                    </figure>
                                    <input type="file" id="createfile"
                                        onclick=" imageedit('#item-img-outputcategory','#hidden-category-id','#createfile')"
                                        class="item-img file center-block" name="file_photo" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        onclick="validate('#category-name','#createfile','#create_category')">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit category Modal -->
<div class="modal fade custom-modal" id="editcategorymodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Category Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'edit-category' %}" method="POST" id="category-edit1">
                    {% csrf_token %}
                    <div class="position-relative form-group">
                        <label for="editBannerName" class="custom-label">Category Name</label>
                        <input name="name" id="editcategoryName" placeholder="" type="text"
                            class="form-control custom-input " value="" onchange="checkchange(this,'/checkback')">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleFile" class="w-100">Catrgory Image</label>
                        <img src="" class="img-fluid" alt="" id='edit-image-category'>
                    </div>
                    <input type="hidden" value="" id="hidden-categoryedit" name="hidden-categoryedit">
                    <input type="hidden" value="" id="edit-id-category" name="edit-id-category">
                    <div class="position-relative form-group">
                        <label for="exampleFile" class="w-100">Change image</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="cabinet center-block">
                                    <figure>

                                        <img src="" class="gambar img-responsive img-thumbnail"
                                            id="item-img-outputeditcategory" />
                                        <figcaption><i class="fa fa-camera"></i></figcaption>
                                    </figure>
                                    <input type="file" id="file_cat"
                                        onclick=" imageedit('#item-img-outputeditcategory','#hidden-categoryedit','#file_cat')"
                                        class="item-img file center-block" name="file_photo" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        onclick="validateupdate('#editcategoryName','#edit-image-category','#category-edit1')">Update</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- image crop -->
<div class="modal fade custom-modal" id="cropImagePop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                </h4>
            </div>
            <div class="modal-body">
                <div id="upload-demo" class="center-block"></div>
            </div>
            <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
        </div>
    </div>
</div>
<!-- sub category modal -->
<div class="modal fade subCatModal custom-modal" tabindex="-1" role="dialog" aria-labelledby="subCatModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subCatModalLabel">Sub Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id='sub-category1' action="{% url 'create-sub-category' %}" method="POST" name='sub-category1'>
                    {% csrf_token %}
                    <div class="position-relative form-group">
                        <label for="toDate" class="custom-label">Category</label>
                        <select name="category" id="sub-category-category" class="form-control custom-select">
                            <option disabled>Select Category</option>
                            {% for i in category %}
                            <option value="{{i.id}}">{{i.category_name}}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <div class="position-relative form-group mt-4">
                        <label for="subCategoryName" class="custom-label">Sub Category Name</label>
                        <input name="sub-category" id="subCategoryName" placeholder="Enter Sub Category name"
                            type="text" class="form-control custom-input " onchange="checkchange(this,'/checkback1')"
                            required>
                    </div>
                    <!-- <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Create</button> -->
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        onclick=" validateupdate2('#sub-category-category','#subCategoryName','#sub-category1')">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->


<!-- Edit sub category modal -->
<div class="modal fade editSubModal custom-modal" tabindex="-1" role="dialog" aria-labelledby="editSubModalLabel"
    aria-hidden="true" id="editSubModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSubModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'edit-sub-category' %}" method="POST" name="edit-sub-category"
                    id="edit-sub-category">
                    {% csrf_token %}
                    <div class="position-relative form-group">
                        <label for="toDate" class="custom-label">Category</label>
                        <select name="category" id="select1" class="form-control custom-select">


                        </select>
                    </div>
                    <div class="position-relative form-group mt-4">
                        <label for="subCategoryName" class="custom-label">Sub Category Name</label>
                        <input name="sub-category" id="subCategoryName1" placeholder="Enter Sub Category name"
                            type="text" class="form-control custom-input " onchange="checkchange(this,'/checkback1')">
                    </div>
                    <input type="hidden" name="sub-id" id="subid1">

                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        onclick=" validateupdate2('#select1','#subCategoryName1','#edit-sub-category')">Update</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script>

        function editsubcategory(id) {
            $('#select1').empty()
            $.ajax({
                type: "GET",
                url: 'edit/sub-category',
                data: { varid: id },
                success: function (resp) {
                    console.log(resp)
                    document.getElementById('subCategoryName1').value = ''
                    document.getElementById('subid1').value = ''
                    document.getElementById('subid1').value = id


                    document.getElementById('subCategoryName1').value = resp['name']
                    optionValue = resp['category_id']
                    optionText = resp['category_name']
                    $('#select1').append(`<option value="${optionValue}">${optionText}</option>
                                            {% for i in category %}
                                                    <option value="{{i.id}}">{{i.category_name}}</option>
                                                    <!-- <option value="">Category</option> -->
                                                    {% endfor %} `);

                }
            })
        }

        function categoryEdit(id) {
            $.ajax({

                type: "GET",
                url: 'create/category',

                data: { data1: id },

                success: function (responsedata) {

                    console.log(responsedata)
                    document.getElementById('editcategoryName').value = ''
                    document.getElementById('editcategoryName').value = ''
                    document.getElementById('edit-image-category').value = ''
                    document.getElementById('edit-id-category').value = ''
                    document.getElementById('edit-id-category').value = id
                    document.getElementById('editcategoryName').value = responsedata['name']
                    document.getElementById('edit-image-category').src = responsedata['image']



                }
            })


        }



        function imgaeformat(value_get) {
            var y = $(value_get)[0].files[0].name
            var newvalue = y.split('.')
            var get_last = newvalue[newvalue.length - 1]
            return get_last
        }


        function trimfield(str) {
            return str.replace(/^\s+|\s+$/g, '',);
        }
        function validate(first, second, third) {
            event.preventDefault();
            var myarray = ['jpg', 'png', 'jpeg'];
            // var pick = imgaeformat(second)

            var alphanumers = /^[^-\s][a-zA-Z0-9_\s-]+$/;
            var obj1 = $(first);
            var obj2 = $(second);

            if (trimfield(obj1.val()) == '') {
                console.log("hi")

                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
                $(".error-messages").text("Required").fadeIn().fadeOut(2444);

                obj1.focus();
                return false;


            }

            else if (!alphanumers.test(obj1.val())) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
                $(".error-messages").text("Only alphabets and numbers allowed ").fadeIn().fadeOut(2444);

                obj1.focus();
                return false;

            }


            else if (trimfield(obj2.val()) == '') {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
                $(".error-messages").text("Required").fadeIn().fadeOut(2444);
                obj2.focus();
                return false;
            }
            else if (trimfield(obj2.val()) !== '' && !myarray.includes(imgaeformat(second))) {

                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
                $(".error-messages").text("Only 'jpg', 'png', 'jpeg' files are allowed ").fadeIn().fadeOut(2444);
                obj2.focus();
                return false;






            }

            else {



                $(third).submit();
            }

        }

        function validateupdate(first, second, third) {
            event.preventDefault();
            var myarray = ['jpg', 'png', 'jpeg'];
            var alphanumers = /^[^-\s][a-zA-Z0-9_\s-]+$/;
            var obj1 = $(first);
            var obj2 = $(second);


            if (trimfield(obj1.val()) == '') {

                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
                $(".error-messages").text("Required").fadeIn().fadeOut(2444);

                obj1.focus();
                return false;


            }
            else if (!alphanumers.test(obj1.val())) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
                $(".error-messages").text("Only alphabets and numbers allowed ").fadeIn().fadeOut(2444);

                obj1.focus();
                return false;

            }
            else if (trimfield(obj2.val()) !== '' && !myarray.includes(imgaeformat(second))) {

                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
                $(".error-messages").text("Only 'jpg', 'png', 'jpeg' files are allowed ").fadeIn().fadeOut(2444);
                obj2.focus();
                return false;
            }


            else {



                $(third).submit();
            }

        }


        function checkchange(x, y) {

            var newid = '#' + x.id

            $.ajax({
                type: 'GET',
                url: y,
                data: {
                    'data': x.value

                },
                cache: false,
                success: function (result) {
                    if (result["messages"] == 333) {
                        $('.error-messages').remove();
                        $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(newid);
                        $(".error-messages").text("This Category alredy exists").fadeIn().fadeOut(2444);
                        document.getElementById(x.id).value = ''
                    }
                }
            });



        }
    </script>
    <script>
        function cleardata1() {
            $("#category-name").val(null);
            // document.getElementById("category-name").value = " "
            document.getElementById("item-img-outputcategory").src = "https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg"

        }
        function cleardata2() {
            console.log("hrrrriirrrrrrrrrrrrriiiiiiiiiiiiiiiiiiiiiiiii")
            var x = document.getElementById("sub-category-category").selectedIndex;
            console.log(x, 'itsx')

            document.getElementById("sub-category-category").selectedIndex = 0;
            // document.getElementById("subCategoryName").value = ''
            $("#subCategoryName").val(null);


        }
        function validateupdate2(first, second, third) {

            event.preventDefault();
            var myarray = ['jpg', 'png', 'jpeg'];
            var alphanumers = /^[^-\s][a-zA-Z0-9_\s-]+$/;
            var obj1 = $(first);
            var obj2 = $(second);



            if (obj1.val() == null) {


                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(first);
                $(".error-messages").text("Required").fadeIn().fadeOut(2444);

                obj1.focus();
                return false;


            }
            if (trimfield(obj2.val()) == '') {

                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
                $(".error-messages").text("Required").fadeIn().fadeOut(2444);
                obj2.focus();
                return false;
            }
            if (!alphanumers.test(obj2.val())) {
                $('.error-messages').remove();
                $("<div class='error-messages text-danger' style='display:none;'></div>").insertAfter(second);
                $(".error-messages").text("Only alphabets and numbers allowed ").fadeIn().fadeOut(2444);

                obj1.focus();
                return false;

            }

            else {



                $(third).submit();
                return true;
            }

        }

    function deletecategorycheck(){
        $.ajax({
                type: 'GET',
                url: "/delete/category",
                data: {
                    'id': document.getElementById("custId").value

                },
                cache: false,
                success: function (result) {
                  if(result['status']=="no"){
                  
                    swal({ title: "Sorry!",
                        text: "A service is created under this category!",
                        type: "error"}).then(okay => {
                        if (okay) {
                            location.reload();
                        }
                    });
   
                                        

                  }
                  else{
                    location.reload();
                  }
                }
            });

    } 


    function deletesubcategorycheck(){
        $.ajax({
                type: 'GET',
                url: "/delete/sub-category",
                data: {
                    'id': document.getElementById("custId-edit").value

                },
                cache: false,
                success: function (result) {
                    console.log(result)
                  if(result['status']=="no"){
                  
                    swal({ title: "Sorry!",
                        text: "A service is created under this Sub category!",
                        type: "error"}).then(okay => {
                        if (okay) {
                            location.reload();
                        }
                    });
   
                                        

                  }
                  else{
                    location.reload();
                  }
                }
            });

    } 
    </script>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% endblock content %}