{% extends 'base/base.html' %}
{% block content %}
{% load static %}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Banner
                <div class="page-title-subheading">You can view all created banner with type here and create new banner
                    by clicking Create Banner button
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target="#createBanner" id="test">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="lnr-picture"></i>
                    </span>
                    Create Banner
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>

                {% if banner|length == 0 %}

                <div class="text-center">No data found!</div>

                {% else %}
                <tr>
                    <th>#</th>
                    <th>Banner Name</th>
                    <th>Banner Type</th>
                    <th class="nosort-th">Banner Image</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>
                </tr>

            </thead>
            <tbody>
                {% for i in banner %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.id}}</td>
                    <input type="hidden" id="custId" name="" value="{{i.id}}">
                    <td><img src="{{ i.image.url }}" class="img-fluid banner-table-img" alt=""></td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn" data-toggle="modal"
                            data-target="#editBanner" value="{{i.id}}" id="edit-banner"
                            onclick="UpdateStatus('{{i.id}}')">Edit</button></td>
                    <td><button class="btn btn-danger btn-wide btn-sm table-btn">Delete</button></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</div>


<style>
    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }
</style>
Create Banner Modal
<div class="modal fade custom-modal" id="createBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Banner</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'banner' %}" method="POST">
                    {% csrf_token %}
                    <div class="position-relative form-group">
                        <label for="bannerName" class="custom-label">Banner Name</label>
                        <input name="email" id="bannerName" placeholder="Enter Banner name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <div class="position-relative form-group">
                        <label for="bannerType" class="custom-label">Banner Type</label>
                        <select name="" id="" class="form-control custom-input ">
                            <option value="1">products</option>
                            <option value="1">services</option>
                        </select>
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleFile" class="">Banner Image</label>
                        <!-- <input name="file" id="exampleFile" type="file" class="image1 form-control-file custom-file-upload" /> -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="cabinet center-block">
                                        <figure>

                                            <img src="" class="gambar img-responsive img-thumbnail"
                                                id="item-img-output" />
                                            <figcaption><i class="fa fa-camera"></i></figcaption>
                                        </figure>
                                        <input type="file" class="item-img file center-block" name="file_photo" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="upload-demo" class="center-block"></div>
                                    </div>
                                    <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"
                        data-dismiss="modal">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Edit Banner Modal -->
<div class="modal fade custom-modal" id="editBanner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Banner</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    <div class="position-relative form-group">
                        <label for="editBannerName" class="custom-label">Banner Name</label>
                        <input name="email" id="editBannerName" placeholder="" type="text"
                            class="form-control custom-input " value="">
                    </div>
                    <div class="position-relative form-group">
                        <label for="editBannerType" class="custom-label">Banner Type</label>
                        <input name="email" id="editBannerType" placeholder="" type="text"
                            class="form-control custom-input ">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleFile" class="w-100">Banner Image</label>
                        <img src="" class="img-fluid" alt="" id='edit-image-banner'>
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-hover-shine banner-img-edit-btn"><i class="lnr-pencil"></i>
                                <input type="file" name="myfile" /></button>
                        </div>

                    </div>
                    <button type="button"
                        class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- crop mdal -->
<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">

                </h4>
            </div>
            <div class="modal-body">
                <div id="upload-demo" class="center-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</div>
<!-- crop modal -->
<!-- Crop Image Modal -->
<div class="modal fade cropModal" tabindex="-1" role="dialog" id="modal" aria-labelledby="cropModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cropModal">Crop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="card-title">Image Cropper</div>
                                <div>
                                    <img src="" id="image" alt="Picture">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="card-title">Preview</div>
                                <div class="text-center">
                                    <div class="preview-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{-- <button type="button" onclick="resetSupp()" class="btn btn-secondary btn-shadow">Reset</button>
                --}}
                <button id="crop" class="btn btn-primary btn-shadow">Crop</button>
            </div>
        </div>
    </div>
</div>


<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"></script> -->

<script>
    // Start upload preview image
    $(".gambar").attr("src", "https://user.gadjian.com/static/images/personnel_boy.png");
    var $uploadCrop,
        tempFilename,
        rawImg,
        imageId;
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $('#cropImagePop').modal('show');
                rawImg = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {
            width: 150,
            height: 200,
        },
        enforceBoundary: false,
        enableExif: true
    });
    $('#cropImagePop').on('shown.bs.modal', function () {
        // alert('Shown pop');
        $uploadCrop.croppie('bind', {
            url: rawImg
        }).then(function () {
            console.log('jQuery bind complete');
        });
    });

    $('.item-img').on('change', function () {
        imageId = $(this).data('id'); tempFilename = $(this).val();
        $('#cancelCropBtn').data('id', imageId); readFile(this);
    });
    $('#cropImageBtn').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: { width: 150, height: 200 }
        }).then(function (resp) {
            $('#item-img-output').attr('src', resp);
            $('#cropImagePop').modal('hide');
        });
    });
				// End upload preview image
</script>
<script>
    $('#item-img-output').on('change', function () {
        // var croppedimage = $image.getCroppedCanvas().toDataURL("image/png");
        console.log('hiiii');
        const toDataURL = url => fetch(url)
            .then(response => response.blob())
            .then(blob => new Promise((resolve, reject) => {
                const reader = new FileReader()
                reader.onloadend = () => resolve(reader.result)
                reader.onerror = reject
                reader.readAsDataURL(blob)
            }))




        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, { type: mime });
        }




        toDataURL(url)
            .then(dataUrl => {
                console.log('Here is Base64 Url', dataUrl)
                var fileData = dataURLtoFile(dataUrl, "imageName.jpg");
                console.log("Here is JavaScript File Object", fileData)
                fileArr.push(fileData)
            })
    });

    $("#item-img-output").on('change', function () {
        alert('hi');
    });
    function UpdateStatus(id) {




        var var1 = document.getElementById("custId").value;
        $.ajax({

            type: "GET",
            url: 'banner',

            data: { data1: id },

            success: function (responsedata) {
                console.log(responsedata['name'])
                document.getElementById('editBannerName').value = ''
                document.getElementById('editBannerType').value = ''

                document.getElementById("editBannerName").value = responsedata['name']
                document.getElementById("editBannerType").value = responsedata['type']
                document.getElementById("edit-image-banner").src = responsedata['image']



            }
        })

    }

    $(document).ready(function () {



        $("#test").click(function () {


        });

        //     $(".btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light").click(function () {
        //         $(".modal-backdrop fade show").remove();
        //     });


        $("#edit-banner").click(function () {

        })



    });

    // $('form[id="banner"]').validate({
    //     rules: {
    //         name: 'required',
    //         expiry: 'required',
    //         file: 'required',
    //     },
    //     message: {
    //         name: 'This field is required',
    //         expiry: 'This field is required',
    //         file: 'required',
    //     },
    //     submitHandler: function(form) {
    //         form.submit();
    //     }
    // });

</script>

{% endblock content %}