{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Vendor Request

                <div class="page-title-subheading">You can view all vendor request and rejected vendors list

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 p-0">
    <div class="mb-3 card">
        <div class="card-body p-0">
            <ul class="tabs-animated-shadow nav-justified tabs-animated nav custom-animated-tab">
                <li class="nav-item">
                    <a role="tab" class="nav-link active" id="new" data-toggle="tab" href="#tab-new">
                        <span class="nav-text">New Vendors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a role="tab" class="nav-link" id="rejected" data-toggle="tab" href="#tab-rejected">
                        <span class="nav-text">Rejected Vendors</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-new" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <div>
                                <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary mb-3 float-right"
                                    data-toggle="modal" data-target="#filterModal">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    Filter
                                </button> -->
                            </div>

                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
                                <thead>
                                    {% if pending|length == 0 %}

                                    <div class="text-center">No data found!</div>
                                    {% else %}

                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Package name</th>
                                        <th>Date</th>
                                        <th class="nosort-th">View</th>
                                        <th class="nosort-th">Accept</th>
                                        <th class="nosort-th">Reject</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    {% for i in pending %}




                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.user.first_name}}</td>
                                        <td>{{ i.packages.package_name}}</td>
                                        <td>{{i.expirydate|date:"Y-m-d" }}</td>
                                        <td><a href="{% url 'profile_vendor_admin' i.id  %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        <td><button type="button"
                                                class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn"
                                                onclick="acceptVendor('{{i.id}}')" data-toggle="modal"
                                                data-target="#acceptModal">Accept</button></td>
                                        <td><button type="button"
                                                class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn"
                                                onclick="rejectVendor('{{i.id}}')" data-toggle="modal"
                                                data-target="#rejectModal">Reject</button></td>
                                    </tr>

                                    {% endfor %}
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-rejected" role="tabpanel">
                    <div class="main-card mb-3 card table-card no-shadow mt-2">
                        <div class="card-body">
                            <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary mb-3 float-right"
                                data-toggle="modal" data-target="#filterModal">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-filter"></i>
                                </span>
                                Filter
                            </button> -->
                            <table
                                class="table table-hover w-100 table-striped table-bordered datasort-table custom-table w-100">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Package name</th>
                                        <th>Date</th>
                                        <th class="nosort-th">View</th>
                                        <!-- <th class="nosort-th">Accept</th> -->
                                        <!-- <th class="nosort-th">Delete</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in rejected %}



                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.user.first_name}}</td>
                                        <td>{{ i.packages.package_name}}</td>
                                        <td>{{i.expirydate|date:"Y-m-d" }}</td>
                                        <td><a href="{% url 'profile_vendor_admin' i.id  %}"><button
                                                    class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a>
                                        </td>
                                        <!-- <td><button type="button"
                                                class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn"
                                                onclick="acceptVendor('{{i.id}}')" data-toggle="modal"
                                                data-target="#acceptModal">Accept</button></td> -->

                                        <!-- <td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn"
                                                onclick="deleteVendor('{{i.id}}')" data-toggle="modal"
                                                data-target="#deleteModal">Delete</button></td> -->
                                    </tr>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    acceptVendor = id => document.getElementById('accept-id').value = id;

    rejectVendor = id => document.getElementById('vendor_reject_id').value = id;

    deleteVendor = id => document.getElementById('vendor_delete_id').value = id;
</script>

<!-- Filter Modal -->
<!-- <div class="modal fade custom-modal" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content"> -->

<!-- Modal Header -->
<!-- <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->

<!-- Modal body -->
<!-- <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="position-relative form-group col-md-6">
                            <label for="fromDate" class="custom-label">From Date</label>
                            <input name="fromDate" id="fromDate" placeholder="Select From Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker">
                        </div>
                        <div class="position-relative form-group col-md-6">
                            <label for="toDate" class="custom-label">To Date</label>
                            <input name="toDate" id="toDate" placeholder="Select To Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker">
                        </div>
                    </div>
                    <button type="button"
                        class="btn btn-hover-shine theme-dark-btn text-light btn-md mt-2 btn-sm btn-wide"
                        data-dismiss="modal">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- Reject Modal -->
<div class="modal fade custom-modal reject-modal" id="rejectModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-danger text-light">
                <h4 class="modal-title">Reject Reason</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="position-relative form-group col-md-12">
                            <label for="rejectReason" class="custom-label">Reason</label>
                            <textarea name="rejectReason" id="rejectReason" cols="10"
                                class="form-control custom-input w-100" placeholder="Enter Reason" maxlength="100"
                                oninput="rejectsubmit()" required></textarea>
                            <span class="error" style="color: red">
                                <p id="otp_error">

                                </p>
                            </span>
                        </div>
                        <input type="hidden" name="reject-id" id="vendor_reject_id" value=''>
                    </div>
                    <button type="submit"
                        class="btn btn-hover-shine btn-danger text-light btn-md mt-2 btn-sm btn-wide">Reject</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Accept Vendor Modal -->
<div class="modal fade custom-modal" id="acceptModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Accept Vendor</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}

                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label">Are you sure do you want to accept?</label>
                    </div>
                    <input type="hidden" name="accept-id" id="accept-id" value=''>
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success text-light btn-wide btn-sm mt-2">Accept</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Vendor Modal -->
<div class="modal fade custom-modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Vendor</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'del-vendor'%}">
                    {% csrf_token %}
                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label">Are you sure do you want to delete?</label>
                    </div>
                    <input type="hidden" name="id" id="vendor_delete_id">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function rejectsubmit() {
        var x = document.getElementById('rejectReason').value;
        var y = x.length


        // var obj1 = $('#rejectReason');
        if (y > 99) {
            $("#otp_error").html("maximum limit reached");

        }
    }

</script>
{% endblock content %}