{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>{{vendor.packages.first_name}}
                <div class="page-title-subheading">Package :<span class="font-weight-bold">
                        {{vendor.packages.package_name}}</span> | Validity :<span class="font-weight-bold">
                        {{vendor.packages.months}} months</span></div>
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block ">

            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row payment-details-div mt-0 pt-2">
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-3">Personal Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">First Name <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.first_name}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Last Name<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.last_name}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Email<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.email}}</p>
                    </div>
                </div>
                <!-- <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Mobile<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">+91 {{vendor.mobile_number}}</p>
                    </div>
                </div> -->
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Whatsapp number<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data"> {{vendor.whatsapp_number}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom  mt-3">Store Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Store name <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.store_name}}</p>
                    </div>
                </div>


                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">GST Number <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.gst_number}}</p>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Location<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.location}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Logo image<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.logo_image}}</button>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Thumbnail<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.thumbnail}}</button>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Caption<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.caption}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Description<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.Description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-4">Address Details</h6>

                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Address line 1 <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data"> {{vendor.address1}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Address line 2<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data"> {{vendor.address2}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Town<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data"> {{vendor.town}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">District<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data"> {{vendor.district}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">State<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data"> {{vendor.state}}</p>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-sm-6 col-form-label custom-label">Pincode<span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="col-sm-6 m-auto">
                        <p class="info-data">{{vendor.pincode}}</p>
                    </div>
                </div>
            </div>



            <div class="col-md-6 personal-div">
                <h6 class="mb-4 card-title font-weight-bold w-100 border-bottom mt-4">Documents</h6>

                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Incorporation certificate <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <button
                            class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.incorporation_certificate}}</button>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">GST <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.GST}}</button>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">PAN Card <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.pancard}}</button>
                    </div>
                </div>
                <div class="position-relative row form-group my-3">
                    <label class="custom-label col-sm-6 my-auto">Address Proof <span
                            class="float-right d-none d-md-block">:</span></label>
                    <div class="m-auto col-sm-6">
                        <button class="btn btn-secondary btn-sm btn-wide py-0">{{vendor.address_proof}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}