{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Vendors
                <div class="page-title-subheading">You can view all registered vendors here

                </div>

            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card">
    <div class="card-body">
        <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn" data-toggle="modal"
            data-target="#filterModal" onclick="deletedate()">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button>
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Package</th>
                    <th>Package Expiry</th>
                    <th class="nosort-th">View</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>
                    <th class="nosort-th">Suspend/Resume</th>
                </tr>
            </thead>
            <tbody>
                {% for i in vendor %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{ i.packages.package_name }}</td>
                    <td>{{i.expirydate|date:"Y-m-d" }}</td>
                    <td><a href="{% url 'profile_vendor_admin' i.id  %}"><button
                                class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn">View</button></a></td>
                    <td><a href="{% url 'edit_vendor_admin' i.id  %}"><button
                                class="btn btn-hover-shine btn-focus btn-wide btn-sm table-btn">Edit</button></a></td>
                    <td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn"
                            onclick="deleteVendor('{{i.id}}')" data-toggle="modal"
                            data-target="#deleteModal">Delete</button></td>
                    <td>
                        {% if i.is_suspended == True %}
                        <button type="button" class="btn btn-success"
                            onclick="suspend_revoke({{i.id}})">Resume</button>
                        {% else %}
                        <button type="button" class="btn btn-danger"
                            onclick="suspend_revoke({{i.id}})">Suspend</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


<script>

    deleteVendor = id => document.getElementById('vendor_delete_id').value = id;

</script>
<!-- Filter Modal -->
<div class="modal fade custom-modal" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'vendor_filter' %}" id="theForm" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="position-relative form-group col-md-6">
                            <label for="fromDate" class="custom-label">From Date</label>
                            <input name="fromDate" id="fromDate" required placeholder="Select From Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker" autocomplete="off">
                        </div>
                        <div class="position-relative form-group col-md-6">
                            <label for="toDate" class="custom-label">To Date</label>
                            <input name="toDate" id="toDate" required    placeholder="Select To Date" type="text"
                                class="form-control custom-input" data-toggle="datepicker" autocomplete="off">
                        </div>
                    </div>
                    <button type="submit" id="pdt_filter_btn" 
                        class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Vendor Modal -->
<div class="modal fade custom-modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Vendor</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label">Are you sure do you want to delete?</label>
                    </div>
                    <input type="hidden" name="id" id="vendor_delete_id">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function suspend_revoke(id) {

        $.ajax({
            type: "GET",
            url: '/vendor/status',
            data: { varid: id },
            success: function (resp) {
                location.reload();
            }

        });
    }
</script>

<script>
    function selectid(id) {
        document.getElementById("id_selected").value = id
    }
    $("#theForm").submit(function () {
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();
        var id_hidden = document.getElementById("id_selected").value;

        $('#filterModal').modal('toggle');
        $.ajax({
            type: 'POST',
            url: '/ServiceFilter/',
            data: { fromDate: fromDate, toDate: toDate, id_hidden: id_hidden },
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            success: function (data) {
                var ln = data['id'].length

                if (id_hidden == 1) {
                    $('#id_running').find("tr:gt(1)").remove();
                    for (k = 0; k < ln; k++) {
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_running').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="/media/${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class" >View</button></a></td><td><a href="/vendor/edit/services/${data['id'][k]['id']}"><button type="button" class="btn btn-hover-shine theme-dark-btn text-light btn-wide btn-sm mt-3"">Edit</button></a></td><td>
                                            {% if i.is_suspended == True %}
                                            <button type="button" class="btn btn-success"
                                                onclick="suspend_revoke('{{i.id}}')">Resume</button>
                                            {% else %}
                                            <button type="button" class="btn btn-danger"
                                                onclick="suspend_revoke('${data['id'][k]['id']}')">Suspend</button>
                                            {% endif %}</td></tr>`);

                    }

                }
                if (id_hidden == 2) {
                    $('#id_approve').find("tr:gt(0)").remove();
                    for (k = 0; k < ln; k++) {
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_approve').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="/media/${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class">View</button></a></td><td><a href="/service/requests/approve?id=${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-success btn-wide btn-sm table-btn">Accept</button></a></td><td><button class="btn btn-hover-shine btn-danger btn-wide btn-sm table-btn" data-toggle="modal" data-target="#rejectModal" onclick="rejectreason('${data['id'][k]['id']}')">Reject</button></td></tr>`);

                    }

                }
                if (id_hidden == 3) {
                    $('#id_rejected').find("tr:gt(1)").remove();
                    for (k = 0; k < ln; k++) {
                        var date_f = data['id'][k]['created_on'].split('T')[0];
                        $('#new_rejected').append(`<tr class="child"><td>${k + 1}</td><td>${data['id'][k]['product_name']}</td><td>${data['id'][k]['category__category_name']}</td><td>${data['id'][k]['subcategory__subcategory_name']}</td><td>${data['id'][k]['vendor__first_name']}</td><td>${date_f}</td><td><img src="/media/${data['id'][k]['image']}" class="img-fluid banner-table-img"></td><td><a href="/product/view/${data['id'][k]['id']}"><button class="btn btn-hover-shine btn-info btn-wide btn-sm table-btn view_class"  >View</button></a></td></tr>`);
                    }

                }



            }


        });

    });
    function editproduct(id) {
        window.location = `/vendor/edit/services/${id}`;
    }
    $(document).ready(function () {


        var x = window.localStorage.getItem("value1");
        var y = window.localStorage.getItem("value2");


        if (x && y !== 'null') {
            $("#req").removeClass("active")
            $("#new").removeClass("active")
            $(x).addClass('active');
            $(y).addClass('active show');
            $(x).attr("href", "#tab_all")
            $('#tab-new').removeClass("active")

            $('#tab-all').addClass("active")

            document.getElementById("id_selected").value = 1




        }

        localStorage.clear();

    })

</script>

{% endblock content %}