.vendorforgot-container .app-logo {
  background: url("../../images/logo-white.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 41px;
  width: 30%;
  position: relative;
  top: -60px;
}

.vendorforgot-container .forgot-bg-div {
  background: url("../../images/forgot-pass.png");
  background-size: cover;
  background-color: white;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.vendorforgot-container .otp-bg-div {
  background: url("../../images/otp.png");
  background-size: cover;
  background-color: white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.vendorforgot-container .password-bg-div {
  background: url("../../images/password.png");
  background-size: cover;
  background-color: white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.vendorforgot-container .form-div {
  box-shadow: -8px 5px 18px 2px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -8px 5px 18px 2px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -8px 5px 18px 2px rgba(0, 0, 0, 0.22);
  background: #031359;
}

.vendorforgot-container .form-div .forgot-text {
  font-size: 18px;
  color: #031359;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  color: white;
  opacity: .85;
}

.vendorforgot-container .form-div .forgot-btn {
  background: #4e598a;
  border-color: #4e598a;
}

.vendorforgot-container .form-div .forgot-btn:hover {
  background: #2e386b;
}

.vendorforgot-container .form-div .sub-text {
  font-size: 15px;
}

.vendorforgot-container .form-div .back-link {
  position: absolute;
  right: 20px;
  bottom: 0;
  font-size: 13px;
  color: white;
  opacity: .7;
}

.vendorforgot-container .form-div .form-row label {
  font-size: 14px;
}

.vendorforgot-container .form-div .form-row input {
  background: transparent;
  color: rgba(255, 255, 255, 0.856);
}

.vendorforgot-container .form-div .form-row input::-webkit-input-placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.53);
}

.vendorforgot-container .form-div .form-row input:-ms-input-placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.53);
}

.vendorforgot-container .form-div .form-row input::-ms-input-placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.53);
}

.vendorforgot-container .form-div .form-row input::placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.53);
}

.vendorforgot-container .form-div .form-row input:focus {
  border: 1px solid white;
}

.upgradepackage-row .pricing {
  padding: 20px 0;
}

.upgradepackage-row .pricing .package-card {
  border: none;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.upgradepackage-row .pricing .package-card.selected {
  background: #3ac47d !important;
}

.upgradepackage-row .pricing .package-card.selected .btn {
  background: #245f40 !important;
  border-color: #245f40 !important;
}

.upgradepackage-row .pricing hr {
  margin: 1.5rem 0;
}

.upgradepackage-row .pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: white;
}

.upgradepackage-row .pricing .card-price {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.upgradepackage-row .pricing .card-price .period {
  font-size: 0.8rem;
}

.upgradepackage-row .pricing ul li {
  margin-bottom: 1rem;
  color: white;
}

.upgradepackage-row .pricing .text-muted {
  opacity: 0.7;
  color: #f3f3f3 !important;
}
/*# sourceMappingURL=vendor.css.map */