$theme-dark-blue: #031359;
$theme-dark-hover: #364998;
$theme-light-blue: #0E6FC9;
$table-grey: #e9ecef;
$theme-black: #495057;
$theme-bg-grey: rgba(112, 128, 144, 0.20);
$theme-green: #3ac47d;

.vendorforgot-container {
    .app-logo {
        background: url('../../images/logo-white.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 41px;
        width: 30%;
        position: relative;
        top: -60px;

    }
    .forgot-bg-div {
        background: url('../../images/forgot-pass.png');
        background-size: cover;
        background-color: white;
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .otp-bg-div {
        background: url('../../images/otp.png');
        background-size: cover;
        background-color: white;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .password-bg-div {
        background: url('../../images/password.png');
        background-size: cover;
        background-color: white;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .form-div {
        box-shadow: -8px 5px 18px 2px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: -8px 5px 18px 2px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: -8px 5px 18px 2px rgba(0, 0, 0, 0.22);
        background: $theme-dark-blue;

        .forgot-text {
            font-size: 18px;
            color: $theme-dark-blue;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 0;
            color: white;
            opacity: .85;
        }
    
        .forgot-btn {
            background: #4e598a;
            border-color: #4e598a;
    
            &:hover {
                background: #2e386b;
            }
        }
    
        .sub-text {
            font-size: 15px;
        }
    
        .back-link {
            position: absolute;
            right: 20px;
            bottom: 0;
            font-size: 13px;
            color: white;
            opacity: .7;
        }
    
        .form-row {
            label {
                font-size: 14px;
            }
            input {
                background: transparent;
                color: rgba(255, 255, 255, 0.856);
                &::placeholder {
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.53);
                }
    
                &:focus {
                    border: 1px solid white;
                }
            }
        }
    }
}

.upgradepackage-row {
    .pricing {
        padding: 20px 0;
        .package-card {
            border: none;
            border-radius: 1rem;
            transition: all 0.2s;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }
        .package-card.selected {
            background: $theme-green !important;
            .btn {
                background: #245f40 !important;
                border-color: #245f40 !important;
            }
        }
        hr {
            margin: 1.5rem 0;
        }
        .card-title {
            margin: 0.5rem 0;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
            font-weight: bold;
            color: white;
        }
        .card-price {
            font-size: 2rem;
            margin: 0;
            color: white;

            .period {
                font-size: 0.8rem;
            }
        }
        ul li {
            margin-bottom: 1rem;
            color: white;
        }
        .text-muted {
            opacity: 0.7;
            color: #f3f3f3 !important;
        }
       
    }

}