.btn-link {
    color: $theme-dark-blue;
    
    &:hover {
        text-decoration: none;
    }
}

.theme-dark-btn {
    background: $theme-dark-blue;
    border: 1px solid $theme-dark-blue;
    color: white;

    &:hover {
        background: $theme-dark-hover;
        color: white;

    }
}

.filter-btn {
    padding: 4px 15px !important;
}

.table-btn {
    padding: 2px 20px !important;
}


.pay-div {

    .razorpay-payment-button {
        color: #fff;
        background-color: #38a745;
        border-color: #38a745;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        cursor: pointer;
        width: 100%;

        &:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

        &:focus {
            background-color: #218838;
            border-color: #1e7e34;
            outline: none;
        }
    }
}

.dropdown-export {
    .dropdown-menu {

        min-width: 7.35rem;

        .nav {
            // float: right;
            .nav-item {
                &:hover {
                    background: $theme-bg-grey;
                }
                .nav-link {
                    color: $theme-dark-blue;

                    .nav-link-icon {
                        opacity: .75;
                        color: $theme-dark-blue;

                    }

                    &:hover {
                        .nav-link-icon {
                            color: $theme-dark-blue;
                        }
                    }
                }
            }
        }
    }
}
