a {
    &:hover {
        text-decoration: none !important;
    }
}
.error{
    color: red;
}
.form-control {
    &:focus {
        box-shadow: none;
        border-color: $theme-dark-blue;
    }
}

.form-group {
    margin-bottom: 0.5rem;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
}

.img-75 {
    width: 75px;
    height: 75px;
}
.img-100 {
    width: 100px;
    height: 100px;
}
.img-150 {
    width: 150px;
    height: 150px;
}

.img-250 {
    width: 250px;
    height: 250px;
}

.img-300 {
    width: 300px;
    height: 300px;
}

.object-fit-cover {
    object-fit: cover;
}


// pagination style
.pagination {
    .paginate_button {
        font-size: 12px;
    }

    .active {
        a {
            background: $theme-dark-blue !important;
            border-color: $theme-dark-blue !important;
        }
    }
}

// Input style
.custom-label {
    font-size: 14px;
}

.custom-input {
    &::placeholder {
        font-size: 13px;
    }
}

.custom-input-small {
    height: calc(1.8rem + 2px);

    &::placeholder {
        font-size: 13px;
    }
}

.custom-select {
    font-size: 14px;

    &:focus {
        border-color: $theme-dark-blue;
        box-shadow: none;

    }
}
.custom-select-small {
    height: calc(1.8rem + 2px);
    font-size: 13px;

    &:focus {
        border-color: $theme-dark-blue;
        box-shadow: none;
    }
}

.custom-checkbox {
    .custom-control-label {
        cursor: pointer;
    }

    .custom-control-input {
        &:checked ~ {
            .custom-control-label {
                &::before {
                    background-color: $theme-dark-blue !important;
                    border-color: $theme-dark-blue !important;
                }
            }
        }

        &:focus ~ {
            .custom-control-label {
                &::before {
                    box-shadow: none;
                }
            }
        }
    }
}

// Modal style
.custom-modal {
    background: rgba(0,0,0,.5);
    overflow-y: scroll;
    z-index: 1050 !important;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .modal-dialog {
        margin: 8.75rem auto;
        box-shadow: none;

        .modal-header {
            background: $theme-dark-blue;
            border-radius: 0;

            .modal-title {
                font-size: 18px;
                color: white;
            }

            .close {
                color: white;
            }
        }
        .modal-body {
            padding: 1rem 1.5rem !important;
        }
    }
}

// .reject-modal {
//     .modal-header {

//         .modal-title {
//             color: white;
//         }
//     }
// }

// File upload
.custom-file-upload {
    width: 250px;
    width: 257px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    &::-webkit-file-upload-button {
        background: $theme-dark-blue;
        border: 0;
        color: white;
        font-size: 12px;
        padding: 3px 10px;
        border-radius: 0.25rem;
        font-size: 13px;


        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

// Image edit custom file upload btn
.upload-btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    top: 0;


    .btn {
        border: 2px solid $theme-light-blue;
        color: white;
        background-color: $theme-light-blue;
        padding: 3px 10px;
        border-radius: 0 0 3px 3px;
        font-size: 13px;
        // width: 100%;
        top: 0;
        right: 0;
        cursor: pointer;
        position: absolute;

    }

    .banner-img-edit-btn {
        top: 29px;
    }

    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        cursor: pointer;
    }

}

// Banner page
.banner-table-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

// Datepciker dropdown style
.datepicker-dropdown {
    z-index: 9999 !important;
}

// Tabs
.custom-animated-tab {
    .nav-item {
        .nav-link {
            background: $theme-bg-grey;
            margin: 0 0.05rem 0 0;
        }
    }
}

// typography
.info-data {
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
}

// boostrap input tags style
.tags-list {
    list-style-type: none;
    padding-inline-start: 15px;
    margin-top: 10px;
    display: inline-flex;

    li {
        padding: 2px 12px;
        font-size: 14px;
        margin-right: 5px;
        color: white;
        border-radius: 4px;
        background: #708090;
    }

    i {
        position: relative;
        top: 1px;
        cursor: pointer;
    }

    span {
        margin-left: 5px;
    }
}
.bootstrap-tagsinput {
    width: 100%;
    // height: calc(2.25rem + 2px);
    padding: 0.375rem !important;

    input {
        // width: 100% !important;
        &::placeholder {
            font-size: 13px;
        }
    }

    .tag {
        background: #6c757d;
        padding: 2px 10px;
        border-radius: 3px;
    }
}

// Vendor name tag div
.vendor-tag-div {
    margin-bottom: 20px;
    h6 {
        font-weight: bold;
    }

    p {
        font-weight: 500;
        margin-bottom: 5px;
    }
}

.product-tag-div {
    margin-bottom: 20px;
    h5 {
        font-weight: bold;
    }

    p {
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }


}

.terms-div {
    a {
        color: #244887;
        font-size: 14px;
    }
}

.payment-details-div {
    margin: 5% 0;
    .personal-div {
        .form-group {
            // margin-bottom: 5px;
            margin: 0 0 5px;
        }

        .custom-label {
            font-size: 14px;
        }
        .info-data {
            margin-bottom: 5px;
            font-size: 14px;
        }
    }

    .pay-div {
        .heading {
            font-size: 18px;
            margin-bottom: 30px;
        }
        // background-color: $theme-dark-blue;
        border-radius: 5px;
        padding: 45px 30px;
        min-height: 70vh;


        .custom-select {
            // background:linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
            background: transparent url('../images/select-drop.svg') no-repeat right 0.25rem center !important;
            font-size: 14px;
            color: white;

            option {
                color: $theme-black;
                line-height: 2;
            }

            // font-weight: bold;
            height: calc(1.5rem + 2px);
            line-height: 1;

            &:focus {
                box-shadow: none;
            }
        }

        p {
            font-size: 14px;
            color: white;
        }
        .total,
        .total-amount {
            font-weight: bold;
            font-size: 18px;
            color: white;
        }
    }
}

// Razorpay
.razorpay-container {

    #header::after {
        background: red !important;
    }
}

// Product creation
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed $theme-dark-blue;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    .dz-message {
        padding: 20px 0;
        p {
            width: 100%;
            text-align: center;
        }

        i {
            font-size: 30px;
            opacity: .75;
        }
    }

    .dz-success-mark,
    .dz-error-mark {
        display: none;
    }

    .dz-filename {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100px;
        overflow: hidden;
        padding-bottom: 5px;
        font-size: 13px;
    }

    .dz-size {
        font-size: 10px;
    }

    .dz-remove {
        background: #d92550;
        color: white;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;

        // &::after {
        //     content: "x";
        //     font-size: 10px;
        //     font-weight:bold;
        //     color:white;
        //     margin-left: 5px;
        //     position: relative;
        //     top: -1px;
        // }

        &:hover {
            background: #ad173b;
        }
    }

    .dz-preview {
        display: inline-block;
        margin-right: 20px;
        padding-bottom: 20px;
    }
}

.variant-row {
    &:first-child {
        .remove-variant {
            display: none;
        }
    }
}

// .custom-variant-file-upload {
//     input {
//         position: absolute;
//         margin: -12px auto;
//         // opacity: 0;
//     }
//     &::-webkit-file-upload-button {
//         background: $theme-dark-blue;
//         border: 0;
//         color: white;
//         font-size: 12px;
//         padding: 3px 10px;
//         border-radius: 0.25rem;

//         &:focus {
//             outline: none;
//             box-shadow: none;
//         }
//     }
// }

// .img-icon {
//     font-size: 40px;
//     position: absolute;
//     margin-top: -5px;
// }

.report-date-selector {
    .form-group {
        margin-bottom: 0;
    }
    .custom-label {
        font-size: 13px;
    }
    .custom-input {
        height: calc(1.8rem + 2px);
    }

    .custom-select {
        height: calc(1.8rem + 2px);
    }

    .theme-dark-btn {
        padding: 0.2rem 1rem;
        position: absolute;
        bottom: 1px;
        right: 0;
    }

    @media(max-width:992px) {
        .custom-label {
            margin-top: 10px !important;
        }
        .theme-dark-btn {
            position: relative;
            width: 100%;
            margin-top: 20px !important;
        }
    }
}

.category-layout {
    .dropdown-menu {
        .dropdown-header {
            color: $theme-dark-blue;
        }
        .dropdown-item {
            border-radius: 7px;

            &:hover {
                background: $theme-dark-blue;
            }
        }
        .dropdown-item.active {
            background: $theme-dark-blue;
        }
    }
}

.image-upload-row {
    .gallery-img {
        width: 100%;
        height: 157px;
    }

    .custom-gallery-upload {
        width: 100%;
        height: 157px;
    }


    .custom-image-picker {
        position: relative;
        display: inline-block;
        border: #ebebeb solid 1px;
        width: 100%;
        height: 100%;
        border: 1px solid $theme-dark-blue;
        background: white;

        input[type="file"] {
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
        }

        .plus {

            width: 35px;
            border: 1px solid rgba(33, 35, 57, 0.35);
            height: 35px;
            margin: auto;
            position: absolute;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &:before,
            &:after {
                content: '';
                position: absolute;
                background: rgba(33, 35, 57, 0.35);
                transition: 150ms all ease-out;
            }

            &:before {
                top: 0;
                left: 0;
                margin: auto;
                right: 0;
                height: 1px;
                bottom: 0;
                width: 20px;
            }

            &:after {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 1px;
                height: 20px;
                margin: auto;
            }
        }

        &:hover {
            cursor: pointer;

            .plus {
                border: 1px solid $theme-dark-blue;

                &:before,
                &:after {
                    background: $theme-dark-blue;
                }
            }
        }

    }
}

.notification-card {
    border-left: 5px solid $theme-dark-blue;

    .title {
        margin-bottom: 5px;
        color: $theme-dark-blue;
    }
}

.notification-card.opened-card {
    background: $theme-bg-grey;
}

.modal-backdrop {
    display: none;
}

.productModal {
    .modal-dialog {
        max-width: 750px;
    }
    .modal-content {
        width: 100%;
        max-width: 750px;
    }
}

.tab-cards {
    margin-top: -1rem;
}

.tab-thumbnail {
    img {
        width: 250px;
        height: 250px;
    }
    .remove-btn {
        position: absolute;
        top: 0;
        right: 1rem;
    }
} 

// #card_append {
//     li {
//         list-style-type: none;
//         padding: 0 2.5rem;

//         .fa-li {
//             left: .5rem;
//         }
//     }
// }

#loader {

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $theme-dark-blue;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  
  }
  
  
  
  @-webkit-keyframes spin {
  
    0% {
        -webkit-transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
    }
  
  }
  
  
  
  @keyframes spin {
  
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  
  }
  
  
  
  /* Add animation to "page content" */
  
  .animate-bottom {
  
    position: relative;
  
    -webkit-animation-name: fadein;
  
    -webkit-animation-duration: 1s;
  
    animation-name: fadein;
  
    animation-duration: 1s
  }
  
  
  
  @-webkit-keyframes fadein {
  
    from {
        opacity: 0
    }
  
    to {
        opacity: 1
    }
  
  }
  
  
  
  @keyframes fadein {
  
    from {
        opacity: 0
    }
  
    to {
        opacity: 1
    }
  
  }
  
  .croppie-container {
    float: right;
    // margin: auto 0 0 auto;
      background: white !important;
      width: 100% !important;
      .cr-boundary {
          width: auto !important;
      }
    // @media screen and(max-width: 1366px) {
    //     width: 79.5% !important;
    //     height: 92% !important;
    // }
    // @media screen and(min-width: 1824px) {
    //     width: 86.25% !important;
    //     height: 94.5% !important;
    // }
  }

  .test-menu {
      li {
          display: none;
      }
  }

  .test-menu.mm-collapse.mm-show {
      li {
        display: block;
      }
  }

  // *********************** Time picker ******************************//
.bootstrap-timepicker-widget {
    .icon-chevron-down {
        content: "";
        z-index: 11;
        display: inline-flex;
        width: 8px;
        height: 8px;
        margin-top: 0;
        border-top: 2px solid $theme-dark-blue;
        border-left: 2px solid $theme-dark-blue;
        transform: rotate(-135deg);
    }
    .icon-chevron-up {
        content: "";
        z-index: 11;
        display: inline-flex;
        width: 8px;
        height: 8px;
        margin-top: 0;
        border-top: 2px solid $theme-dark-blue;
        border-left: 2px solid $theme-dark-blue;
        transform: rotate(45deg);
    }

    table {
        td {
            a {
                padding: 0 !important;

                &:hover {
                    border: 0;
                }
            }

            input {
                width: 35px !important;
                border: 1px solid $theme-dark-blue;
                font-size: .85rem !important;
            }
        }
    }
}


.bootstrap-timepicker-widget.dropdown-menu.open {
    position: absolute !important;
    transform: translateY(0) !important;
    z-index: 9999 !important;
}

.timepicker {
    font-size: .85rem;
}

// *******************************************************************//
  .faq-accordion {
      .card {
          margin: 1rem 0;
          border-radius: 0 0 5px 5px;
      }
      .card-header {
          border-radius: 5px 5px 0 0;
      }

  .accordion-qstn {
     .btn-link {
        font-size: 1.05rem;
        color: $theme-black;
        font-weight: 600;
        text-decoration: none;
        width: 100%;
        text-align: left;
        padding-left: 0;
     }
  }

  .accordion-btn-div {
      display: flex;
      gap: 1rem;

      .btn-edit, .delete_faq {
        height: 1.75rem;
        font-size: .8rem;
      }
  }
}


.vendor-service-details {
  .preview {
   .preview-pic {
    height: 100%;
    .service-img-div {
        height: 100%;
    img {
        object-fit: cover;
        height: 100%;
    }
    }
   }
  }
    .product-title {
        font-weight: 600;
        padding: 1rem 0 0 0;
        text-transform: capitalize;
    }
    .rating {
        .stars {
            span {
                font-weight: 600;
            }
        }
    }
    .charges-div {
        margin-top: .75rem;
        display: grid;
        grid-template-columns: auto auto auto;
        .charges {
            font-size: .9rem;
            margin-bottom: 0;
            .charge-title {
                display: grid;
                font-weight: 500;
                text-transform: capitalize;
                font-size: .85rem;
                gap: 0.25rem;

                .amount {
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }
    }
    .details-div {
        margin-top: 1rem;

        .details-title {
            font-size: 1.05rem;
            border-bottom: 1px solid $theme-bg-grey;
            margin-bottom: 0;
        }
        .product-description {
            font-size: .85rem;
        }
        .address {
            font-size: .85rem;
            margin-top: .7rem;

            span {
                font-weight: 600;
                margin-right: .5rem;
            }
        }
        .time {
            span {
                font-weight: 600;
            }
        }
        p {
            font-size: .95rem;
        }
    }
}

.details-title {
    font-size: 1.05rem;
    margin-bottom: 0;
    border-bottom: 1px solid $theme-bg-grey;
    margin-bottom: 1rem;
}
.price-unit-div {
    padding: 1rem;
    .form-group {
        margin-bottom: 2rem;
    }
    .qstn-text {
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: .5rem;
    }
}