.app-header {
    .app-header__logo {
        .logo-src {
            background: url('../images/logo.png');
            background-size: cover;
            height: 35px;
            width: 45%;
            margin: 0 auto;
        }
    }

    .user-icon {
        opacity: .7;
    }


    .notifications-box {
        .scroll-area-sm {
            height: 310px;
            .scrollbar-container {
                background: #ffffff;

                .notification-list {
                    .notifications {
                        list-style-type: none;
                        padding-inline-start: 0;
                        height: 280px;
                        overflow-y: auto;
                        min-height: 150px;
                        li {
                            padding: 10px 15px;
                            border-bottom: 1px solid $theme-bg-grey;
                            background: rgba(0,0,0,.05);
                            .message-div {
                                .msg-title {
                                    font-size: 0.9rem;
                                    font-weight: bold;
                                    margin-bottom: 5px;
                                    color: $theme-black;
                                }
                                .sub {
                                    white-space: nowrap;
                                    width: 100%;
                                    display: block;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    margin-bottom: 5px;
                                    font-size: 74%;
                                    color: $theme-black;
                                }
                                .date {
                                    font-size: 74%;
                                    color: $theme-black;

                                }
                            }

                            &:hover {
                                background: rgba(0,0,0,.07);
                            }
                        }
                        .new {
                            background: #ffffff;
                            &:hover {
                                background: rgba(0,0,0,.07);
                            }
                        }
                    }
                }
            }

            .all-msgs {
                position: fixed;
                bottom: 0;
                background: #ffffff;
                padding: 10px 0;

                a {
                    color: $theme-dark-blue;
                    font-size: .75rem;
                    // font-weight: bold;
                }
            }
        }


    }
}

.app-header.header-text-light {
    .app-header__logo {
        .logo-src {
            background: url('../images/logo-white.png');
            background-size: cover;
            height: 35px;
            width: 103px;
            margin: 0 50px;
        }
    }
}

.notification-dropdown {
    min-width: 19rem;
    .menu-header-title {
        font-size: 16px !important;
    }
    .menu-header-subtitle {
        font-size: 14px !important;
    }
}

.page-title-heading {
    .small {
        font-size: 12px;
    }
}
