// Login page style
.login-container {
    .app-logo {
        background: url('../images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: -10px;
        height: 100px;
        width: 100%;
    }
    .login-bg-div {
        background: url('../images/login-bg.jpg');
        background-size: cover;

        &::before {
            content: " ";
            background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .25;

        }
    }
    // $theam-bg-grey: #000;

    .forgot-link {
        position: relative;
        top: 20px;
        bottom: 0;
        float: right;
        font-size: 13px;

    }

    .form-row {
        label {
            font-size: 14px;
        }
        input {
            &::placeholder {
                font-size: 13px;
            }
        }
    }

    .signup-link-row {
        position: absolute;
        margin-top: 100px;
        display: block;
        /* margin: 0 auto; */
        width: 100%;

        p {
            position: relative;
            z-index: 1;
            font-size: 13px;

            &:before {
                border-top: 1px solid $theme-bg-grey;
                content: "";
                margin: 0 auto; /* this centers the line to the full width specified */
                position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                width: 95%;
                z-index: -1;
            }

            span {
                /* to hide the lines from behind the text, you have to set the background color the same as the container */
                background: #fff;
                padding: 0 15px;
            }
        }
    }
}

.signup-link {
    p {
        font-size: .85rem;

        a {
            color: $theme-dark-blue;
            font-size: .9rem;
            font-weight: 500;
        }
    }
}