.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active a {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.2);
}

.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active i.metismenu-icon {
  opacity: 0.9;
}

.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active .mm-collapse a {
  background: none !important;
}

.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active .mm-collapse .mm-active a {
  background: none !important;
}
/*# sourceMappingURL=sidebar.css.map */