
.app-sidebar.sidebar-text-light {
    .vertical-nav-menu {
        .mm-active {
            a {
                color: rgba(255, 255, 255, .9);
                background: rgba(0,0,0,.2);
            }


            i.metismenu-icon {
                opacity: 0.9;
            }

            .mm-collapse {
                a {
                    background: none !important;
                }
                .mm-active {
                    a {
                        background: none !important;
                    }
                }
            }
        }
    }
}