.signup-div {
    // background: url(../images/signup.png);
    background-size: cover;
    .bg-div {
        position: fixed;
        float: left;
        .sign-bg-div {
            background-image: url('../images/ecommerce.png');
            background-color: #f1f4f6;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: bottom;

            .signup-logo {
                img {
                    width: 50%;
                    margin: 30% auto 0;
                    display: block;
                }
                .heading {
                    font-size: 16px;
                    padding-top: 30px;
                    letter-spacing: 0.55px;
                    // font-weight: bold;
                }
            }
        }
    }

    .signup-formdiv {
        position: absolute;
        right: 0;
        .signup-card {
            padding: 3% 5% 0;
            // min-height: 100vh;
            .heading {
                font-size: 20px;
            }

            .signup-wizard {
                .nav-item.active {
                    .nav-link {
                        em {
                            background: $theme-dark-blue;
                        }
                    }
                    &::before,
                    &::after {
                        background: $theme-dark-blue;
                    }
                }

                .tab-content {
                    min-height: auto !important;
                }

                .form-row {
                    margin-top: 10px;

                    .form-group {
                        padding: 0 5px;
                    }
                }

                .divider {
                    margin-top: 25px;
                }

                .package-row {
                    .pricing {
                        padding: 20px 0;
                        .package-card {
                            border: none;
                            border-radius: 1rem;
                            transition: all 0.2s;
                            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
                            height: 100%;
                            margin-bottom: 3rem;
                        }
                        .package-card.selected {
                            background: $theme-green !important;
                            .btn {
                                background: #245f40 !important;
                                border-color: #245f40 !important;
                            }
                        }
                        hr {
                            margin: 1.5rem 0;
                        }
                        .card-title {
                            margin: 0.5rem 0;
                            font-size: 1.25rem;
                            letter-spacing: 0.1rem;
                            font-weight: bold;
                            color: white;
                        }
                        .card-price {
                            font-size: 2rem;
                            margin: 0;
                            color: white;

                            .period {
                                display: none;
                            }
                        }
                        
                        .title-hr {
                            margin: .5rem 0 1.5rem 0;
                        }

                        ul li {
                            margin-bottom: 1rem;
                            color: white;
                        }

                        .benefits {
                            min-height: auto;
                            max-height: 220px;

                        }

                        .text-muted {
                            opacity: 0.7;
                            color: #f3f3f3 !important;
                        }
                        .btn {
                            font-size: 80%;
                            border-radius: 5rem;
                            letter-spacing: 0.1rem;
                            font-weight: bold;
                            padding: 1rem;
                            opacity: 0.7;
                            transition: all 0.2s;
                        }
                    }

                }
            }
        }
    }
    #step-2,#step-3,#step-4,#step-5,#step-6 {
        display: none;
    }
}

.checkbox-button {
    margin: 4px auto;
    overflow: auto;
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    top: -0.75rem;
    width: 80%;

    &:hover {
        background-color: #2955c8;
        border-color: #2955c8;
    }
    label {
        float: left;
        width: 100%;
        margin-bottom: 0;
        span {
            text-align: center;
            padding: 1rem;
            display: block;
            border-radius: 5rem;
            cursor: pointer;
        
        }
        input {
            position: absolute;
            margin: 20px;
            /* text-align: center; */
            width: auto;
            cursor: pointer;
            visibility: hidden;
            &:checked + span {
                background: #245f40 !important;
                border-color: #245f40 !important;
                color: #fff;
            }
        }
    }
}


@media(max-width: 992px) {
    .signup-wizard {
        .nav-item {
            .nav-link {
                font-size: 14px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .pricing {
        .card:hover {
            margin-top: -0.25rem;
            margin-bottom: 0.25rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
            .btn {
                opacity: 1;
            }
        }
    }
}
.m-height-100 {
    max-height: 100% !important;
}