.app-header .app-header__logo .logo-src {
  background: url("../images/logo.png");
  background-size: cover;
  height: 35px;
  width: 45%;
  margin: 0 auto; }
.app-header .user-icon {
  opacity: .7; }
.app-header .notifications-box .scroll-area-sm {
  height: 310px; }
  .app-header .notifications-box .scroll-area-sm .scrollbar-container {
    background: #ffffff; }
    .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications {
      list-style-type: none;
      padding-inline-start: 0;
      height: 280px;
      overflow-y: auto;
      min-height: 150px; }
      .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications li {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(112, 128, 144, 0.2);
        background: rgba(0, 0, 0, 0.05); }
        .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications li .message-div .msg-title {
          font-size: 0.9rem;
          font-weight: bold;
          margin-bottom: 5px;
          color: #495057; }
        .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications li .message-div .sub {
          white-space: nowrap;
          width: 100%;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 5px;
          font-size: 74%;
          color: #495057; }
        .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications li .message-div .date {
          font-size: 74%;
          color: #495057; }
        .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications li:hover {
          background: rgba(0, 0, 0, 0.07); }
      .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications .new {
        background: #ffffff; }
        .app-header .notifications-box .scroll-area-sm .scrollbar-container .notification-list .notifications .new:hover {
          background: rgba(0, 0, 0, 0.07); }
  .app-header .notifications-box .scroll-area-sm .all-msgs {
    position: fixed;
    bottom: 0;
    background: #ffffff;
    padding: 10px 0; }
    .app-header .notifications-box .scroll-area-sm .all-msgs a {
      color: #031359;
      font-size: .75rem; }

.app-header.header-text-light .app-header__logo .logo-src {
  background: url("../images/logo-white.png");
  background-size: cover;
  height: 35px;
  width: 103px;
  margin: 0 50px; }

.notification-dropdown {
  min-width: 19rem; }
  .notification-dropdown .menu-header-title {
    font-size: 16px !important; }
  .notification-dropdown .menu-header-subtitle {
    font-size: 14px !important; }

.page-title-heading .small {
  font-size: 12px; }

.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active a {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.2); }
.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active i.metismenu-icon {
  opacity: 0.9; }
.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active .mm-collapse a {
  background: none !important; }
.app-sidebar.sidebar-text-light .vertical-nav-menu .mm-active .mm-collapse .mm-active a {
  background: none !important; }

.login-container .app-logo {
  background: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -10px;
  height: 100px;
  width: 100%; }
.login-container .login-bg-div {
  background: url("../images/login-bg.jpg");
  background-size: cover; }
  .login-container .login-bg-div::before {
    content: " ";
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .25; }
.login-container .forgot-link {
  position: relative;
  top: 20px;
  bottom: 0;
  float: right;
  font-size: 13px; }
.login-container .form-row label {
  font-size: 14px; }
.login-container .form-row input::placeholder {
  font-size: 13px; }
.login-container .signup-link-row {
  position: absolute;
  margin-top: 100px;
  display: block;
  /* margin: 0 auto; */
  width: 100%; }
  .login-container .signup-link-row p {
    position: relative;
    z-index: 1;
    font-size: 13px; }
    .login-container .signup-link-row p:before {
      border-top: 1px solid rgba(112, 128, 144, 0.2);
      content: "";
      margin: 0 auto;
      /* this centers the line to the full width specified */
      position: absolute;
      /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1; }
    .login-container .signup-link-row p span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #fff;
      padding: 0 15px; }

.signup-link p {
  font-size: .85rem; }
  .signup-link p a {
    color: #031359;
    font-size: .9rem;
    font-weight: 500; }

a:hover {
  text-decoration: none !important; }

.error {
  color: red; }

.form-control:focus {
  box-shadow: none;
  border-color: #031359; }

.form-group {
  margin-bottom: 0.5rem; }

form .form-group {
  margin-bottom: 1rem; }

.img-75 {
  width: 75px;
  height: 75px; }

.img-100 {
  width: 100px;
  height: 100px; }

.img-150 {
  width: 150px;
  height: 150px; }

.img-250 {
  width: 250px;
  height: 250px; }

.img-300 {
  width: 300px;
  height: 300px; }

.object-fit-cover {
  object-fit: cover; }

.pagination .paginate_button {
  font-size: 12px; }
.pagination .active a {
  background: #031359 !important;
  border-color: #031359 !important; }

.custom-label {
  font-size: 14px; }

.custom-input::placeholder {
  font-size: 13px; }

.custom-input-small {
  height: calc(1.8rem + 2px); }
  .custom-input-small::placeholder {
    font-size: 13px; }

.custom-select {
  font-size: 14px; }
  .custom-select:focus {
    border-color: #031359;
    box-shadow: none; }

.custom-select-small {
  height: calc(1.8rem + 2px);
  font-size: 13px; }
  .custom-select-small:focus {
    border-color: #031359;
    box-shadow: none; }

.custom-checkbox .custom-control-label {
  cursor: pointer; }
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #031359 !important;
  border-color: #031359 !important; }
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none; }

.custom-modal {
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 1050 !important; }
  .custom-modal::-webkit-scrollbar {
    display: none; }
  .custom-modal .modal-dialog {
    margin: 8.75rem auto;
    box-shadow: none; }
    .custom-modal .modal-dialog .modal-header {
      background: #031359;
      border-radius: 0; }
      .custom-modal .modal-dialog .modal-header .modal-title {
        font-size: 18px;
        color: white; }
      .custom-modal .modal-dialog .modal-header .close {
        color: white; }
    .custom-modal .modal-dialog .modal-body {
      padding: 1rem 1.5rem !important; }

.custom-file-upload {
  width: 250px;
  width: 257px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px; }
  .custom-file-upload::-webkit-file-upload-button {
    background: #031359;
    border: 0;
    color: white;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 0.25rem;
    font-size: 13px; }
    .custom-file-upload::-webkit-file-upload-button:focus {
      outline: none;
      box-shadow: none; }

.upload-btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  top: 0; }
  .upload-btn-wrapper .btn {
    border: 2px solid #0E6FC9;
    color: white;
    background-color: #0E6FC9;
    padding: 3px 10px;
    border-radius: 0 0 3px 3px;
    font-size: 13px;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute; }
  .upload-btn-wrapper .banner-img-edit-btn {
    top: 29px; }
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer; }

.banner-table-img {
  width: 50px;
  height: 50px;
  object-fit: cover; }

.datepicker-dropdown {
  z-index: 9999 !important; }

.custom-animated-tab .nav-item .nav-link {
  background: rgba(112, 128, 144, 0.2);
  margin: 0 0.05rem 0 0; }

.info-data {
  font-size: 14px;
  font-weight: bold;
  margin: auto 0; }

.tags-list {
  list-style-type: none;
  padding-inline-start: 15px;
  margin-top: 10px;
  display: inline-flex; }
  .tags-list li {
    padding: 2px 12px;
    font-size: 14px;
    margin-right: 5px;
    color: white;
    border-radius: 4px;
    background: #708090; }
  .tags-list i {
    position: relative;
    top: 1px;
    cursor: pointer; }
  .tags-list span {
    margin-left: 5px; }

.bootstrap-tagsinput {
  width: 100%;
  padding: 0.375rem !important; }
  .bootstrap-tagsinput input::placeholder {
    font-size: 13px; }
  .bootstrap-tagsinput .tag {
    background: #6c757d;
    padding: 2px 10px;
    border-radius: 3px; }

.vendor-tag-div {
  margin-bottom: 20px; }
  .vendor-tag-div h6 {
    font-weight: bold; }
  .vendor-tag-div p {
    font-weight: 500;
    margin-bottom: 5px; }

.product-tag-div {
  margin-bottom: 20px; }
  .product-tag-div h5 {
    font-weight: bold; }
  .product-tag-div p {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px; }
    .product-tag-div p:last-child {
      margin-bottom: 0; }

.terms-div a {
  color: #244887;
  font-size: 14px; }

.payment-details-div {
  margin: 5% 0; }
  .payment-details-div .personal-div .form-group {
    margin: 0 0 5px; }
  .payment-details-div .personal-div .custom-label {
    font-size: 14px; }
  .payment-details-div .personal-div .info-data {
    margin-bottom: 5px;
    font-size: 14px; }
  .payment-details-div .pay-div {
    border-radius: 5px;
    padding: 45px 30px;
    min-height: 70vh; }
    .payment-details-div .pay-div .heading {
      font-size: 18px;
      margin-bottom: 30px; }
    .payment-details-div .pay-div .custom-select {
      background: transparent url("../images/select-drop.svg") no-repeat right 0.25rem center !important;
      font-size: 14px;
      color: white;
      height: calc(1.5rem + 2px);
      line-height: 1; }
      .payment-details-div .pay-div .custom-select option {
        color: #495057;
        line-height: 2; }
      .payment-details-div .pay-div .custom-select:focus {
        box-shadow: none; }
    .payment-details-div .pay-div p {
      font-size: 14px;
      color: white; }
    .payment-details-div .pay-div .total,
    .payment-details-div .pay-div .total-amount {
      font-weight: bold;
      font-size: 18px;
      color: white; }

.razorpay-container #header::after {
  background: red !important; }

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed #031359;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer; }
  .dropzone .dz-message {
    padding: 20px 0; }
    .dropzone .dz-message p {
      width: 100%;
      text-align: center; }
    .dropzone .dz-message i {
      font-size: 30px;
      opacity: .75; }
  .dropzone .dz-success-mark,
  .dropzone .dz-error-mark {
    display: none; }
  .dropzone .dz-filename {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    overflow: hidden;
    padding-bottom: 5px;
    font-size: 13px; }
  .dropzone .dz-size {
    font-size: 10px; }
  .dropzone .dz-remove {
    background: #d92550;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px; }
    .dropzone .dz-remove:hover {
      background: #ad173b; }
  .dropzone .dz-preview {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 20px; }

.variant-row:first-child .remove-variant {
  display: none; }

.report-date-selector .form-group {
  margin-bottom: 0; }
.report-date-selector .custom-label {
  font-size: 13px; }
.report-date-selector .custom-input {
  height: calc(1.8rem + 2px); }
.report-date-selector .custom-select {
  height: calc(1.8rem + 2px); }
.report-date-selector .theme-dark-btn {
  padding: 0.2rem 1rem;
  position: absolute;
  bottom: 1px;
  right: 0; }
@media (max-width: 992px) {
  .report-date-selector .custom-label {
    margin-top: 10px !important; }
  .report-date-selector .theme-dark-btn {
    position: relative;
    width: 100%;
    margin-top: 20px !important; } }

.category-layout .dropdown-menu .dropdown-header {
  color: #031359; }
.category-layout .dropdown-menu .dropdown-item {
  border-radius: 7px; }
  .category-layout .dropdown-menu .dropdown-item:hover {
    background: #031359; }
.category-layout .dropdown-menu .dropdown-item.active {
  background: #031359; }

.image-upload-row .gallery-img {
  width: 100%;
  height: 157px; }
.image-upload-row .custom-gallery-upload {
  width: 100%;
  height: 157px; }
.image-upload-row .custom-image-picker {
  position: relative;
  display: inline-block;
  border: #ebebeb solid 1px;
  width: 100%;
  height: 100%;
  border: 1px solid #031359;
  background: white; }
  .image-upload-row .custom-image-picker input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%; }
  .image-upload-row .custom-image-picker .plus {
    width: 35px;
    border: 1px solid rgba(33, 35, 57, 0.35);
    height: 35px;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .image-upload-row .custom-image-picker .plus:before, .image-upload-row .custom-image-picker .plus:after {
      content: '';
      position: absolute;
      background: rgba(33, 35, 57, 0.35);
      transition: 150ms all ease-out; }
    .image-upload-row .custom-image-picker .plus:before {
      top: 0;
      left: 0;
      margin: auto;
      right: 0;
      height: 1px;
      bottom: 0;
      width: 20px; }
    .image-upload-row .custom-image-picker .plus:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      height: 20px;
      margin: auto; }
  .image-upload-row .custom-image-picker:hover {
    cursor: pointer; }
    .image-upload-row .custom-image-picker:hover .plus {
      border: 1px solid #031359; }
      .image-upload-row .custom-image-picker:hover .plus:before, .image-upload-row .custom-image-picker:hover .plus:after {
        background: #031359; }

.notification-card {
  border-left: 5px solid #031359; }
  .notification-card .title {
    margin-bottom: 5px;
    color: #031359; }

.notification-card.opened-card {
  background: rgba(112, 128, 144, 0.2); }

.modal-backdrop {
  display: none; }

.productModal .modal-dialog {
  max-width: 750px; }
.productModal .modal-content {
  width: 100%;
  max-width: 750px; }

.tab-cards {
  margin-top: -1rem; }

.tab-thumbnail img {
  width: 250px;
  height: 250px; }
.tab-thumbnail .remove-btn {
  position: absolute;
  top: 0;
  right: 1rem; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #031359;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
  animation-name: fadein;
  animation-duration: 1s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.croppie-container {
  float: right;
  background: white !important;
  width: 100% !important; }
  .croppie-container .cr-boundary {
    width: auto !important; }

.test-menu li {
  display: none; }

.test-menu.mm-collapse.mm-show li {
  display: block; }

.bootstrap-timepicker-widget .icon-chevron-down {
  content: "";
  z-index: 11;
  display: inline-flex;
  width: 8px;
  height: 8px;
  margin-top: 0;
  border-top: 2px solid #031359;
  border-left: 2px solid #031359;
  transform: rotate(-135deg); }
.bootstrap-timepicker-widget .icon-chevron-up {
  content: "";
  z-index: 11;
  display: inline-flex;
  width: 8px;
  height: 8px;
  margin-top: 0;
  border-top: 2px solid #031359;
  border-left: 2px solid #031359;
  transform: rotate(45deg); }
.bootstrap-timepicker-widget table td a {
  padding: 0 !important; }
  .bootstrap-timepicker-widget table td a:hover {
    border: 0; }
.bootstrap-timepicker-widget table td input {
  width: 35px !important;
  border: 1px solid #031359;
  font-size: .85rem !important; }

.bootstrap-timepicker-widget.dropdown-menu.open {
  position: absolute !important;
  transform: translateY(0) !important;
  z-index: 9999 !important; }

.timepicker {
  font-size: .85rem; }

.faq-accordion .card {
  margin: 1rem 0;
  border-radius: 0 0 5px 5px; }
.faq-accordion .card-header {
  border-radius: 5px 5px 0 0; }
.faq-accordion .accordion-qstn .btn-link {
  font-size: 1.05rem;
  color: #495057;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  text-align: left;
  padding-left: 0; }
.faq-accordion .accordion-btn-div {
  display: flex;
  gap: 1rem; }
  .faq-accordion .accordion-btn-div .btn-edit, .faq-accordion .accordion-btn-div .delete_faq {
    height: 1.75rem;
    font-size: .8rem; }

.vendor-service-details .preview .preview-pic {
  height: 100%; }
  .vendor-service-details .preview .preview-pic .service-img-div {
    height: 100%; }
    .vendor-service-details .preview .preview-pic .service-img-div img {
      object-fit: cover;
      height: 100%; }
.vendor-service-details .product-title {
  font-weight: 600;
  padding: 1rem 0 0 0;
  text-transform: capitalize; }
.vendor-service-details .rating .stars span {
  font-weight: 600; }
.vendor-service-details .charges-div {
  margin-top: .75rem;
  display: grid;
  grid-template-columns: auto auto auto; }
  .vendor-service-details .charges-div .charges {
    font-size: .9rem;
    margin-bottom: 0; }
    .vendor-service-details .charges-div .charges .charge-title {
      display: grid;
      font-weight: 500;
      text-transform: capitalize;
      font-size: .85rem;
      gap: 0.25rem; }
      .vendor-service-details .charges-div .charges .charge-title .amount {
        font-weight: 600;
        font-size: 1rem; }
.vendor-service-details .details-div {
  margin-top: 1rem; }
  .vendor-service-details .details-div .details-title {
    font-size: 1.05rem;
    border-bottom: 1px solid rgba(112, 128, 144, 0.2);
    margin-bottom: 0; }
  .vendor-service-details .details-div .product-description {
    font-size: .85rem; }
  .vendor-service-details .details-div .address {
    font-size: .85rem;
    margin-top: .7rem; }
    .vendor-service-details .details-div .address span {
      font-weight: 600;
      margin-right: .5rem; }
  .vendor-service-details .details-div .time span {
    font-weight: 600; }
  .vendor-service-details .details-div p {
    font-size: .95rem; }

.details-title {
  font-size: 1.05rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(112, 128, 144, 0.2);
  margin-bottom: 1rem; }

.price-unit-div {
  padding: 1rem; }
  .price-unit-div .form-group {
    margin-bottom: 2rem; }
  .price-unit-div .qstn-text {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .5rem; }

.btn-link {
  color: #031359; }
  .btn-link:hover {
    text-decoration: none; }

.theme-dark-btn {
  background: #031359;
  border: 1px solid #031359;
  color: white; }
  .theme-dark-btn:hover {
    background: #364998;
    color: white; }

.filter-btn {
  padding: 4px 15px !important; }

.table-btn {
  padding: 2px 20px !important; }

.pay-div .razorpay-payment-button {
  color: #fff;
  background-color: #38a745;
  border-color: #38a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  width: 100%; }
  .pay-div .razorpay-payment-button:hover {
    background-color: #218838;
    border-color: #1e7e34; }
  .pay-div .razorpay-payment-button:focus {
    background-color: #218838;
    border-color: #1e7e34;
    outline: none; }

.dropdown-export .dropdown-menu {
  min-width: 7.35rem; }
  .dropdown-export .dropdown-menu .nav .nav-item:hover {
    background: rgba(112, 128, 144, 0.2); }
  .dropdown-export .dropdown-menu .nav .nav-item .nav-link {
    color: #031359; }
    .dropdown-export .dropdown-menu .nav .nav-item .nav-link .nav-link-icon {
      opacity: .75;
      color: #031359; }
    .dropdown-export .dropdown-menu .nav .nav-item .nav-link:hover .nav-link-icon {
      color: #031359; }

.datasort-table th::before, .datasort-table th::after {
  font-size: 18px; }

.nosort-th::before, .nosort-th::after {
  display: none !important; }

.table-card .dataTables_filter {
  margin-right: 110px;
  margin-top: 2px; }
.table-card .filter-btn {
  position: absolute;
  right: 20px;
  top: 23px;
  z-index: 9; }
.table-card .export-btn {
  position: absolute;
  right: 115px;
  top: 23px;
  z-index: 9; }
.table-card .dataTables_info {
  font-size: 13px; }
.table-card .custom-table th,
.table-card .custom-table td {
  font-size: 14px; }
.table-card .custom-table .custom-caption {
  caption-side: top;
  color: #495057;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #e9ecef;
  border-bottom: 0;
  padding: 10px;
  border-radius: 3px; }
.table-card .custom-table .toggle {
  height: 25px !important;
  min-height: 25px !important; }
  .table-card .custom-table .toggle .toggle-on, .table-card .custom-table .toggle .toggle-off {
    top: -4px; }
@media (max-width: 992px) {
  .table-card .dataTables_filter {
    margin-right: 0; }
  .table-card .filter-btn,
  .table-card .export-btn {
    position: relative;
    margin: 0 auto 15px;
    top: 0;
    right: 0;
    display: block; }
  .table-card .custom-table {
    overflow-x: scroll;
    white-space: nowrap;
    display: block; } }

.table-card.no-filter .dataTables_filter {
  margin-right: 0; }

.table-card.with-export .dataTables_filter {
  margin-right: 220px; }

.table-card.no-filter.with-export .dataTables_filter {
  margin-right: 115px; }
.table-card.no-filter.with-export .export-btn {
  right: 20px; }

.report-table-card.no-filter.with-export .dataTables_filter {
  margin-right: 135px; }

.signup-div {
  background-size: cover; }
  .signup-div .bg-div {
    position: fixed;
    float: left; }
    .signup-div .bg-div .sign-bg-div {
      background-image: url("../images/ecommerce.png");
      background-color: #f1f4f6;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: bottom; }
      .signup-div .bg-div .sign-bg-div .signup-logo img {
        width: 50%;
        margin: 30% auto 0;
        display: block; }
      .signup-div .bg-div .sign-bg-div .signup-logo .heading {
        font-size: 16px;
        padding-top: 30px;
        letter-spacing: 0.55px; }
  .signup-div .signup-formdiv {
    position: absolute;
    right: 0; }
    .signup-div .signup-formdiv .signup-card {
      padding: 3% 5% 0; }
      .signup-div .signup-formdiv .signup-card .heading {
        font-size: 20px; }
      .signup-div .signup-formdiv .signup-card .signup-wizard .nav-item.active .nav-link em {
        background: #031359; }
      .signup-div .signup-formdiv .signup-card .signup-wizard .nav-item.active::before, .signup-div .signup-formdiv .signup-card .signup-wizard .nav-item.active::after {
        background: #031359; }
      .signup-div .signup-formdiv .signup-card .signup-wizard .tab-content {
        min-height: auto !important; }
      .signup-div .signup-formdiv .signup-card .signup-wizard .form-row {
        margin-top: 10px; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .form-row .form-group {
          padding: 0 5px; }
      .signup-div .signup-formdiv .signup-card .signup-wizard .divider {
        margin-top: 25px; }
      .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing {
        padding: 20px 0; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .package-card {
          border: none;
          border-radius: 1rem;
          transition: all 0.2s;
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          height: 100%;
          margin-bottom: 3rem; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .package-card.selected {
          background: #3ac47d !important; }
          .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .package-card.selected .btn {
            background: #245f40 !important;
            border-color: #245f40 !important; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing hr {
          margin: 1.5rem 0; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .card-title {
          margin: 0.5rem 0;
          font-size: 1.25rem;
          letter-spacing: 0.1rem;
          font-weight: bold;
          color: white; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .card-price {
          font-size: 2rem;
          margin: 0;
          color: white; }
          .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .card-price .period {
            display: none; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .title-hr {
          margin: .5rem 0 1.5rem 0; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing ul li {
          margin-bottom: 1rem;
          color: white; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .benefits {
          min-height: auto;
          max-height: 220px; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .text-muted {
          opacity: 0.7;
          color: #f3f3f3 !important; }
        .signup-div .signup-formdiv .signup-card .signup-wizard .package-row .pricing .btn {
          font-size: 80%;
          border-radius: 5rem;
          letter-spacing: 0.1rem;
          font-weight: bold;
          padding: 1rem;
          opacity: 0.7;
          transition: all 0.2s; }
  .signup-div #step-2, .signup-div #step-3, .signup-div #step-4, .signup-div #step-5, .signup-div #step-6 {
    display: none; }

.checkbox-button {
  margin: 4px auto;
  overflow: auto;
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  top: -0.75rem;
  width: 80%; }
  .checkbox-button:hover {
    background-color: #2955c8;
    border-color: #2955c8; }
  .checkbox-button label {
    float: left;
    width: 100%;
    margin-bottom: 0; }
    .checkbox-button label span {
      text-align: center;
      padding: 1rem;
      display: block;
      border-radius: 5rem;
      cursor: pointer; }
    .checkbox-button label input {
      position: absolute;
      margin: 20px;
      /* text-align: center; */
      width: auto;
      cursor: pointer;
      visibility: hidden; }
      .checkbox-button label input:checked + span {
        background: #245f40 !important;
        border-color: #245f40 !important;
        color: #fff; }

@media (max-width: 992px) {
  .signup-wizard .nav-item .nav-link {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3); }
    .pricing .card:hover .btn {
      opacity: 1; } }
.m-height-100 {
  max-height: 100% !important; }

/*# sourceMappingURL=style.css.map */
