$theme-dark-blue: #031359;
$theme-dark-hover: #364998;
$theme-light-blue: #0E6FC9;
$table-grey: #e9ecef;
$theme-black: #495057;
$theme-bg-grey: rgba(112, 128, 144,.20);
$theme-green: #3ac47d;

@import "header.scss";
@import "sidebar.scss";
@import "login.scss";
@import "elements.scss";
@import "button.scss";
@import "table.scss";
@import "signup.scss";