.datasort-table {
    th {
        &::before,
        &::after {
            font-size: 18px;
        }
    }
}
.nosort-th {
    &::before,
    &::after {
        display: none !important;
    }
}

.table-card {
    .dataTables_filter {
        margin-right: 110px;
        margin-top: 2px;
    }
    .filter-btn {
        position: absolute;
        right: 20px;
        top: 23px;
        z-index: 9;
    }
    .export-btn {
        position: absolute;
        right: 115px;
        top: 23px;
        z-index: 9;
    }

    .dataTables_info {
        font-size: 13px;
    }

    .custom-table {
        th,
        td {
            font-size: 14px;
        }

        .custom-caption {
            caption-side: top;
            color: $theme-black;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid $table-grey;
            border-bottom: 0;
            padding: 10px;
            border-radius: 3px;

        }

        .toggle {
            height: 25px !important;
            min-height: 25px !important;

            .toggle-on,.toggle-off {
                top: -4px;
            }
        }
    }

    @media(max-width: 992px) {
        .dataTables_filter {
            margin-right: 0;
        }
        .filter-btn,
        .export-btn {
            position: relative;
            margin: 0 auto 15px;
            top: 0;
            right: 0;
            display: block;
        }

        .custom-table {
            overflow-x: scroll;
            white-space: nowrap;
            display: block;
        }
    }
}

.table-card.no-filter {
    .dataTables_filter {
        margin-right: 0;
    }
}

.table-card.with-export {
    .dataTables_filter {
        margin-right: 220px;
    }
}
.table-card.no-filter.with-export {
    .dataTables_filter {
        margin-right: 115px;
    }

    .export-btn {
        right: 20px;
    }
}

.report-table-card.no-filter.with-export {
    .dataTables_filter {
        margin-right: 135px;
    }

}
