{% load static %}
{% load notifications_tags %}
<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/images/fav.png">
    <link rel="apple-touch-icon" sizes="57x57" href="celebrations/static/assets/images/ajax-loader.gif">
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/assets/images/favicon/apple-icon-180x180.png">
    
    <link href="{% static 'assets/css/rating.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'assets/js/rating.js' %}"></script>
    <script src="{% static 'assets/js/validation.js' %}"></script>

    <script src="{% static 'assets/js/timepicker.js' %}"></script>
 

    {% if user.is_superuser == True %}
    <title>MorWagon Admin Panel</title>
    {% else %}
    <title>MorWagon vendor Panel</title>
    {% endif %}
    
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="MorWagon a complete e-commerce platform">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">


    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"
        rel="stylesheet">
    <!-- <link rel='stylesheet' href='https://foliotek.github.io/Croppie/croppie.css'> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
      

    <style>
        label.cabinet {
            display: block;
            cursor: pointer;
        }

        label.cabinet input.file {
            position: relative;
            height: 100%;
            width: auto;
            opacity: 0;
            -moz-opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            margin-top: -30px;
        }

        #upload-demo {
            width: 100% !important;
            height: 250px !important;
            padding-bottom: 25px !important;
        }
    </style>
</head>


<!-- ---------------------------------------------prevent login page--------------------------------------------------------------------- -->

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        <div class="app-header header-shadow bg-night-sky header-text-light">
            <div class="app-header__logo">
                <div class="logo-src">
                    <img src="{% static 'assets/images/logo-white.png' %}" class="img-fluid" alt="">
                </div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">

                <div class="app-header-right">
                    <div class="header-dots">
                        <div class="dropdown">
                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                class="p-0 mr-2 btn btn-link">
                                <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                    <span class="icon-wrapper-bg bg-danger"></span>
                                    <i class="icon text-danger icon-anim-pulse ion-android-notifications"></i>
                                    <span id='newnoti' class="badge badge-dot badge-dot-sm">Notifications</span>
                                </span>
                            </button>
                            <div tabindex="-1" role="menu" aria-hidden="true"
                                class="dropdown-menu-md pb-0 rm-pointers dropdown-menu dropdown-menu-right notification-dropdown">
                                <div class="dropdown-menu-header mb-0">
                                    <div class="dropdown-menu-header-inner bg-midnight-bloom ">
                                        <div class="menu-header-image opacity-1">
                                        </div>
                                        <div class="menu-header-content text-light" id='number-noti'>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="scrollbar-container">
                                        <div class="notifications-box">
                                            <div class="scroll-area-sm">
                                                <div class="scrollbar-container">
                                                    <div class="notification-list">
                                                        <div class="notifications-box" id='idul'>
                                                            <ul class="notifications">

                                                            </ul>
                                                            <div class="w-100 m-auto text-center all-msgs">
                                                                <a href="{% url 'notification-details' %}">
                                                                    View All Notifications
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle user-icon"
                                                src="assets/images/avatar.png" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-menu-header">
                                                <div class="dropdown-menu-header-inner bg-night-sky">
                                                    <div class="menu-header-image opacity-2"
                                                        style="background-image: url('');"></div>
                                                    <div class="menu-header-content text-left">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle"
                                                                        src="/media/{{ request.user.image }}" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">{{user.username }}
                                                                    </div>
                                                                    <div class="widget-subheading opacity-8">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="scroll-area-xs" style="height: 150px;">
                                                <div class="scrollbar-container ps">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-header nav-item">Activity
                                                        </li>
                                                        {% if user.is_superuser == True %}
                                                        <li class="nav-item">
                                                        <li class="nav-item">
                                                            <a href="/profile_admin" class="nav-link">Profile
                                                            </a>
                                                            <a href="/vendor/vendor_reset_passwordfirst"
                                                                class="nav-link">Reset password
                                                            </a>
                                                        </li>
                                                        </li>
                                                        {% else %}
                                                        <li class="nav-item">
                                                            <a href="/vendor/profile_vendor" class="nav-link">Profile
                                                            </a>
                                                        <li class="nav-item">
                                                            <a href="/vendor/vendor_reset_passwordfirst"
                                                                class="nav-link">Reset password
                                                            </a>
                                                        </li>
                                                        </li>
                                                        {% endif %}
                                                        <li class="nav-item">
                                                            <a href="{% url 'logout-admin-vendor' %}"
                                                                class="nav-link">Logout
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow bg-night-sky sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                {% if user.is_superuser == True %}
                <div class="scrollbar-sidebar pt-4">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="nav-item">
                                <a href="{% url 'dashboard' %}">
                                    <i class="metismenu-icon pe-7s-rocket">
                                    </i>Dashboard
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'services' %}">
                                    <i class="metismenu-icon fa fa-cubes">
                                    </i>Category
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'banner' %}">
                                    <i class="metismenu-icon lnr-picture">
                                    </i>Banners
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'package' %}">
                                    <i class="metismenu-icon pe-7s-box2">
                                    </i>Packages
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon lnr-store"></i>
                                    Vendor
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="test-menu">
                                    <li class="">
                                        <a href="{% url 'vendors' %}">
                                            <i class="metismenu-icon">
                                            </i>Vendors
                                        </a>
                                    </li>
                                    <!-- <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Vendor Types
                                        </a>
                                    </li> -->
                                    <li class="">
                                        <a href="{% url 'vendor-approve' %}">
                                            <i class="metismenu-icon">
                                            </i>Vendor Request
                                        </a>
                                    </li>
                                    <!-- <li class="">
                                        <a href="{% url 'package-upgrade' %}">
                                            <i class="metismenu-icon">
                                            </i>Vendor Upgrade Request
                                        </a>
                                    </li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-settings">
                                    </i>Service
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="test-menu">
                                    <li class="">
                                        <a href="{% url 'service-request' %}">
                                            <i class="metismenu-icon">
                                            </i>New services
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'editservice' %}">
                                            <i class="metismenu-icon">
                                            </i>Service update Requests
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="{% url 'add-approve' %}">

                                    <i class="metismenu-icon lnr lnr-list">
                                    </i>Ads
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tax' %}">
                                    <i class="metismenu-icon pe-7s-rocket">
                                    </i>Add Tax
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'unit' %}">
                                    <i class="metismenu-icon pe-7s-rocket">
                                    </i>Create Units
                                </a>
                            </li>
                            <li>
                            <li class="">
                                <a href="{% url 'product-review' %}">
                                    <i class="metismenu-icon pe-7s-note">
                                    </i>Reviews
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'report_admin_customer' %}">
                                    <i class="metismenu-icon lnr-upload">
                                    </i>Customer Complaints
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-news-paper"></i>
                                    Reports
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="test-menu">
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Sales Report
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Product Report
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Vendor Report
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Product Return Report
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Top Selling Product
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="metismenu-icon pe-7s-rocket"></i>
                                            Earnings
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            <li class="">
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Package Wise
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Product Wise
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Commission Wise
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon lnr-chart-bars"></i>
                                    Analytics
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="test-menu ">
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Location Wise
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Device Wise
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Audience Wise
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Vendor Wise
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>


                {% else %}
                <div class="scrollbar-sidebar pt-4">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="">
                                <a href="{% url 'VendorDashboard' %}">
                                    <i class="metismenu-icon pe-7s-rocket">
                                    </i>Dashboard
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'ProductCreation' %}">
                                    <i class="metismenu-icon pe-7s-settings">
                                    </i>Services
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'EnquiryView' %}">
                                    <i class="metismenu-icon pe-7s-headphones">
                                    </i>Enquiries
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'ApproveReview' %}">
                                    <i class="metismenu-icon pe-7s-news-paper">
                                    </i>Reviews
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'product-faq' %}">
                                    <i class="metismenu-icon lnr-picture">
                                    </i>Faq
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'report_vendor_customer' %}">
                                    <i class="metismenu-icon lnr-upload">
                                    </i>Customer Complaints
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'PkgUpdation' %}">
                                    <i class="metismenu-icon pe-7s-box2">
                                    </i>Upgrade Package
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-news-paper"></i>
                                    Reports
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="test-menu">
                                    <li>
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>No of page views
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Call button clicks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="metismenu-icon">
                                            </i>Social media button clicks
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="metismenu-icon pe-7s-rocket"></i>
                                            Page viewers
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Gender
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Location
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Age
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="metismenu-icon pe-7s-rocket"></i>
                                            Ad’s summary
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Duration of the ad
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>No of views / impressions
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>No of clicks
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Cost per click
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="metismenu-icon">
                                                    </i>Click through rate
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>

                {% endif %}

            </div>
            <!-- Main body starts here  -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    {% block content %}
                    {% endblock content %}
                </div>

                <!-- Footer -->
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">

                        </div>
                    </div>
                </div>
                <!-- Footer Ends -->

            </div>

        </div>
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js'></script>
    <script src='https://foliotek.github.io/Croppie/croppie.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script type="text/javascript"
        src="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script>
    <!-- <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->

    <!-- <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
    <!-- <script src="{% static 'assets/js/cropper.min.js' %}"></script> -->
    

    <script>
        var ctx = document.getElementById('dashboardOrderChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: 'Order Statistics 2021-2022', // Name the series
                    data: [25, 30, 55, 15, 75, 150, 44, 95, 85, 95, 110, 75], // Specify the data values array
                    fill: false,
                    borderColor: '#0E6FC9 ', // Add custom color border (Line)
                    backgroundColor: '#0E6FC9 ', // Add custom color background (Points and Fill)
                    hoverBackgroundColor: '#243970',
                    borderWidth: 1 // Specify bar border width
                }]
            },
            options: {
                responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
            }
        });
    </script>

    <!-- Store view graph -->
    <script>
        var ctx = document.getElementById('storeViewGraph');
        var storeViewGraph = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: 'Order Statistics 2021-2022', // Name the series
                    data: [25, 30, 55, 15, 75, 150, 44, 95, 85, 95, 110, 75], // Specify the data values array
                    fill: false,
                    borderColor: '#0E6FC9 ', // Add custom color border (Line)
                    backgroundColor: '#0E6FC9 ', // Add custom color background (Points and Fill)
                    hoverBackgroundColor: '#243970',
                    borderWidth: 1 // Specify bar border width
                }]
            },
            options: {
                responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
            }
        });
    </script>

    <!-- Report Graph -->
    <script>
        var ctx = document.getElementById('reportChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: 'Sales Statistics 2021-2022', // Name the series
                    data: [25, 30, 55, 15, 75, 150, 44, 95, 85, 95, 110, 75], // Specify the data values array
                    fill: false,
                    borderColor: '#0E6FC9 ', // Add custom color border (Line)
                    backgroundColor: '#0E6FC9 ', // Add custom color background (Points and Fill)
                    hoverBackgroundColor: '#243970',
                    borderWidth: 1 // Specify bar border width
                }]
            },
            options: {
                responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
            }
        });
    </script>

    <script>

        Dropzone.autoDiscover = false;
        // Dropzone.options.productform = false;	
        let token = $('meta[name="csrf-token"]').attr('content');
        $(function () {

            var myDropzone = new Dropzone("div#dropzoneDragArea", {
                paramName: "file",
                // url

                // previewsContainer: 'div.dropzone-previews',
                addRemoveLinks: true,
                autoProcessQueue: false,
                uploadMultiple: false,
                dictRemoveFile: "<i class='fa fa-trash'></i>",
                // parallelUploads: 1,
                // maxFiles: 1,
                params: {
                    _token: token
                },
                // The setting up of the dropzone
                init: function () {
                    var myDropzone = this;
                    //form submission code goes here
                    $("form[name='productform']").submit(function (event) {
                        //Make sure that the form isn't actully being sent.
                        event.preventDefault();
                        URL = $("#productform").attr('action');
                        formData = $('#productform').serialize();
                        $.ajax({
                            type: 'POST',
                            url: URL,
                            data: formData,
                            success: function (result) {
                                if (result.status == "success") {
                                    // fetch the useid 
                                    var userid = result.user_id;
                                    $("#userid").val(userid); // inseting userid into hidden input field
                                    //process the queue
                                    myDropzone.processQueue();
                                } else {
                                    console.log("error");
                                }
                            }
                        });
                    });
                    //Gets triggered when we submit the image.
                    this.on('sending', function (file, xhr, formData) {
                        //fetch the user id from hidden input field and send that userid with our image
                        let userid = document.getElementById('userid').value;
                        formData.append('userid', userid);
                    });

                    this.on("success", function (file, response) {
                        //reset the form
                        $('#productform')[0].reset();
                        //reset dropzone
                        $('.dropzone-previews').empty();
                    });
                    this.on("queuecomplete", function () {

                    });

                    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                    // of the sending event because uploadMultiple is set to true.
                    this.on("sendingmultiple", function () {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.
                    });

                    this.on("successmultiple", function (files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.
                    });

                    this.on("errormultiple", function (files, response) {
                        // Gets triggered when there was an error sending the files.
                        // Maybe show form again, and notify user of error
                    });
                }
            });
        });
    </script>

    <!-- product variant -->
    <script type="text/babel">



        class LoopBox extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    tagdata: '',

                };
            }

            options = [{ value: "none", label: "Select Option" }, { value: "size", label: "Size" }, { value: "color", label: "Color" }, { value: "material", label: "Material" }];

            handleChange = (e) => {
                if (this.props.data.option != 'none') {
                    if (e.target.value.includes(',')) {
                        let val = e.target.value.slice(0, -1)
                        if (val) {
                            this.props.addTag({ value: val, option: this.props.data.option })
                            this.setState({ tagdata: '' })
                        }
                    } else {
                        this.setState({ tagdata: e.target.value })
                    }
                }

            }





            render() {




                return (
                    <div class="row variant-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <select onChange={(e) => this.props.chnageOptionVariant(e.target.value)} value={this.props.data.option} class="form-control custom-input custom-select">
                                    {this.options.map(option => {
                                        return (<option value={option.value}>{option.label}</option>);
                                    })}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="bootstrap-tagsinput">
                                {this.props.tagSet.map((item) => <span class="tag label label-info">{item.value}<span data-role="remove" onClick={() => this.props.tagRemove(item.value)}></span></span>)}

                                <input type="text" readonly placeholder="Separate options with a comma" value={this.state.tagdata} onChange={(e) => { this.handleChange(e) }} />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="btn btn-danger remove-variant btn-sm mt-2" onClick={() => this.props.onDelete(this.state.option)}><i class="fa fa-trash"></i> </div>
                        </div>
                    </div>
                )



            }
        }


//     class VariantBox extends React.Component {


//         constructor(props) {
//     super(props);
//     this.state={
//             variantLoop:[{option:'none'}],
//             tagsSet:[],
//             tableLoop:[],
//             tagObj:{},
//             combination:[],       
//         }
//   }
//         componentDidUpdate(prevProps,prevState){

//             if(prevState.tagsSet!==this.state.tagsSet){
//                 this.updateTagCollection()
//             }
//         }
//        updateTagCollection =()=>{
//             var obj=new Array();
//             this.state.tagsSet.forEach(tag => {
//                 obj[tag.index]=[]
//             });
//             this.state.tagsSet.forEach(tag => {
//                 obj[tag.index].push(tag)
//             });
//             var a=[]
//             if(obj.length>0){
//                 //--Deletion-of-first-tagSet-error-fix-------------------
//                 if(!obj[0]){
//                     obj.splice(0,1)
//                 //-tag-remove-fxn-filter-returns-first-element-as-empty
//                 //-if-the-last-element-of-first-variant-is-deleted-fixing-it-
//                 }
//                 a=this.cartesian(obj);
//             }
//             this.setState({combination:a})
//         }
//          cartesian=(args)=> {
//     var r = [], max = args.length-1;
//     function helper(arr, i) {
//         for (var j=0, l=args[i].length; j<l; j++) {
//             var a = arr.slice(0); // clone arr
//             a.push(args[i][j]);
//             if (i==max){
//                 let item={components:a,qty:0,price:0,img:"",}
//                 r.push(item);
//             }
//             else
//                 helper(a, i+1);
//         }
//     }
//     helper([], 0);
//     return r;
// }

//         addVariant =()=>{
//             let data = this.state.variantLoop
//             data.push({option:'none'})
//             this.setState({variantLoop:data})
//         }

//         chnageOptionVariant=(value,index)=>{
//             //-----check-for-reduntant-variants--------
//             var _obj={}          
//             this.state.variantLoop.forEach(x=>{
//                 _obj[x.option]=true
//             })
//             ///---------------------------------------
//             let sdata = this.state.variantLoop
//             let finddata = sdata[index]
//             finddata['option'] = value
//             if(!_obj[value]){
//                 this.setState({variantLoop:sdata})                
//             }
//         }

//         onDelete =(option,index)=>{
//             let data = this.state.variantLoop
//             let tagset = this.state.tagsSet
//             data.splice(index,1)
//             var tags = tagset.filter((el) => {return el.index != index})
//             tags.map((item)=>{

//                     if (item.index > index) {
//                     item.index = item.index - 1
//                     console.log('item',item.index,index)
//                     }
//                 })

//             // this.refs.child.chnageOption()



//             // console.log('after',tagset.filter((el) => {return el.index != index}))
//             this.setState({variantLoop:data,tagsSet:tags})
//         }
//         addTagItem=(item,index)=>{
//             item["index"] = index
//             this.setState({tagsSet:[...this.state.tagsSet,item]})
//             this.generateTable()
//         }

//         generateTable=()=>{

//             let tagsets = this.state.tagsSet

//             var grouped = this.groupBy(tagsets, 'option')
//             for (var key in grouped) {
//                 if (grouped.hasOwnProperty(key)) {


//                 }
//             }
//         }

//          groupBy = (objectArray, property) => {
//                 return objectArray.reduce((acc, obj) => {
//                     const key = obj[property];
//                     if (!acc[key]) {
//                         acc[key] = [];
//                     }
//                     acc[key].push(obj);
//                     return acc;
//                 }, {});
//             }

//         filterTagbyOption=(index)=>{
//             let data = this.state.tagsSet
//             var newArray = 
//             console.log('filter',index,newArray)

//         }
//         //-removes-variant-options/tagSet-------------------
//         tagRemove=(value,index)=>{
//             let indexi = this.state.tagsSet.findIndex( x => x.value === value &&  x.index === index )            
//             this.setState({tagsSet:this.state.tagsSet.filter((_,i)=>i!==indexi)})
//         }
//         handleChange=(e,index)=>{
//             const {name,value} = e.target
//             var a = this.state.combination
//             a[index]={...a[index],[name]:value}
//             this.setState({combination:a})
//         }
//         handleSubmit=(e)=>{
//             e.preventDefault()
//             console.log(this.state.combination); 
//         }
//         handleFileUpload = (e,index)=>{
//             var a = this.state.combination
//             a[index]={...a[index],img:e.target.files[0]}
//             this.setState({combination:a})
//         }
//         generateCombination =()=>{
//            return this.state.combination.map((object, i) =>{
//                 return (
//                             <tr>
//                             <td>{object.components.map((item,index)=>{
//                                 if(index===0)
//                                     return item.value
//                                 return " / " + item.value 
//                             })}</td>

//                                 <td><input type="number" class="form-control custom-input" placeholder="Enter price" name="price" value={object.price}
//                                 onChange={(e)=>this.handleChange(e,i)}
//                                 /></td>
//                                 <td><input type="number" class="form-control custom-input" placeholder="Enter Quantity" name="qty" value={object.qty}
//                                 onChange={(e)=>this.handleChange(e,i)}
//                                 /></td>
//                                 <td><input type="file" class="custom-file-upload" name="myfile" onChange={(e)=>this.handleFileUpload(e,i)} /></td>
//                                 <td><button class="remove-tr btn btn-sm btn-danger table-btn" onClick={(e)=>
//                                     {
//                                      e.preventDefault()
//                                     let a =this.state.combination
//                                         a.splice(i,1)
//                                         this.setState({combination:a})
//                                 }}><i class="fa fa-trash"></i></button></td>
//                             </tr>
//                 )}
//                         )
//                         }

//             render() {
//             return (
//                 <div class="col-md-12 variant-table">

//                     {this.state.variantLoop.map((item,i)=>{
//                       return  (
//                           <LoopBox 
//                           tagSet={this.state.tagsSet.filter((el) => {return el.index == i})} 
//                           tagRemove={(value)=>this.tagRemove(value,i)} 
//                           chnageOptionVariant={(value)=>this.chnageOptionVariant(value,i)} 
//                           onDelete ={(option)=>this.onDelete(option,i)} 
//                           data={item} 
//                           addTag={(sdata)=>this.addTagItem(sdata,i)}/>
//                       );}

//                         ) }

//                     <div class="btn btn-focus more-variant btn-wide btn-sm" onClick={()=>this.addVariant()}>Add More Variant</div>

//                     <table id="myTable" class="table table-hover w-100 table-striped table-bordered custom-table no-footer variant-list mt-4">
//                         <thead>
//                             <tr>
//                                 <th>Variant</th>
//                                 <th>Price</th>
//                                 <th>Quantity</th>
//                                 <th class="w-25">Image</th>
//                                 <th>Delete</th>
//                             </tr>
//                         </thead>
//                         {this.generateCombination()}

//                     </table>
//                     <button onClick={this.handleSubmit}>Submit</button>
//                 </div>
//             )
//             }
//             }




    //   class Variant extends React.Component {

    //     state={
    //         isChecked:false
    //     }


    //     render() {
    //         const myelement = <VariantBox />
    //       return (
    //         <div class="position-relative row form-group mx-0 my-5">
    //             <div class="col-md-12">
    //                 <div class="custom-checkbox custom-control custom-control-inline pb-3" onClick={(event) => this.setState({isChecked:!this.state.isChecked})}>
    //                     <input type="checkbox" name="has-variant" class="custom-control-input has-variant custom-checkbox" checked={this.state.isChecked}   />
    //                     <label class="custom-control-label" for="has-variant">This product has multiple options, like different sizes or colors</label>
    //                 </div>
    //             </div>
    //                 {this.state.isChecked && myelement}
    //         </div>
    //       )
    //     }
    //   }

    //   ReactDOM.render(<Variant />, document.getElementById('myvariant'))
    </script>

    <script>

        $(".gambar").attr("src", "https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg");
        function imageedit(x, y, z) {
           

            if ($(z).get(0).files.length !== 0) {
                $(z).val(null);
            }
            var $uploadCrop,
                rawImg,
                imageId;
            function readFile(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.upload-demo').addClass('ready');
                        $('#cropImagePop').modal('show');
                        rawImg = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    swal("Sorry - you're browser doesn't support the FileReader API");
                }
            }

            $uploadCrop = $('#upload-demo').croppie({

                viewport: {
                    width: 150,
                    height: 200,
                },

                enforceBoundary: false,
                enableExif: true
            });
            $('#cropImagePop').on('shown.bs.modal', function () {

                // alert('Shown pop');
                $uploadCrop.croppie('bind', {
                    url: rawImg
                }).then(function () {
                    console.log('jQuery bind completeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee');
                });
            });

            $('.item-img').on('change', function () {
                imageId = $(this).data('id'); tempFilename = $(this).val();
                $('#cancelCropBtn').data('id', imageId); readFile(this);
            });
            $('#cropImageBtn').on('click', function (ev) {
                $uploadCrop.croppie('result', {
                    type: 'base64',
                    format: 'jpeg',
                    size: { width: 370, height: 370 }
                }).then(function (resp) {
                    $(x).attr('src', resp);
                    $(y).attr('value', resp);
                    $('#cropImagePop').modal('hide');
                    $('#image-error').css('display', 'none');
                });
            });

        }
        // Start upload preview image

				// End upload preview image
    </script>
    <script>
        $('.nav li').click(function () {
            $('.nav li').removeClass('active');
            $(this).addClass('active');
        })
    </script>
    <script>
         $(".gambar").attr("src", "https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg");
        function bannerimage(x, y, z) {

            if ($(z).get(0).files.length !== 0) {
                $(z).val(null);
            }
            var $uploadCrop,
                rawImg,
                imageId;
            function readFile(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.upload-demo').addClass('ready');
                        $('#cropImagePop').modal('show');
                        rawImg = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    swal("Sorry - you're browser doesn't support the FileReader API");
                }
            }

            $uploadCrop = $('#upload-demo').croppie({

                viewport: {
                    width: 400,
                    height: 200,
                },
            });
            $('#cropImagePop').on('shown.bs.modal', function () {

                // alert('Shown pop');
                $uploadCrop.croppie('bind', {
                    url: rawImg
                }).then(function () {
                    console.log('jQuery bind completeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee');
                });
            });

            $('.item-img').on('change', function () {
                imageId = $(this).data('id'); tempFilename = $(this).val();
                $('#cancelCropBtn').data('id', imageId); readFile(this);
            });
            $('#cropImageBtn').on('click', function (ev) {
                $uploadCrop.croppie('result', {
                    type: 'base64',
                    format: 'jpeg',
                    quality:1,
                    size: { height: 400, type: 'canvas' },
                    enableResize: false,enableExif: true,
                }).then(function (resp) {
                    $(x).attr('src', resp);
                    $(y).attr('value', resp);
                    $('#cropImagePop').modal('hide');
                    $('#image-error').css('display', 'none');
                });
            });

        }
    </script>
    <script>
        $(document).ready(function () {

            console.log("hiiiiiiiiiiiiiii")
            $.ajax({

                type: "GET",
                url: '/notification',

                success: function (responsedata) {
                    var count = 0
                    console.log(responsedata)
                    $.each(responsedata, function (key, value) {

                        var title = value['fields']['title']
                        var date = value['fields']['recieved_date']
                        var message = value['fields']['message']
                        var get_url = value['fields']['ulr_typ']
                        var getid = value['pk']
                        // console.log(getid, 'kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk')
                        var splitdate = date.split('T')[0];

                        if (value['fields']['read'] == false) {
                            count = count + 1

                        }
                        $("#idul ul").append(`  <li class="new"> <a href="${get_url}"onclick="changenotification(${getid})">
                    <div class="message-div bounce-in">
                    <h4 class="msg-title"> ${title}</h4>
                    <small class="sub">${message}</small>
                    <small class="date">${splitdate}</small>
                    </div>
                    </a>
                </li>`);

                    });
                    if (count > 0) {

                        $('#newnoti').addClass(" badge-danger")
                        // $('#newnoti').toggleClass("badge badge-dot badge-dot-sm badge-danger");

                    }

                    $("#number-noti").append(`<h5 class="menu-header-title">Notifications</h5>
                                            <h6 class="menu-header-subtitle">You have <b>${count}</b> unread messages</h6>`);



                }
            })

        });

    </script>
    <script>
        function changenotification(id) {
            console.log("done")

            $.ajax({

                type: "GET",
                url: '/editnotification',
                data: { varid: id },
                success: function (resp) {
                    console.log(resp)


                }
            });

        }



        function deletedate() {

            $('#fromDate').val(null);
            $('#toDate').val(null);
        }

    </script>
    
<script src="{% static 'assets/js/priceandunit.js' %}"></script>



</body>


</html>