{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Category
                <div class="page-title-subheading">You can view all created categories here and create new category by
                    clicking Create Category button
                </div>
            </div>
        </div>
        <div class="page-title-actions pt-3">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target=".mainCatModal">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-cubes fa-w-20"></i>
                    </span>
                    Create Category
                </button>
                <button type="button" class="btn-shadow btn btn-info btn btn-hover-shine ml-3" data-toggle="modal"
                    data-target=".subCatModal">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-cubes fa-w-20"></i>
                    </span>
                    Create Sub Category
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                {% if category|length == 0 %}
                <div class="text-center">No data found!</div>
                {% else %}
                <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for i in category %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.category_name}}</td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn"
                            onclick="categoryEdit('{{i.id}}', '{{i.category_name}}')" data-toggle="modal"
                            data-target="#editCategory">Edit</button></td>
                    <td><button class="btn btn-danger btn-wide btn-sm table-btn" onclick="categoryDelete('{{i.id}}')"
                            data-toggle="modal" data-target="#deleteCategory">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- New category creation UI -->
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Category
                <div class="page-title-subheading">You can view all created categories here and create new category by
                    clicking Create Category button
                </div>
            </div>
        </div>
        <div class="page-title-actions pt-3">
            <div class="d-inline-block dropdown">
                <button type="button" class="btn-shadow btn theme-dark-btn btn btn-hover-shine  text-light"
                    data-toggle="modal" data-target=".mainCatModal">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-cubes fa-w-20"></i>
                    </span>
                    Create Category
                </button>
                <button type="button" class="btn-shadow btn btn-info btn btn-hover-shine ml-3" data-toggle="modal"
                    data-target=".subCatModal">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-cubes fa-w-20"></i>
                    </span>
                    Create Sub Category
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card table-card no-filter">
    <div class="card-body">
        <!-- <button class="btn btn-hover-shine btn-wide btn-sm btn-secondary filter-btn">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-filter"></i>
            </span>
            Filter
        </button> -->
        <table class="table table-hover w-100 table-striped table-bordered datasort-table custom-table">
            <thead>
                <div class="text-center">No data found!</div>

                <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th class="nosort-th">Edit</th>
                    <th class="nosort-th">Delete</th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-focus btn-wide btn-sm table-btn" data-toggle="modal"
                            data-target="#editCategory">Edit</button></td>
                    <td><button class="btn btn-danger btn-wide btn-sm table-btn" data-toggle="modal"
                            data-target="#deleteCategory">Delete</button></td>
                </tr>
                @endforeach
            </tbody>
        </table>
    </div>
</div>

<!-- New category creation UI -->
<div class="row">
    <div class="app-inner-layout chat-layout w-100">
        <div class="app-inner-layout__wrapper row-fluid no-gutters category-layout">
            <div class="app-inner-layout__sidebar bg-transparent card border-0">
                <div class="p-3">
                    <div
                        class="dropdown-menu nav p-0 dropdown-menu-inline dropdown-menu-rounded dropdown-menu-hover-primary">
                        <h6 tabindex="-1" class="pt-0 dropdown-header pl-0 pb-3">Main Category</h6>
                        <a href="#cat-1" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item show active"
                            aria-expanded="true">Top wear</a>
                        <a href="#cat-2" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item show "
                            aria-expanded="true">Botom wear</a>
                        <a href="#cat-3" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item show"
                            aria-expanded="true">Footwear</a>
                    </div>
                </div>
            </div>
            <div class="row mx-0 card w-100 mt-4">
                <div class="p-3">
                    <div class="mobile-app-menu-btn mb-3">
                        <button type="button" class="hamburger hamburger--elastic"><span class="hamburger-box"><span
                                    class="hamburger-inner"></span></span></button>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="cat-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="title">Top Wear </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-focus table-btn" data-toggle="modal"
                                        data-target=".editModal"><i class="lnr-pencil"></i></button>
                                    <button class="btn btn-danger table-btn ml-3"><i class="lnr-trash"></i></button>
                                </div>
                            </div>
                            <div class="divider mt-0"></div>
                            <div class="table-responsive">
                                <table class="mb-0 table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sub Category</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Shirt</td>
                                            <td><button class="btn btn-focus table-btn" data-toggle="modal"
                                                    data-target=".editSubModal">Edit</button></td>
                                            <td><a href=""><button class="btn table-btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>T Shirt</td>
                                            <td><button class="btn btn-focus table-btn" data-toggle="modal"
                                                    data-target=".editSubModal">Edit</button></td>
                                            <td><a href=""><button class="btn table-btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane show" id="cat-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="title">Bottom Wear </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-focus table-btn" data-toggle="modal"
                                        data-target=".editModal"><i class="lnr-pencil"></i></button>
                                    <button class="btn btn-danger table-btn ml-3"><i class="lnr-trash"></i></button>
                                </div>
                            </div>
                            <div class="divider mt-0"></div>
                            <div class="table-responsive">
                                <table class="mb-0 table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sub Category</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Jeans</td>
                                            <td><button class="btn btn-focus table-btn" data-toggle="modal"
                                                    data-target=".editSubModal">Edit</button></td>
                                            <td><a href=""><button class="btn table-btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane show" id="cat-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="title">Footwear </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-focus table-btn" data-toggle="modal"
                                        data-target=".editModal"><i class="lnr-pencil"></i></button>
                                    <button class="btn btn-danger table-btn ml-3"><i class="lnr-trash"></i></button>
                                </div>
                            </div>
                            <div class="divider mt-0"></div>
                            <div class="table-responsive">
                                <table class="mb-0 table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sub Category</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Shoes</td>
                                            <td><button class="btn btn-focus table-btn" data-toggle="modal"
                                                    data-target=".editSubModal">Edit</button></td>
                                            <td><a href=""><button class="btn table-btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Slippers</td>
                                            <td><button class="btn btn-focus table-btn" data-toggle="modal"
                                                    data-target=".editSubModal">Edit</button></td>
                                            <td><a href=""><button class="btn table-btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@endsection


@push('scripts')

<script>
    categoryEdit = (id, category) => {
        document.getElementById('category1').value = category;
        document.getElementById('category_id').value = id;
    }

    categoryDelete = (id) => {
        document.getElementById('category_delete_id').value = id;
    }
</script>
<!-- Create category Modal -->
<div class="modal fade custom-modal" id="createCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="POST">
                    @csrf
                    <div class="position-relative form-group">
                        <label for="categoryName" class="custom-label">Category Name</label>
                        <input name="category" id="categoryName" placeholder="Enter Category name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit category Modal -->
<div class="modal fade custom-modal" id="editCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="POST" id="category_edit">
                    @csrf
                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label">Category Name</label>
                        <input name="category" id="category1" placeholder="Enter Category name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <input type="hidden" name="id" id="category_id">
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete category Modal -->
<div class="modal fade custom-modal" id="deleteCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Category</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="POST">

                    <div class="position-relative form-group">
                        <label for="editCategoryName" class="custom-label">Are you sure do you want to delete?</label>
                    </div>
                    <input type="hidden" name="id" id="category_delete_id">
                    <button type="button" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger text-light btn-wide btn-sm mt-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- ********************************************** New cateogory modal UI *************************** -->


<!-- main category modal -->
<div class="modal fade mainCatModal custom-modal" tabindex="-1" role="dialog" aria-labelledby="mainCatModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mainCatModalLabel">Main category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class="position-relative form-group">
                        <label for="categoryName" class="custom-label">Category Name</label>
                        <input name="category" id="categoryName" placeholder="Enter Category name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- sub category modal -->
<div class="modal fade subCatModal custom-modal" tabindex="-1" role="dialog" aria-labelledby="subCatModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subCatModalLabel">Sub category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class="position-relative form-group">
                        <label for="toDate" class="custom-label">Category</label>
                        <select name="" id="" class="form-control custom-select">
                            <option value="">Select Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>
                    <div class="position-relative form-group mt-4">
                        <label for="subCategoryName" class="custom-label">Sub Category Name</label>
                        <input name="category" id="subCategoryName" placeholder="Enter Sub Category name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade editModal custom-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class="position-relative form-group">
                        <label for="categoryName" class="custom-label">Category Name</label>
                        <input name="category" id="categoryName" placeholder="Enter Category name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit sub category modal -->
<div class="modal fade editSubModal custom-modal" tabindex="-1" role="dialog" aria-labelledby="editSubModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSubModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class="position-relative form-group">
                        <label for="toDate" class="custom-label">Category</label>
                        <select name="" id="" class="form-control custom-select">
                            <option value="">Select Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>
                    <div class="position-relative form-group mt-4">
                        <label for="subCategoryName" class="custom-label">Sub Category Name</label>
                        <input name="category" id="subCategoryName" placeholder="Enter Sub Category name" type="text"
                            class="form-control custom-input ">
                    </div>
                    <button type="submit" class="btn theme-dark-btn text-light btn-wide btn-sm mt-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}